<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>Pentaworks Service</title>
    <!-- cmmnFragment -->
    <th:block th:replace="fragment/cmmn :: cmmnFragment" ></th:block>
</head>

<body>
    <div id="app" v-cloak>
        <!-- headerFragment -->
        <th:block th:replace="fragment/header :: headerFragment"></th:block>
        <!-- container -->
        <div id="container">
            <div class="fixedWidth" :style="[dpOpenCss ? {'min-height': dpOpenCss } : {}]">
                <!-- lnbFragment -->
                <th:block th:replace="fragment/lnb :: lnbFragment"></th:block>
                <!-- content -->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
        <!-- //container -->
        <!-- footerFragment -->
        <th:block th:replace="fragment/footer :: footerFragment"></th:block>
        <!-- layerFragment -->
        <th:block layout:fragment="layer"></th:block>
    </div>
    <!-- layerFragment -->
    <th:block layout:fragment="script"></th:block>
</body>

</html>