<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>Pentaworks Service</title>
    <!-- cmmnFragment -->
    <th:block th:replace="fragment/cmmn :: cmmnFragment" ></th:block>
</head>

<body>
    <!-- headerFragment -->
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <!-- container -->
    <div id="container">
        <div class="fixedWidth">
            <!-- lnbFragment -->
            <th:block th:replace="fragment/lnb :: lnbFragment"></th:block>
            <!-- content -->
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <!-- //container -->
    <!-- footerFragment -->
    <th:block th:replace="fragment/footer :: footerFragment"> </th:block>
</body>

</html>