@charset 'UTF-8';

/* ------------------------------ 
 * Description:
 * Modified-date: 2016.00.
 * ------------------------------ */

/* 아이디 비밀번호 찾기 팝업 */
.idpwFind .txtTit {
 	margin-bottom:14px;
}
 .idpwFind .resultArea {
 	padding:16px 20px;
 	background:#f1f4f6;
 }
 .idpwFind .resultArea strong {
 	font-size:12px;
 }
 .idpwFind .resultArea .txtEtc {
 	margin-bottom:10px;
}
 .idpwFind .resultArea .ppInfo {
 	line-height:20px;
 }
