@charset 'UTF-8';

/* ------------------------------ 
 * Description:
 * Modified-date:
 * ------------------------------ */

.fixedWidth { width:1280px; }

/* ----- Header ----- */
.header { width:100%; height:50px; border-bottom:1px solid #cbd2db; }
.header .fixedWidth { height:50px; background:#fff; overflow:hidden; border-bottom:1px solid #cbd2db;  }
.header .logo { float:left; margin-top:12px; margin-left: 16px; }
.header .headerRight { float:right; overflow:hidden; font-size:11px; margin-top:16px; margin-right:20px; }
.header .headerRight p { float:left; margin-left:22px; overflow:hidden; color:#666; }
.header .headerRight p span { color:#4a89dc; }
.header .headerRight .hdUser { background:url('../../images/cmmn/bg-i-user.gif') no-repeat; margin-top:2px; padding-left:20px; }
.header .headerRight .hdUser em { color:#4a89dc; }
.header .headerRight .hdTime { background:url('../../images/cmmn/bg-i-time.gif') no-repeat; margin-top:2px; padding-left:20px; }
.header .headerRight .hdTime em { color:#4a89dc; font-weight:bold; margin-right:6px; }
.header .headerRight .hdTime a { vertical-align:top; }
.header .headerRight .hdTime a:hover {text-decoration:underline; }
.header .headerRight .hdLogout a { width:17px; height:18px; display:inline-block; background:url('../../images/cmmn/btni-logout.gif') no-repeat; overflow:hidden;color:transparent;text-indent:-9999; }

/* ----- 검색 ----- */
.searchArea { position:relative; background:#f9f9f9; border:1px solid #eee; padding:7px 82px 7px 20px; }
.searchArea>ul { width:100%; display:table; table-layout:fixed; }
.searchArea>ul>li { display:table-cell; }
.searchArea input { padding-left:4px; padding-right:4px; }
.searchArea label { font-weight:bold; color:#333; line-height:23px; margin-right:6px; }
.searchArea .txtSize3.grouping input, .searchArea .txtSize3.grouping select { width:78%; }
.searchArea .txtSize0 input, .searchArea .txtSize0 select { width:88.8%; }
.searchArea .txtSize2 input, .searchArea .txtSize2 select { width:74.5%; }
.searchArea .txtSize3 input, .searchArea .txtSize3 select { width:69%; }
.searchArea .txtSize4 input, .searchArea .txtSize4 select { width:64%; }
.searchArea .txtSize5 input, .searchArea .txtSize5 select { width:58.7%; }
.searchArea .txtSize6 input, .searchArea .txtSize6 select { width:53.25%; }
.searchArea .txtSize7 input, .searchArea .txtSize7 select { width:49.7%; }
.searchArea .txtSize8 input, .searchArea .txtSize8 select { width:47%; }

/* 검색항목이 5개일경우 (기본4개) */
.searchArea.item5  .txtSize3 input, .searchArea.item5 .txtSize3 select  { width:61%;  } 
.searchArea.item5  .txtSize4 input, .searchArea.item5 .txtSize4 select  { width:55%;  } 
.searchArea.item5 .periodSelect .wDate  {  width:53% !important; }

.searchArea .btnSearch { position:absolute; right:20px; top:7px; }
.searchArea .periodSelect { _float:left; display:inline-block;_padding-right:30px;}
.searchArea .periodSelect .wDate {  width:73% !important; }


/* ----- 검색 : 단일 input의 경우 ----- */
.searchArea.sty1 li  { display:inline; }
.searchArea.sty1 .txtSize2 input, .searchArea.sty1 .txtSize2 select { width:93.5%; }

/* ----- 팝업 조회 단일 input의 경우 ----- */
.searchArea.sty1-pop li  { display:inline; }
.searchArea.sty1-pop .txtSize2 input, .searchArea.sty1-pop .txtSize2 select { width:84%; }
.searchArea.sty1-pop .txtSize3 input, .searchArea.sty1-pop .txtSize3 select { width:85%; }

/* ----- 검색 : 기간입력폼 ----- */
.searchArea.sty2>ul>li { width:25% !important; position:relative; }
.searchArea.sty2>ul>li:first-child { width:18% !important; }
.searchArea.sty2>ul>li:first-child select { width:64.5%;  }
.searchArea.sty2>ul>li:nth-child(2) { width:32% !important; }
.searchArea .periodSelect {position:absolute; display:inline-block; }
.searchArea.sty2 .periodSelect .wDate  { width:30% !important; }

/* ----- 검색 : select>input ----- */
.searchArea.sty2-2>ul>li {}
.searchArea.sty2-2>ul>li:first-child { width:35% !important; }
.searchArea.sty2-2>ul>li:nth-child(2) { width:65% !important; }
.searchArea.sty2-2 .txtSize2 input, .searchArea.sty2-2 .txtSize2 select { width:90%; }
.searchArea.sty2-2 .txtSize4 input, .searchArea.sty2-2 .txtSize4 select { width:73.5%; }
.searchArea.sty2-2 .periodSelect {position:absolute; display:inline-block; }

/* ----- 검색 : 기간입력폼 ----- */
.searchArea.sty3>ul>li { position:relative; }
.searchArea.sty3>ul>li:first-child { width:30% !important; }
.searchArea.sty3>ul>li:nth-child(2) { width:40% !important; }
.searchArea.sty3>ul>li:nth-child(3) { width:30% !important; }
.searchArea.sty3 .txtSize2 input, .searchArea.sty3 .txtSize2 select { width:78%; }
.searchArea.sty3 .txtSize3 input, .searchArea.sty3 .txtSize3 select { width:74%; }
.searchArea.sty3 .txtSize5 input, .searchArea.sty3 .txtSize5 select { width:65.4%; }
.searchArea.sty3 .periodSelect {position:absolute; display:inline-block; }
.searchArea.sty3 .periodSelect .wDate  { width:34% !important; }

/* 검색영역 > 계약정보 출력 */
.contracInfo { position:relative; background:#f9f9f9; border:1px solid #eee; padding:10px 20px; }
.contracInfo>ul { width:100%; display:table; table-layout:fixed; }
.contracInfo>ul>li { _overflow:hidden; display:table-cell; }
.contracInfo>ul>li { margin-bottom:4px; }
.contracInfo>ul>li:last-child {margin-bottom:0;}

/* ----- Footer ----- */
#footer { position:relative; color:#999; font-size:11px; border-top:1px solid #eee; text-align:center; height:34px; }
#footer .fixedWidth { position:absolute; top:-1px; left:0; padding-top:10px; border-top:1px solid #eee; }

/* 위로이동 */
.goTop > a.btnGoTop { display:none;position:fixed; bottom:50px;}

/* webKit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.familySiteWrapper select { padding:3px; line-height:20px;}
}

/* ----- LNB영역 ----- */
/* LNB영역 접고펴기 */
#foldUnfold { position:absolute; top:0; left:-20px; z-index:100;}
.btnFold { display:block;width:14px; height:36px; background:url('../../images/cmmn/bg-btn-fold.gif') 0 0 no-repeat;}
.btnFold.hide { background-position:-14px 0;}
.btnFold > span {position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}

/* LNB: 메뉴 */
.sectionLeft .lnbBgBox { display:inline-block; }
.sectionLeft .accordion { width:200px; border-top:0; border-bottom:1px solid #ddd;  }
.sectionLeft .accordion a { display:block; padding:5px 6px;}
.sectionLeft .accordion a>span { display:block; }

/* 1차메뉴 */
.sectionLeft .accordion .dep1 { color:#555; font-size:13px; font-weight:bold; letter-spacing:-1px; padding:11px 18px 11px 18px; line-height:1; border-right:1px solid #ddd;  
/*-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; */}
.sectionLeft .accordion .dep1>span { background:url('../../images/cmmn/lnb-arrow-normal.gif') 100% 50% no-repeat;}
.sectionLeft .accordion .on .dep1>span { background:url('../../images/cmmn/lnb-arrow-active.gif') 100% 50% no-repeat;}
.sectionLeft .accordion .dep1:hover, .sectionLeft .accordion .dep1:active {text-decoration:none;}
.sectionLeft .accordion .depthBox { background:#eee;}

/* 2차메뉴*/
.sectionLeft .accordion>li>ul {display:none; padding:10px 0; border-right:1px solid #ddd; }
.sectionLeft .accordion>li>ul { border-top:1px solid #b3b3b3;}
.sectionLeft .accordion>li>ul>li { line-height:1.4;}
.sectionLeft .accordion>li>ul>li>a { padding-left:16px; }
.sectionLeft .accordion>li>ul>li>a:hover { text-decoration:underline; }
.sectionLeft .accordion>li>ul>li>a:active,
.sectionLeft .accordion>li .current > a { text-decoration:underline; color:#2b4f91; }
.sectionLeft .accordion>li>ul>li a>span { display:inline; }
.sectionLeft .accordion>li>ul>li .ico-vendor { background:url('../../images/cmmn/lnb-i-vendor.png'); }
.sectionLeft .accordion>li>ul>li .ico-user { background:url('../../images/cmmn/lnb-i-user.png'); }
.sectionLeft .accordion>li>ul>li .ico-pw { background:url('../../images/cmmn/lnb-i-pw.png'); }
.sectionLeft .accordion>li>ul>li .ico-list { background:url('../../images/cmmn/lnb-i-list.png'); }
.sectionLeft .accordion>li>ul>li .ico-chk { background:url('../../images/cmmn/lnb-i-chk.png'); }
.sectionLeft .accordion>li>ul>li .ico-nfc { background:url('../../images/cmmn/lnb-i-nfc.png'); }
.sectionLeft .accordion>li>ul>li .ico-nfc2 { background:url('../../images/cmmn/lnb-i-nfc2.png'); }
.sectionLeft .accordion>li>ul>li .ico-notice { background:url('../../images/cmmn/lnb-i-notice.png'); }
.sectionLeft .accordion>li>ul>li .ico-quest { background:url('../../images/cmmn/lnb-i-quest.png'); }
.sectionLeft .accordion>li>ul>li .ico-monitor { background:url('../../images/cmmn/lnb-i-monitor.png'); }
.sectionLeft .accordion>li>ul>li .ico-part { background:url('../../images/cmmn/lnb-i-part.png'); }
.sectionLeft .accordion>li>ul>li .ico-plus { background:url('../../images/cmmn/lnb-i-plus.png'); }
.sectionLeft .accordion>li>ul>li .ico-money { background:url('../../images/cmmn/lnb-i-money.png'); }
.sectionLeft .accordion>li>ul>li .ico-maintain { background:url('../../images/cmmn/lnb-i-maintain.png'); }
.sectionLeft .accordion>li>ul>li .ico-pp { background:url('../../images/cmmn/lnb-i-pp.png'); }
.sectionLeft .accordion>li>ul>li .ico-cal { background:url('../../images/cmmn/lnb-i-calculator.png'); }
.sectionLeft .accordion>li>ul>li .ico-asset { background:url('../../images/cmmn/lnb-i-asset.png'); }
.sectionLeft .accordion>li>ul>li .ico-result { background:url('../../images/cmmn/lnb-i-result.png'); }
.sectionLeft .accordion>li>ul>li img { vertical-align:top; float:left; margin-right:6px;width:16px;height:16px; }
.sectionLeft .accordion>li>ul>li.current img { background-position:0 -16px; }
.sectionLeft .accordion>li>ul>li a>span.letterS { letter-spacing:-1px !important; }

/* 3차메뉴 : 현재는 사용안함 */
.sectionLeft .accordion>li>ul>li>ul { display:none;}
.sectionLeft .accordion>li>ul>li>ul>li>a:before { content:'-'; padding-left:10px; margin-right:5px;}

/* 메뉴활성화 */
.sectionLeft .accordion .on .dep1 { color:#fff;} 

.sectionLeft .accordion .dep1 { 
	border-top:1px solid #ddd;
	background-color:#ffffff;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f3f8 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f3f8 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%, #f1f3f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f8',GradientType=0);
}
.sectionLeft .accordion .dep1.active, 
.sectionLeft .accordion .on .dep1 {
	_border-top:1px solid #264681 !important;
	border-right:1px solid #264681 !important;
	background-color:#294c8b;
	background-image: -moz-linear-gradient(top, #294c8b 0%, #2b4f91 100%);
	background-image: -webkit-linear-gradient(top, #294c8b 0%, #2b4f91 100%);
	background-image: linear-gradient(to bottom, #294c8b 0%, #2b4f91 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#294c8b', endColorstr='#2b4f91',GradientType=0);
}
.sectionLeft .accordion li:first-child .dep1 { 
	border-top:0;
}
.sectionLeft .accordion li.on:first-child .dep1 { 
	_border-top:1px solid #294c8b !important;
}

/* ----- 서브 공통요소 ----- */
.topBoxHomeUtil > h1 { left:30px;}
#container > .fixedWidth { position:relative; overflow:hidden; background:#fff url('../../images/cmmn/bg-lnb-line.gif') 0 0 repeat-y;}
#container > .fixedWidth > div {float:left;}

/* 컨텐츠 영역 사이즈 [좌 200 / 우 1040 (여백 20] */
.topBoxHomeUtil, #container > .fixedWidth { width:1280px; }
.sectionLeft  { width:200px; position:relative;}
.sectionRight { width:1060px;}

/* 넓게보기 상태 */
.stateWide .contentWrap { width:1040px; }
.stateWide .onlyWideView {  }

/* 본문시작 */
.contentWrap { padding-left:20px; min-height:600px; background:#fff;}
.contentWrap .onlyWideView { padding-bottom:40px; _border-top:1px solid #ddd;}

/* 현재 페이지 위치 */
.subHeader { position:relative; border-bottom:2px solid #8d9ebd; margin-bottom:14px; height:45px; }
.subHeader:after {display:table; clear:both; content:'';}
.subHeader h2.h2 { float:left; color:#0093e4; font-size:16px; padding:14px 0 8px 14px;line-height:20px; }
.subHeader h2.h2 .ico-vendor { background:url('../../images/cmmn/h2-i-vendor.png'); }
.subHeader h2.h2 .ico-user { background:url('../../images/cmmn/h2-i-user.png'); }
.subHeader h2.h2 .ico-pw { background:url('../../images/cmmn/h2-i-pw.png'); }
.subHeader h2.h2 .ico-list { background:url('../../images/cmmn/h2-i-list.png'); }
.subHeader h2.h2 .ico-chk { background:url('../../images/cmmn/h2-i-chk.png'); }
.subHeader h2.h2 .ico-nfc { background:url('../../images/cmmn/h2-i-nfc.png'); }
.subHeader h2.h2 .ico-nfc2 { background:url('../../images/cmmn/h2-i-nfc2.png'); }
.subHeader h2.h2 .ico-notice { background:url('../../images/cmmn/h2-i-notice.png'); }
.subHeader h2.h2 .ico-quest { background:url('../../images/cmmn/h2-i-quest.png'); }
.subHeader h2.h2 .ico-monitor { background:url('../../images/cmmn/h2-i-monitor.png'); }
.subHeader h2.h2 .ico-part { background:url('../../images/cmmn/h2-i-part.png'); }
.subHeader h2.h2 .ico-plus { background:url('../../images/cmmn/h2-i-plus.png'); }
.subHeader h2.h2 .ico-money { background:url('../../images/cmmn/h2-i-money.png'); }
.subHeader h2.h2 .ico-maintain { background:url('../../images/cmmn/h2-i-maintain.png'); }
.subHeader h2.h2 .ico-pp { background:url('../../images/cmmn/h2-i-pp.png'); }
.subHeader h2.h2 .ico-cal { background:url('../../images/cmmn/h2-i-calculator.png'); }
.subHeader h2.h2 .ico-asset { background:url('../../images/cmmn/h2-i-asset.png'); }
.subHeader h2.h2 .ico-result { background:url('../../images/cmmn/h2-i-result.png'); }
.subHeader h2.h2 img { vertical-align:2px; float:left; margin-right:10px;width:20px;height:20px; }
.subHeader .pageLocation { float:right; font-size:11px; color:#777; padding-top:18px; }
.subHeader .pageLocation span { padding:0 4px; }
.subHeader .pageLocation strong { padding-left:4px; }

/* 컨텐츠 타이틀 */
.contentTitle { overflow:hidden; margin:20px 0 8px 0; height:23px; }
.contentTitle.mt0 { margin-top:0; }
.contentTitle .cTit { float:left; margin-top:4px; padding-left:20px; font-size:13px; font-weight:bold; 
color:#0093e4; background:url('../../images/cmmn/bul-contit.gif') 6px center no-repeat; }
.contentTitle .cTitRight { float:right; }
.contentTitle .cTitRight>div, .contentTitle .cTitRight>div.btn { display:inline-block; }
.contentTitle .numbering { color:#333 !important; }

.contentSlide .contentTitle .cTit { cursor:pointer; }
.contentSlide .icon {
	display:inline-block;
	width:13px;
	height:13px;	
	margin-left:6px;
	margin-top:2px;
	vertical-align:top;
	background:url('../../images/cmmn/bg-i-tit.png') no-repeat;
}
.contentSlide .icon-close {
	background:url('../../images/cmmn/bg-i-tit.png') no-repeat;
	background-position: 0 -20px;
}

/* ----- 버튼 ----- */
.btnWrapper { margin-top:20px; text-align:center;}
.btnWrapper > a { margin-left:10px;}
.btnWrapper > a:first-child {margin-left:0;}
.layerContainer .btnWrapper { margin-top:20px;}

a[class^=btn], button[class^=btn]{ display:inline-block; vertical-align:middle; text-align:center; text-decoration:none;}
a[class^=btn]:hover, a[class^=btn]:active {text-decoration:none;}
a[class^=btn] > span, button[class^=btn] > span { display:block;}

.btnTxt { text-decoration:underline; }
.btnS { height:21px; padding:0 8px; font-size:11px; font-family:dotum,'돋움',Sans-serif; }
.btnM { min-width:44px; height:23px; padding:0 9px; font-size:11px; border-radius: 2px;}
.btnL { height:34px; padding:0 28px; font-size:13px; font-weight:bold; border-radius:2px;}
.btnS>span {padding:4px 0; line-height:1.4;}
.btnM>span {padding:4px 0; line-height:1.4;}
.btnL>span {padding:6px 0; line-height:1.5;}


/* ie9 */
@media all and (min-width:0\0) and (min-resolution: .001dpcm){
	/* 그라데이션 BG가 border-radius를 적용하지 못해서 둥근모서리 제외 */
	.btnL { border-radius:0;}
}


.btnS.colorLight { border:1px solid #ccc; background-color:#fff; }
.btnS.colorGray { border:1px solid #959595; background-color:#a7a9ac; color:#fff; }
.btnS.colorWhite { border:1px solid #959595; background-color:#fff;border:1px solid #a3daff; color:#0093e4; }
.btnM.colorBlue { color:#fff; background-color:#2b4f91; }
.btnM.colorSky { color:#fff; background-color:#11b2ee; }
.btnM.colorGray { color:#fff; background-color:#989faa; }
.btnM.colorOrg { color:#fff; background-color:#f7941d; }
.btnM.colorGreen { color:#fff; background-color:#3cb878; }
.btnL.colorBlue { color:#fff; background-color:#2b4f91; }
.btnL.colorGray { color:#fff; background-color:#989faa; }

a[class^=btn].disabled {cursor:default; color:#a5a5a5; border-color:#ddd; background:#eeeeee !important; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0)}
.btnS.disabled { border:1px solid #ddd; } 

/* ----- 테이블 ----- */
table { table-layout:fixed; width:100%;}
table th, table td { padding:6px 0; font-size:11px; border:1px solid #e1e3e8; border-width:0 0 1px 1px;}
table .displayNone {display:none; width:0; height:0;font-size:0;}

/* 정렬 */
table .leftTxt {text-align:left !important; padding-left:8px;}
table .rightTxt {text-align:right !important; padding-right:8px;}
table .cenTxt {text-align:center !important;}
table .numMoney {text-align:right !important;}
table .numMoney>div {padding-right:10px;}
table .numMoney.amount {font-weight:bold;}

/* 테이블 내용없음 상태 */
.delayMessage > span,.errorMessage > span {display:inline-block;}
.delayMessage { padding:15px 0 15px; text-align:center;}
.delayMessage > span { color:#777;}
.delayMessage > span > strong { display:block; padding-top:48px; color:#333; font-size:16px; background:url('../../images/cmmn/bg-tbl-msg-error.gif') 50% 0 no-repeat;}
.errorMessage td { /*padding-top:117px !important;*/ padding-top:120px !important; text-align:center; border-bottom:0;}
.errorMessage:hover { background:none !important; cursor:inherit; }
.errorMessage.checkedItem {  background:none !important; }
.errorMessage .errorTxt > span { padding:10px 0 10px 48px; background:url('../../images/cmmn/bg-tbl-msg-error.gif') 0 0 no-repeat;}

/* 셀렉트 페이징 */
.SelectBoxBasic { font-size:11px; color:#333; } 
.SelectBoxBasic div.DefaultName { height:21px; line-height:21px; padding:0 0 0 10px; background:url('../../images/cmmn/btn-select.png') right center no-repeat; border:1px solid #ccc; cursor:pointer; } 
.SelectBoxBasic>ul { background-color:#FFF; display:block; max-height:243px; overflow-y:scroll; overflow-x:hidden; border:1px solid #ccc; border-right:1px solid #d4d4d4; position:absolute; display:none; margin:0 0 0 0; padding:0; } 
.SelectBoxBasic>ul>li { width:90px; display:block; list-style-type:none; text-align:right; height:24px; line-height:26px; cursor:pointer; padding:0; } 
.SelectBoxBasic>ul>li:hover { background:#f1f1f2; }

/* 셀렉트 : 페이징(오른쪽 정렬) */
.SelectBoxBasic.selectPaging { width:120px; }
.SelectBoxBasic.selectPaging div.DefaultName { text-align:right; padding-right:28px; }
.SelectBoxBasic.selectPaging>ul>li { text-align:right; padding-right:11px; }

/* 테이블 제목 / 필수 아이콘 */
.tblTitle { border-top:1px solid #cbd2db; background:url('../../images/cmmn/bul-tbl.png') 10px center no-repeat #ebf3fd;  font-weight:bold; font-size:12px; color:#333; padding:7px 0 7px 20px; }
.tblTitle>i {font-weight:normal;colro:red;margin-left:12px;font-size:11px; }
.icoMust {width:10px; height:10px; background:url('../../images/cmmn/bul-must.png') 0 0 no-repeat; margin-left:4px; }
.icoMust>em {position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}
/*
.txtMustItem { padding:0 0 10px; color:#ff4444;}
.txtMustItem .icoMust { background-position: 3px 0;}
*/

/* Type: 목록형 */
.tblList { border-top:1px solid #cbd2db; }
.tblList th, .tblList td { padding:6px 8px; height:16px; }
.tblList td {
    overflow: hidden;
    text-overflow:ellipsis; /*overflow: hidden; 속성과 같이 써줘야 말줄임 기능이 적용된다.*/
    white-space:nowrap; /*<td>보다 내용이 길경우 줄바꿈 되는것을 막아준다.*/
 }
.tblList tr th:first-child, .tblList tr td:first-child { border-left:0;}
/*.tblList tr:last-child td { border-bottom:0;}*/
.tblList thead th,.tHead td { padding:5px 0; color:#333; font-weight:bold; background:#f5f5f5; }
.tblList a {color:#333;display:block;}
.tblList tr { cursor:pointer; }
.tblList tr:hover { background-color: #f1f3fc; }
.tblList .checkedItem {	background-color: #fcf1f1; }
.tblList .iconPopview { display:inline-block; height:15px; margin-left:2px; position:relative;vertical-align:-3px; }
.tblList  .trInput {padding-top:0; padding-bottom:0; }
.tblList  .trInput:hover { background:#fff; }
.tblList  .trInput td {  padding-top:0; padding-bottom:0; height:28px; }
.tblList  .trInput td input { width:100%; border:0; text-align:center; }

/* Type: 목록형-입력 */
.tblList.tblDataCol td { padding:5px 10px !important; height:22px !important; }

/* Type: 세로-데이터형 */
.tblDataRow tr:first-child th,.tblDataRow tr:first-child td{ border-top:1px solid #e1e3e8;}
.tblDataRow th { padding:4px 0 4px 12px; color:#555; text-align:left; background:#f5f5f5; border-width:0 0 1px 0; }
.tblDataRow tr th:first-child { border-left:0;}
.tblDataRow td { padding:5px 10px 5px 12px; border-width:0 0 1px 0; height:22px; }
.tblDataRow th label {color:inherit;}
.tblDataRow .br { margin-top:4px;}
.tblDataRow input, .tblDataRow select {width:60%;}
.tblDataRow .wAuto {width:17.7% !important;}
.tblDataRow textArea { _margin:5px 0; }
.tblDataRow td.boardContent { border-left:0; padding:25px; line-height:1.8}
.tblDataRow .txtOutput { width:100%; min-height:84px; line-height:1.6; overflow-y:auto; padding-top:8px; padding-bottom:8px; vertical-align:top; }
.tblDataRow .txtOutput.yScroll { height:98px; overflow-y:auto;  }
.tblDataRow .goodsImg { display:inline-block;position:relative;}
.tblDataRow .goodsSize { vertical-align:middle; }
.tblDataRow .goodsImg .imgEmpty {background:#efefef url('../../images/cmmn/img-empty.png') center no-repeat;	width:88px;	height:88px;color:transparent;text-indent:-9999;}
.tblDataRow .goodsImg .btnImgDelete { position:absolute; top:3px; right:-27px; background:url('../../images/cmmn/icon-close.gif') no-repeat; }
.tblDataRow .goodsImg .btnImgDelete span { color:transparent;text-indent:-9999; }
.tblDataRow .txtLink { color:#333; }

/* 틀고정 wrapper : 기본 1040px */
.tblBackground { width:100%; }
.tblBackground table { background:#fff;}
.tblBackground td a { /*color:#2b4f91; text-decoration:underline;*/ }
.tHeadScroll { padding-right:17px; overflow-x:hidden; overflow-y:hidden;}
.tHeadScrollBG { border-top:1px solid #cbd2db; background:#f5f5f5;}
.tHeadScrollBG table.tHead { border-top:0;}
.tHeadScrollBG table.tHead td { text-align:center; }
/* 스크롤 height : 기본 137px */
.tBodyScroll { overflow-x:hidden; overflow-y:scroll; width:100%; height:288px; border:1px solid #ddd; border-width:0 0 1px 0;}
.tBodyScroll.heightSize2 { height:230px; } /* td 8줄 */
.tBodyScroll.heightSize3 { height:144px; } /* td 5줄 */
.tBodyScroll.heightSize2 .errorMessage td { padding-top:100px !important; } 
.tBodyScroll.heightSize3 .errorMessage td { padding-top:55px !important;  }
.tBodyScroll.heightSizeL { height:576px  }
.tBodyScroll thead { visibility:hidden; overflow:hidden; height:0 !important; margin:0; padding:0 !important;}
.tBodyScroll thead * { font-size:0; margin:0; padding:0 !important; height:14px;}
.tBodyScroll table.tBody { margin-top:-16px;}

/* 틀고정 wrapper : 넓게보기 상태(최대 1240px,스크롤바 17px) 
.stateWide .tblBackground { width:1240px;}
.stateWide .tHeadScroll { width:1223px;}
*/
/* 틀고정 테이블 : 실제적용 테이블 
table.tHead td {border-bottom:0; text-align:center; }
/*
table.tHead { width:1023px; height:20px; }
table.tBody { width:1023px; height:20px; margin-top:-2px; border-top:0;}
.tblSizeWide  table.tHead, .tblSizeWide  table.tBody { width:1450px;}
.tblSizeWide2 table.tHead, .tblSizeWide2 table.tBody { width:1600px;}
.tblSizeWide3 table.tHead, .tblSizeWide3 table.tBody { width:2020px;}
*/

/* 틀고정 테이블 : 고정높이값 사용안하는 경우 */
.autoHeight .tBodyScroll { height:auto; overflow-y:hidden;}
.autoHeight .tHeadScroll { width:720px;}
.stateWide .autoHeight .tHeadScroll { width:950px;}

/* ----- 레이어팝업 ----- */
.layerSizeS { width:320px; min-height:100px;}
.layerSizeM { width:560px; min-height:100px;}
.layerSizeML { width:660px; min-height:100px;}
.layerSizeL { width:760px; min-height:100px;}
.layerSizeL .scrollBox { height:397px; }

.layerWrapper { position:relative; border:2px solid #234076; background:#fff; display: none;}
.layerWrapper .btnClose { display:block; position:absolute; top:0; right:3px; width:40px; height:40px; text-align:center;}
.layerWrapper .btnClose>img {margin-top:8px}
.layerHeader { padding:10px 14px 10px 18px; background:#2b4f91;}
.layerHeader > strong { color:#fff; font-size:15px; letter-spacing:-1px;}

.layerContainer {padding:12px;}

.layerWrapper.layerAlert { width:320px;}
.layerWrapper.layerAlert .layerHeader { font-size:16px; background:#eeeeee;}
.layerWrapper.layerAlert .layerHeader > strong { color:#555;}
.layerWrapper.layerAlert .layerContainer { padding:25px 15px 25px;}
.layerWrapper.layerAlert .btnWrapper { margin-top:30px;}
/* 약관 또는 스크롤컨텐츠 */
.scrollBox { overflow-y:scroll;}


/* ----- 팝업 ----- */
.popupHeader { padding:0 20px;}
.popupHeader h1 { padding:16px 0 14px; color:#333; font-size:20px; letter-spacing:-1px; border-bottom:2px solid #2b4f91;}
.popupContainer { padding:14px 20px 14px;}


/* webKit */
@media screen and (-webkit-min-device-pixel-ratio:0){
	.tblTopSearch .searchBox input { line-height:1.4;}
	
	/* 사파리만 */
	::i-block-rhrome, table.tblDataRow {table-layout:auto !important;}
}


/* ----- 공통 안내팝업 ----- */
.guidanceWrapper { margin:10px;}
.guidanceWrapper.memberJoin { text-align:center;}

/* ----- 날짜선택 ----- */
.periodSelect select {width:auto; vertical-align:top;}
.periodSelect .dateBetween { width:18px;height:21px; line-height:2; vertical-align:top; text-align:center; }
.datePickerUI  { position:relative; display:inline-block; vertical-align:top;}
.datePickerUI .btnCalender { width:19px; height:23px; background:url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;}
.datePickerUI .btnCalender:hover { background-position:0 -23px; }
.datePickerUI .btnCalender>em {position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}
.mtz-monthpicker-year { width:80px !important; } /* 년월선택js 년셀렉트 넓이 */
