@charset 'UTF-8';

/* ------------------------------ 
 * Description: 메인 페이지 전용
 * Modified-date: 2016.08.
 * ------------------------------ */
/* .onlyWideView { position:absolute;min-height:100%; }
.mainArea {
	position:absolute;
	width:1060px;
	top:50%;
	margin-top:-50px;
	text-align:center;
	min-height:100%;
} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Sans-Serif;
	font-size: 14px;
	border: 0;
	background: #fff;
	width: 100%;
	overflow-x: hidden;
}

.topMenuWrapper {
	width: 100%;
}

.naviArea {
	width: 1010px;
	margin: 0 auto;
	min-width: 1010px;
}

.topBoxHomeUtil,
.subPage #container>.fixedWidth {
	width: 1010px;
}

.topBoxHomeUtil {
	/* position: relative; */
	width: 1010px;
	height: 71px;
	margin: 0 auto;
}

.topBoxHomeUtil .mainLogo {
	width: 280px;
	box-sizing: border-box;
}

.topBoxHomeUtil div {
	float: left;
}

a {
	color: black;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

a,
span {
	display: inline-block;
}

.topBoxHomeUtil .mainLogo img {
	position: relative;
	top: 20px;
	height: 40px;
}

.topBoxHomeUtil .GNB_title {
	padding-top: 28px;
	width: 730px;
	min-width: 730px;
	box-sizing: border-box;
}

.topBoxHomeUtil div {
	float: left;
}

.topBoxHomeUtil ul {
	position: relative;
	width: 730px;
	left: 0;
}

ol,
ul {
	list-style: none;
}

.topBoxHomeUtil ul li:nth-child(1),
.topBoxHomeUtil ul li:nth-child(2),
.topBoxHomeUtil ul li:nth-child(3),
.topBoxHomeUtil ul li:nth-child(4) {
	border-right: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.topBoxHomeUtil ul li {
	float: left;
	width: 145.5px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	cursor: pointer;
}

.topBoxGNB {
	display: none;
	position: absolute;
	width: 100%;
	min-width: 1010px;
	background-color: white;
	height: auto;
	z-index: 3;
	border-top: 1.5px solid #0093e4;
	background: #fff 50% 0 no-repeat;
	border-bottom: 2px solid #aaa;
	padding-top: 10px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.topBoxGNB .topNaviSub {
	width: 1010px;
	min-width: 1010px;
	margin: 0 auto;
	left: 125px;
}

#GNB {
	position: relative;
	width: 730px;
	left: 280px;
}

#GNB ul li:hover {
	background-color: #0093e4;
	color: white !important;
}

#GNB ul:nth-child(1) {
	width: 145.5px;
	box-sizing: border-box;
}

#GNB ul:nth-child(2) {
	width: 145.5px;
	box-sizing: border-box;
}

#GNB ul:nth-child(3) {
	width: 145.5px;
	box-sizing: border-box;
}

#GNB ul:nth-child(4) {
	width: 145.5px;
	box-sizing: border-box;
}

#GNB ul:nth-child(5) {
	width: 145.5px;
	box-sizing: border-box;
}

#GNB>ul {
	float: left;
	/* padding: 10px 0 20px 0; */
}

#GNB>ul>li {
	font-size: 13px;
	padding: 6px 0 7px 24px;
}

#GNB>ul>li>a {
	width: 100%;
}

a {
	color: black;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

a,
span {
	display: inline-block;
}

button,
select {
	text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	padding: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0;
	background: 0 0;
}

.afterLoginWrap {
	width: 100%;
	background-color: #007acb;
}

.afterLogin {
	height: 35px;
	width: 1010px;
	margin: 0 auto;
	line-height: 34px;
	color: white;
}

.afterLogin div:nth-child(1) {
	text-align: left;
	float: left;
	width: 606px;
	padding-left: 10px;
	box-sizing: border-box;
}

.afterLogin div:nth-child(2) {
	text-align: right;
	float: left;
	width: 404px;
	padding-right: 10px;
	box-sizing: border-box;
}

.loginName {
	font-weight: bold;
	font-size: 15px;
}

.afterLogin button.white {
	background: linear-gradient(#fdfdfd 20%, #fdfdfd, #f4f4f4, #eae9ea, #dcdcdc, #ffffff);
	color: #007ac6;
	width: 80px;
	font-weight: bold;
	box-sizing: border-box;
}

.afterLogin button {
	position: relative;
	width: 44px;
	height: 19px;
	margin-left: 10px;
	border-radius: 7px;
	top: -1px;
	line-height: 18px;
	text-align: center;
	font-size: 13px;
	box-sizing: border-box;
	cursor: pointer;
}

.afterLogin img {
	padding-left: 14px;
	padding-right: 7px;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

#container {
	margin-bottom: 34px;
}

.mainVisual {
	width: 100%;
	margin: 0 auto;
}

.mainVisual .fixedWidthMainVisual {
	position: relative;
	height: 760px;
	width: 100%;
	max-width: 2523px;
	margin: 0 auto;
	background-color: rgb(17, 133, 159);
	background-size: cover;
	background-position: center;
}

.mainVisual .fixedWidthMainVisual .mainVisualContent {
	width: 1010px;
	margin: 0 auto;
}

footer {
	min-width: 1024px;
	padding: 0 0 34px 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

.fixedWidth {
	width: 1010px;
	margin: 0 auto;
}

footer>div {
	position: relative;
	padding-bottom: 3px;
	background: url(../../images/cmmn/footer_logo.gif) no-repeat;
}

footer .footerLink ul {
	overflow: hidden;
	margin-bottom: 4px;
	margin-left: 50px;
}

ol,
ul {
	list-style: none;
}

footer .footerLink li:first-child {
	padding-left: 0;
	border-left: 0;
}

footer .footerLink li {
	float: left;
	padding: 0 8px;
	font-size: 13px;
	border-left: 1px solid #8d8d8d;
}

footer .footerLink a {
	display: block;
	color: #777;
}

li a {
	cursor: pointer;
}

a {
	text-decoration: none;
	background-color: transparent;
}

footer .copyright {
	color: #777;
	font-size: 12px;
	margin-left: 50px;
	margin-top: 5px;
}

.familySiteWrapper {
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 12px;
	color: #666;
}

.familySiteWrapper select {
	vertical-align: top;
	width: auto;
	padding: 2px;
	font-size: 13px;
	background-color: white;
	line-height: 20px;
}

.familySiteWrapper button {
	vertical-align: top;
	background-color: #a1a1a1;
	color: white;
	padding: 3px 10px;
	font-size: 14px;
}

.layerWrapper {
	position: relative;
	border: 2px solid #234076;
	background: #fff;
	display: none;
	padding-bottom: 10px;
}

.layerWrapper#popLayerPersonalInfoRuleV1,
.layerWrapper#popLayerPersonalInfoRuleV2 {
	overflow: hidden;
}

.layerSizeL {
	width: 760px;
	min-height: 300px;
	box-sizing: border-box;
}

.layerHeader {
	width: 100%;
	display: inline-block;
	background-color: #2b4f91;
}

.layerHeader div:nth-child(1) {
	width: calc(100% - 70px);
	float: left;
	padding: 0 14px 0 14px;
	height: 40px;
	line-height: 40px;
	background: #2b4f91;
	color: #fff;
	font-size: 17px;
}

.layerHeader div:nth-child(1) strong {
	position: relative;
	top: -2px;
}

.layerHeader div:nth-child(2) {
	width: 70px;
	float: left;
	background-color: #214072;
	padding: 0 14px;
}

.layerWrapper .btnClose {
	display: block;
	position: absolute;
	background-color: #214072;
	top: 0;
	right: 0;
	width: 50px;
	height: 40px;
	text-align: center;
}

a[class^=btn],
button[class^=btn] {
	text-decoration: none;
}

.layerWrapper .btnClose>img {
	margin-top: 7px;
	padding-left: 5px;
	box-sizing: border-box;
}

.layerContainer {
	padding: 5px 12px 5px;
	box-sizing: border-box;
}

.scrollBox {
	overflow-y: scroll;
	outline: none;
}

.terms {
	padding-right: 10px;
}

.layerContent p {
	line-height: 150%;
}

.layerContainer p {
	word-break: keep-all;
}

.terms .title-area {
	margin-top: 30px;
}

.h3 {
	font-size: 20px;
	font-weight: normal;
	color: #195899;
}

.terms .list-txt {
	margin: 20px 0 0;
}

.terms .list-txt>li {
	padding: 0;
}

.terms .list-txt>li>ul {
	margin-top: 20px;
}

.terms .list-txt li {
	padding-bottom: 10px;
}

.terms .list-txt li.no>strong {
	display: block;
	margin-bottom: 8px;
}

.terms .list-txt li>table {
	margin-top: 10px;
}

.tblList {
	border-top: 1px solid #9bbee8;
}

table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.tts,
caption,
legend {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.tblList tr th:first-child,
.tblList tr td:first-child {
	border-left: 0;
}

.terms table th {
	text-align: center;
}

.tblList thead th,
.tHead td {
	padding: 5px 0;
	color: #333;
	font-weight: bold;
	background: #edf6ff;
}

.tblList tr th {
	border: 0;
	border-bottom: 1px solid #ddd;
}

table th,
table td {
	vertical-align: middle;
	font-size: 13px;
}

table th:first-child,
table td:first-child {
	border-right: 0;
}

.tblList td {
	text-align: center;
	border: 0;
	border-bottom: 1px solid #ddd;
}

table th,
table td {
	vertical-align: middle;
	padding: 10px 0;
	font-size: 13px;
}

ol,
ul {
	list-style: none;
}

.layerContainer .btnWrapper {
	margin-top: 15px;
}

.btnWrapper {
	margin: 20px 0 15px 0;
	text-align: center;
	width: 100%;
	display: inline-block;
}

a[class^=btn]:hover,
a[class^=btn]:active {
	text-decoration: none;
}

.btnWrapper>a:first-child {
	margin-left: 0;
}

.btnL.colorBlue {
	color: #fff;
	border: 1px solid #0398e5;
	border-bottom: 1px solid #0275d2;
	border-top: 1px solid #00aeed;
	background-color: #008de4;
	background: linear-gradient(#80ccf4 10%, #0099e8 80%, #80ccf4);
}

a[class^=btn],
button[class^=btn] {
	display: inline-block;
	text-align: center;
}

.btnL {
	height: 35px;
	padding: 0 28px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 18px;
}

a[class^=btn]>span,
button[class^=btn]>span {
	display: block;
}

.btnL>span {
	padding: 6px 0;
	line-height: 1.5;
}

select {
	padding: 4px;
	line-height: 24px;
}

select {
	border: 1px solid #c6c6c6;
	background-color: white;
}