@charset 'UTF-8';

/* ------------------------------ 
 * Description: 공통적용
 * Modified-date: 
 * ------------------------------ */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;} /* HTML5 display-role reset for older browsers */
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
h1,h2,h3,h4,h5,h6 {letter-spacing:-1px; line-height:1;}
hr{display:none;}
em,i {font-style:normal;}
ol,ul{list-style:none;}
table{border-spacing:0;border-collapse:separate;/*border-collapse:collapse;*/}

blockquote,q{quotes:none;}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none;}
abbr[title]{border-bottom:1px dotted;}
mark{background:#ff0;color:#000}
sub,sup{position:relative;vertical-align:baseline;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
pre,textarea{overflow:auto}

/* Common */
html{height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%; }
body{height:100%;background:#fff;font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum,Sans-Serif; font-size:12px; border:0;}
a,span{display:inline-block;}
a { color:#656565; text-decoration:none; background-color:transparent;}
a:hover,a:active {/*text-decoration:underline;*/}

.clearfix{*zoom:1;}
.clearfix:after,.clearfix:before{display:table;line-height:0;content:'';}
.clearfix:after{clear:both;}
.tts,caption,legend{position:absolute;overflow:hidden;clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;padding:0;border:0;}

/* 포인트 색 */
.pointColor {color:#ff6c00;}
.subColor {color:#0099e8;}

/* 강조 붉은색 */
.colorTextRed {color:#ff4444;}

/* 상태값 */
.txtStatusRed {color:#ff4444;font-weight:bold;}

/* error */
.errorColor { color:#ff4444;}

.alignC { text-align:center; }
.alignR { text-align:right; }

/* margin,padding */
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }

/* 폰트 정의 */
.numMoney { font-weight:bold; ext-align:right;}
.numCount { text-align:right;}
.txtLink { font-weight:bold; text-decoration:underline; color:#4a89dc; }

.goodsSize { height:88px; }

/* 권한별 div display 필요시 */
.displayAuth { display:inline-block;vertical-align:middle; }

/* 말줄임 */
.txtOver {
	display:block;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
}

.txtWon {
	vertical-align:middle;
	margin-left:6px;
}
.txtWon1 {
	margin-left:6px;
}

/* td(말줄임) 안에 span말줄임 */
.txtOverIn {
	overflow:hidden;text-overflow: ellipsis;white-space: nowrap;
	max-width:80%;width:auto;
	vertical-align:-2px;	
}

/* ----- Skip Navigation ----- */
#pbSkipNavi{position:absolute; z-index:10000; width:100%; text-align:center}
#pbSkipNavi a{display:block; overflow:hidden; width:1px; height:1px; margin-bottom:-1px; text-align:center; color:#FFF; white-space:nowrap}
#pbSkipNavi a:focus,#pbSkipNavi a:active{width:auto; height:auto; padding:5px; background:#0075b1}
.skipNaviReturn{position:relative}
.skipNaviReturn a{display:block; overflow:hidden; height:1px; width:1px; margin-bottom:-1px; text-align:center; color:#FFF; white-space:nowrap}
.skipNaviReturn a:focus,.skipNaviReturn a:active{width:auto; height:auto; padding:5px; margin-bottom:10px; background:#0075b1}

/* ----- Form ----- */
button{margin:0;padding:0;cursor:pointer;border:0;background:0 0;}
input[type=checkout],input[type=checkbox],input[type=radio]{vertical-align:middle;box-sizing:border-box;padding:0;width:auto !important;height:auto;}
input[type=checkout] {border:1px solid #555555;}
input[type=search]{box-sizing:content-box}
input[type=number],input[type=tel],input[type=password],input[type=text] {}
input[type=number],input[type=tel],input[type=password],input[type=text],input[type=file],textarea {color:#333; border:1px solid #ccc;border-radius:0;background:#fff;-webkit-appearance:none;}
input[type=file]:-ms-input-placeholder, 
input[type=number]:-ms-input-placeholder, 
input[type=tel]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder, 
input[type=text]:-ms-input-placeholder {color:#aaa;}
::-ms-input-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, .myPlaceholder {color:#aaa;}
select{ _line-height:2; width:100%; font-size:11px; border:1px solid #c6c6c6; height:23px; -ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }

button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit;}
button,select{text-transform:none}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=text] { _width:100%;}
input[type=checkbox]+label {margin-left:4px;}
label {display:inline-block; color:#777; vertical-align:middle; line-height:1;}

textarea { width:100%;padding:5px;vertical-align:middle;resize:none;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
textarea.hBasic { height:130px;_line-height:1;}

select.sizeAuto {width:auto;}
select.selectPaging { min-width:120px; overflow-y: auto; }
select.selectPaging option span { text-align:right; border:1px solid red; } 
select, input{ 
	width:100%;
    display: inline-block; 
	vertical-align: middle;   
    border-radius: 0;
    border: 1px solid #D5D5D5;
    font-weight: normal;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box; 
}
input {
    height: 23px;
	width:auto;
    padding:0;
	padding-bottom:5px;
	padding: 0 6px;
}
select {
	height: 23px;
    border: auto;
    width: auto;
	padding: 0 0 0 3px;
	/*-webkit-appearance: none;
	background: #fff url('../../images/cmmn/btn-select.png') no-repeat 100% -1px;*/
}
input:disabled { background:#eee; }
select:disabled { background: #eee; }

/* input select 길이 */
input.wDate { width:82px !important; }
input.wZipcode { width:60px !important; }
input.wAddr { width:40.5% !important; }
input.wPer, select.wPer { width:100% !important; }
input.wS, select.wS { width:60px; }
input.wAuto, select.wAuto { width:auto; }
.wAuto {width:auto !important;}
/* input select 속성 */
input.inMoney { _margin-right:5px; text-align:right; } /* 금액 : 자동콤마, 오른쪽정렬 */
input.inNumber { text-align:right; } /* 숫자 : 오른쪽정렬 */

/* input tpye=file 속성 */
.inputFile { display:inline;}
.inputFile .btnFileSelect { position:absolute; }
.inputFile .btnFileSelect input[type=file] { width:62px;height:24px;overflow:hidden;cursor:pointer;opacity:0;filter:alpha(opacity=0);padding:0 !important;margin:0 !important; }
.inputFile .btnFileSelect input[type=file]::-webkit-file-upload-button { cursor:pointer; }
.inputFile .btnFileSelect.txtSize2 input[type=file] { width:40px; } 

.inputCheck { display:inline;vertical-align:middle;margin-right:5px; }

/* 주민등록번호 */
.inputW .between {display:inline-block; width:12px; text-align:center;}
.inputW.registNumb {vertical-align:middle;}
.inputW.registNumb > em { display:block; width:74px; float:left;}
.inputW.registNumb > em.between { width:18px; padding:4px 0 0 2px; text-align:center;}

/* webKit 
@media screen and (-webkit-min-device-pixel-ratio:0){
	select { padding:4px; line-height:24px;}
}
*/