<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Pentaworks Service</title>
	<link rel="stylesheet" href="../css/cmmn/public.css">
	<style>
		.btnM.colorWhite {
			background-color: #fff;
			border: 1px solid #a3daff;
			color: #0093e4;
		}

		.tblList,
		.tBody tr:hover td {
			background: #fff !important;
		}

		.checkedItem {
			background: #fff !important;
		}

		table th,
		table td {
			border-left: none;
			border-right: none;
		}

		#container {
			text-align: center;
		}

		.fixedWidth {
			display: inline-block;
			width: 1080px !important;
		}

		.onlyWideView {
			text-align: center;
		}

		.subHeader {
			position: relative;
			padding-top: 30px;
			height: 45px;
			text-align: center;
		}

		.contentBlock {
			width: 800px;
			display: inline-block;
		}

		.contentDetail {
			width: 600px;
			display: inline-block;
		}

		.alignL {
			text-align: left;
		}
	</style>
	<script type="text/javascript" src="../js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui-datepicker-ko.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.mtz.monthpicker.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.popupoverlay.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>

	<div class="wrapper">
		<!-- header -->
		<div class="header">
			<div class="fixedWidth">
				<h1 class="logo">
					<a href="login.html"><img src="../images/cmmn/logo.png" alt="PentaWorks" style="height: 30px;" /></a>
				</h1>
			</div>
		</div>
		<!-- //header -->


		<!-- container -->
		<div id="container">
			<div class="fixedWidth">

				<!-- contents -->
				<div class="sectionRight" id="content">
					<div class="contentWrap">
						<div class="onlyWideView">

							<div class="subHeader">
								<h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-plus" alt="아이콘">이용약관 동의</h2>
								<div class="pageLocation">
									<span>회원가입</span>&gt;<strong>이용약관 동의</strong>
								</div>
							</div>

							<!-- content group1 -->
							<div class="contentBlock">
								<div class="contentTitle">
									<div class="cTit">
										이용약관 동의
									</div>
									<div class="cTitRight"></div>
								</div>
								<div style="height: 20px;"></div>
								<!-- slide content -->
								<div class="contentDetail slideTogglebox">
									<div class="tHeadScrollBG">
										<!-- <div class="tHeadScroll"> -->
										<table class="tblList tHead">
											<colgroup>
												<col style="width:56px">
												<col style="width:*">
												<col style="width:100px">
											</colgroup>
											<tbody>
												<tr>
													<td scope="col" style="height: 32px;"><input type="checkbox" title="전체 선택"></td>
													<td scope="col" style="text-align: left;">PentaWorks Service 전체 약관에 동의합니다.</td>
													<td scope="col"></td>
												</tr>
											</tbody>
										</table>
										<!-- </div> -->
									</div>
									<!-- <div class="tBodyScroll"> -->
									<table class="tblList tBody trClick">
										<caption>이용약관 동의</caption>
										<colgroup>
											<col style="width:56px">
											<col style="width:*">
											<col style="width:100px">
										</colgroup>
										<tbody>
											<tr>
												<td colspan="3" style="height: 10px;"></td>
											</tr>
											<tr>
												<td class="alignC"><input type="checkbox" title="행 선택"></td>
												<td class="alignL">서비스 이용약관 <span style="color: #ff0000;">(필수)</span></td>
												<td class="alignC"><a href="#" class="btnS colorWhite"><span>전문보기</span></a></td>
											</tr>
											<tr>
												<td class="alignC"><input type="checkbox" title="행 선택"></td>
												<td class="alignL">개인정보 수집 및 이용에 대한 안내 <span style="color: #ff0000;">(필수)</span></td>
												<td class="alignC"><a href="#" class="btnS colorWhite"><span>전문보기</span></a></td>
											</tr>
											<tr>
												<td class="alignC"><input type="checkbox" title="행 선택"></td>
												<td class="alignL">광고성 정보 수신 <span style="color: #808080;">(선택)</span></td>
												<td class="alignC"><a href="#" class="btnS colorWhite"><span>전문보기</span></a></td>
											</tr>
										</tbody>
									</table>
									<!-- </div> -->
								</div>
								<!-- //slide content -->
							</div>
							<!-- //content group1 -->

							<div class="btnWrapper">
								<a href="login.html" class="btnL colorGray"><span>이전</span></a>
								<a href="join-register.html" class="btnL colorBlue"><span>다음</span></a>
							</div>
						</div>
					</div>
				</div>
				<!-- //contents -->

			</div>
		</div>
		<!-- //container -->
	</div>

	<!-- footer -->
	<div id="footer">
		<div class="fixedWidth">
			copyrights PENTAS. all rights reserved.
			<div class="goTop"><a href="#" class="btnGoTop"><img src="../images/cmmn/btn-top.png" alt="위로이동"></a></div>
		</div>
	</div>
	<!-- //footer -->

</body>

</html>