<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentaworks Service</title>
    <link rel="stylesheet" href="../css/cmmn/register.css">
    <link rel="stylesheet" href="../css/cmmn/regi_layout.css">
</head>
<style>
    .logo {
        margin: 0 auto;
        padding: 0 80px;
    }

    .header {
        border-bottom: 1px solid #f0f2f5;
        padding: 0;
        height: 56px;
        text-align: left;
    }

    .header .logo>a {
        text-decoration: none;
        color: black;
    }

    .nav {}
</style>

<body>
    <!-- <div id="wz-header">
        <div class="web-header">
            <div class="web-header-large">
                <header class="header-wrapper web-header-simple">
                    <div class="header-container">
                        <h1><span><a style="text-decoration: none; color: black;" href="#none">pentas</a></span></h1>
                        <ul class="gnb-large">
                            <li class="login"><a href="#none" class="item"><span>로그인</span></a>
                            </li>
                            <li class="signup"><a href="#none" class="item"><span>회원가입</span></a></li>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div> -->
    <div class="header">
        <h1 class="logo"><a href="#none">PENTAS</a></h1>
        <ul class="nav">
            <li><a href=" #none"><span>로그인</span></a>
            </li>
            <li><a href="#none"><span>회원가입</span></a></li>
        </ul>
    </div>
</body>

</html>