<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport">
	<title>Pentaworks Service</title>
	<link rel="stylesheet" href="../css/cmmn/public.css">
	<style>
		.btnM.colorWhite {
			background-color: #fff;
			border: 1px solid #a3daff;
			color: #0093e4;
		}
	</style>
	<script type="text/javascript" src="../js/lib/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-ui-datepicker-ko.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.mtz.monthpicker.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.popupoverlay.js"></script>
	<script type="text/javascript" src="../js/lib/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="../js/public.js"></script>
</head>

<body>

	<div class="wrapper">
		<!-- header -->
		<div class="header">
			<div class="fixedWidth">
				<h1 class="logo">
					<a href="main.html"><img src="../images/cmmn/logo.png" alt="PentaWorks" style="height: 30px;" /></a>
				</h1>
				<div class="headerRight">
					<p class="hdTime"><em>09:59</em><a href="#" class="btnExtension">연장하기</a></p>
					<p class="hdUser"><em>(주)이티스트</em>님 안녕하세요!</p>
					<p class="hdLogout"><a href="login.html" onclick="javascript:RemaLogoutCall();" title="로그아웃">logout</a></p>
				</div>
			</div>
		</div>
		<!-- //header -->


		<!-- container -->
		<div id="container">
			<div class="fixedWidth">

				<!-- left -->
				<div class="sectionLeft">
					<div class="lnbBgBox">
						<ul class="accordion" id="LNB">
							<li class="depthBox">
								<a href="#" class="dep1"><span>상담 관리</span></a>
								<ul>
									<li>
										<a href="service-inbox.html">
											<img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">
											<span>상담접수관리</span>
										</a>
									</li>
									<li>
										<a href="service-visit.html">
											<img src="../images/cmmn/hidden.png" class="ico-user" alt="아이콘">
											<span>방문개통관리</span>
										</a>
									</li>
									<li>
										<a href="service-status.html">
											<img src="../images/cmmn/hidden.png" class="ico-pw" alt="아이콘">
											<span>상담관리현황</span>
										</a>
									</li>
									<li>
										<a href="service-marketing.html">
											<img src="../images/cmmn/hidden.png" class="ico-pw" alt="아이콘">
											<span>마케팅대상관리</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="depthBox">
								<a href="#" class="dep1"><span>SKT 관리</span></a>
								<ul>
									<li>
										<a href="carr-mntrt-manage.html">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>요금제등록관리</span>
										</a>
									</li>
									<li>
										<a href="carr-deal-manage.html">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>판매정책관리</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="depthBox">
								<a href="#" class="dep1"><span>KT 관리</span></a>
								<ul>
									<li>
										<a href="#">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>요금제등록관리</span>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>판매정책관리</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="depthBox">
								<a href="#" class="dep1"><span>LGU+ 관리</span></a>
								<ul>
									<li>
										<a href="#">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>요금제등록관리</span>
										</a>
									</li>
									<li>
										<a href="#">
											<img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">
											<span>판매정책관리</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="depthBox">
								<a href="#" class="dep1"><span>매장 관리</span></a>
								<ul>
									<li>
										<a href="shop-manage.html">
											<img src="../images/cmmn/hidden.png" class="ico-nfc" alt="아이콘">
											<span>매장정보관리</span>
										</a>
									</li>
									<li>
										<a href="shop-employees.html">
											<img src="../images/cmmn/hidden.png" class="ico-nfc2" alt="아이콘">
											<span>직원관리</span>
										</a>
									</li>
									<li class="current">
										<a href="shop-notice.html">
											<img src="../images/cmmn/hidden.png" class="ico-nfc2" alt="아이콘">
											<span>공지사항관리</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!-- //left -->

				<!-- contents -->
				<div class="sectionRight" id="content">
					<div class="contentWrap">
						<div class="onlyWideView">

							<div class="subHeader">
								<div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
								<h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-plus" alt="아이콘">공지사항관리</h2>
								<div class="pageLocation">
									<span>매장 관리</span>&gt;<strong>공지사항관리</strong>
								</div>
							</div>

							<div class="searchArea">
								<ul>
									<li class="txtSize2">
										<label for="purchaes01">조회조건</label>
										<select id="purchaes01">
											<option value="">제목</option>
											<option value="">작성자</option>
										</select>
									</li>
									<li class="txtSize2">
										<input type="text" id="purchaes02" placeholder="검색어 입력" value="">
									</li>
								</ul>
								<div class="btnSearch">
									<a href="#" class="btnM colorBlue"><span>검색</span></a>
								</div>
							</div>

							<!-- content group1 -->
							<div class="contentBlock">
								<div class="contentTitle">
									<div class="cTit">
										공지사항 현황
									</div>
									<div class="cTitRight">
										<a href="#popLayerNoticeAdd" class="btnM colorGreen popLayerNoticeAdd_open"><span>추가</span></a>
										<a href="#" class="btnM colorOrg"><span>삭제</span></a>
									</div>
								</div>
								<!-- slide content -->
								<div class="contentDetail slideTogglebox">
									<div class="tHeadScrollBG">
										<div class="tHeadScroll">
											<table class="tblList tHead">
												<colgroup>
													<col style="width:56px">
													<col style="width:*">
													<col style="width:12%">
													<col style="width:18%">
												</colgroup>
												<tbody>
													<tr>
														<td scope="col"><input type="checkbox" title="전체 선택"></td>
														<td scope="col">제목</td>
														<td scope="col">작성자</td>
														<td scope="col">최종변경일시</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="tBodyScroll">
										<table class="tblList tBody trClick">
											<caption>공지사항 현황</caption>
											<colgroup>
												<col style="width:56px">
												<col style="width:*">
												<col style="width:12%">
												<col style="width:18%">
											</colgroup>
											<thead>
												<tr>
													<td scope="col"><input type="checkbox" title="전체 선택"></td>
													<td scope="col">제목</td>
													<td scope="col">작성자</td>
													<td scope="col">최종변경일시</td>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="alignC"><input type="checkbox" title="행 선택"></td>
													<td class="alignC">공지사항 제목1</td>
													<td class="alignC">직원1</td>
													<td class="alignC">2020-06-28 12:00</td>
												</tr>
												<tr class="checkedItem">
													<td class="alignC"><input type="checkbox" title="행 선택"></td>
													<td class="alignC">공지사항 제목2</td>
													<td class="alignC">직원1</td>
													<td class="alignC">2020-06-28 12:30</td>
												</tr>
												<tr>
													<td class="alignC"><input type="checkbox" title="행 선택"></td>
													<td class="alignC">공지사항 제목3</td>
													<td class="alignC">직원1</td>
													<td class="alignC">2020-06-28 12:10</td>
												</tr>
												<tr>
													<td class="alignC"><input type="checkbox" title="행 선택"></td>
													<td class="alignC">공지사항 제목4</td>
													<td class="alignC">직원1</td>
													<td class="alignC">2020-06-28 12:50</td>
												</tr>
												<tr>
													<td class="alignC"><input type="checkbox" title="행 선택"></td>
													<td class="alignC">공지사항 제목5</td>
													<td class="alignC">직원1</td>
													<td class="alignC">2020-06-28 12:04</td>
												</tr>
												<!-- 결과없음 -->
												<tr class="errorMessage">
													<td colspan="4">
														<div class="errorTxt">
															<span>항목이 없습니다.</span>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- //slide content -->
							</div>
							<!-- //content group1 -->


							<!-- content group2 -->
							<!-- 2016-08-18 : tr 행 추가 : id="clickPick / href="#clickPick" / id="goodsAddRow" 추가   -->
							<div class="contentBlock" id="">
								<div class="contentTitle">
									<div class="cTit">
										공지사항 내용
									</div>
									<div class="cTitRight">
										<a href="#" class="btnM colorSky"><span>수정</span></a>
									</div>
								</div>
								<!-- content -->
								<div class="contentDetail">
									<table class="tblDataRow mb15">
										<colgroup>
											<col style="width:140px">
											<col style="width:*">
											<col style="width:140px">
											<col style="width:*">
										</colgroup>
										<tbody>
											<tr>
												<th>제목</th>
												<td colspan="3"><input class="wPer" type="text" id="" placeholder="제목 기입" value="공지사항 제목2"></td>
											</tr>
											<tr>
												<th style="color: #ff0000;">첨부파일</th>
												<td>
													<span style="width: 92%; text-decoration: underline; font-weight: bold;">첨부파일
														2020.01.20.pdf</span>
													<a href="#" class="btnS colorWhite"><span>-</span></a><br />
													<input class="wPer" style="width: 92% !important;" type="text" id="" value="">
													<a href="#" class="btnS colorWhite"><span>+</span></a>
												</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<th>내용</th>
												<td colspan="3" style="height: 100px">
													<textarea style="width: 100%; height: 100%;">공지사항 내용 2....




</textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //content -->
							</div>
							<!-- //content group2 -->

						</div>
					</div>
				</div>
				<!-- //contents -->

			</div>
		</div>
		<!-- //container -->
	</div>

	<!-- footer -->
	<div id="footer">
		<div class="fixedWidth">
			copyrights PENTAS. all rights reserved.
			<div class="goTop"><a href="#" class="btnGoTop"><img src="../images/cmmn/btn-top.png" alt="위로이동"></a></div>
		</div>
	</div>
	<!-- //footer -->

	<!-- 팝업: 공지사항 등록 -->
	<div class="layerWrapper layerSizeL" id="popLayerNoticeAdd" style="display:inherit !important">
		<div class="layerHeader">
			<strong>공지사항 등록</strong>
			<a href="#" class="btnClose popLayerNoticeAdd_close"><img src="../images/cmmn/btn-layer-close.png" alt="창닫기"></a>
		</div>
		<div class="layerContainer">
			<div class="layerContent">
				<!-- 컨텐츠 -->
				<div class="guidanceWrapper">
					<table class="tblDataRow">
						<caption>공지사항 등록</caption>
						<colgroup>
							<col style="width:120px">
							<col style="width:*">
							<col style="width:80px">
						</colgroup>
						<tbody>
							<tr>
								<th>제목</th>
								<td><input class="wPer" type="text" id="" value=""></td>
								<td style="padding-right: 10px; text-align: right;">(0/100)</td>
							</tr>
							<tr>
								<th>첨부파일<br />(최대 2개)</th>
								<td>
									<input class="txtSize0" type="text" id="" value="">
									<a href="#" class="btnS colorWhite"><span>찾기</span></a>
									<a href="#" class="btnS colorOrg"><span>삭제</span></a><br />
									<input class="txtSize0" type="text" id="" value="">
									<a href="#" class="btnS colorWhite"><span>찾기</span></a>
								</td>
								<td></td>
							</tr>
							<tr>
								<th>내용</th>
								<td style="height: 200px"><textarea style="width: 100%; height: 100%;"></textarea></td>
								<td style="padding-right: 10px; vertical-align: bottom; text-align: right;">(0/1000)</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="btnWrapper">
					<a href="#" class="btnL colorBlue popLayerNoticeAdd_close"><span>등록</span></a>
				</div>
			</div>
			<!-- //컨텐츠 -->
		</div>
	</div>
	<!-- //팝업: 공지사항 등록 -->

	<script type="text/javascript">
		$(function () {
			if ($(".layerWrapper").length) {
				//개통결과등록
				$('#popLayerNoticeAdd').popup();
			}
		});
	</script>

</body>

</html>