<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img th:src="@{/images/cmmn/hidden.png}" class="ico-list" alt="아이콘">{{carr.toUpperCase()}}
                        관리
                    </h2>
                    <div class="pageLocation">
                        <!--                        <span th:text="${carr}"></span>-->
                        <span>{{carr.toUpperCase()}} 관리</span>&gt;<strong>요금제등록관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize4">
                            <label for="purchaes01">구분</label>
                            <select id="purchaes01" v-model="selectedSellOpt">
                                <option v-for="sell in sellYn" :value="sell.code">{{sell.value}}</option>
                            </select>

                        </li>
                        <li class="txtSize4">
                            <label for="purchaes02">통신유형</label>
                            <select id="purchaes02" v-model="selectedNetType">
                                <option v-for="net in networkType" :value="net.code">{{net.value}}</option>
                            </select>
                        </li>
                        <li class="txtSize4">
                        </li>
                        <li class="txtSize4">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#none" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle ">
                        <div class="cTit">
                            요금제 현황
                        </div>
                        <div class="cTitRight">
                            <a href="#none" class="btnM colorOrg" @click="nUseMntrt"><span>요금제 미사용</span></a>
                            <a href="#none" class="btnM colorGreen" @click="useMntrt"><span>요금제 사용</span></a>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblList">
                            <caption>엔지니어 업무 배정 처리 현황</caption>
                            <colgroup>
                                <col style="width:4%">
                                <col style="width:6%">
                                <col style="width:16%">
                                <col style="width:7%">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:10%">
                                <col style="width:*">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" @change="checkAll" v-model="allSelected"></th>
                                <th scope="col">구분</th>
                                <th scope="col">요금제명</th>
                                <th scope="col">통신유형</th>
                                <th scope="col">월기본요금(원)</th>
                                <th scope="col">데이터</th>
                                <th scope="col">통화</th>
                                <th scope="col">문자</th>
                                <th scope="col">등록자</th>
                                <th scope="col">최종변경일시</th>
                            </tr>
                            </thead>
                            <tbody v-if="mntrtList.length !== 0">
                            <tr v-for="mntrt in mntrtList" @click="chkRowClick(mntrt)">
                                <td class="alignC">
                                    <input type="checkbox" @click="chkboxClick" v-model="selectedMntNo"
                                           :value="mntrt.pnMntRtNo">
                                </td>
                                <td class="alignC" v-if="mntrt.mntUseynNo">사용</td>
                                <td class="alignC" v-else>-</td>
                                <td class="alignC">{{mntrt.pnMntRtNm}}</td>
                                <td class="alignC" v-if="mntrt.pnNetType === '4G'">LTE</td>
                                <td class="alignC" v-else>{{mntrt.pnNetType}}</td>
                                <td class="alignC">{{Number(mntrt.pnMntAmt).toLocaleString()}}</td>
                                <td class="alignC">{{mntrt.pnMntData}}</td>
                                <td class="alignC">{{mntrt.pnMntCall}}</td>
                                <td class="alignC">{{mntrt.pnMntSms}}</td>
                                <td class="alignC" v-if="mntrt.amdMbrId">{{mntrt.amdMbrId}}</td>
                                <td class="alignC" v-else>-</td>
                                <td class="alignC" v-if="mntrt.amdDt">{{mntrt.amdDt}}</td>
                                <td class="alignC" v-else>-</td>
                            </tr>
                            </tbody>
                            <tbody v-else>
                            <tr class="errorMessage">
                                <td colspan="10">
                                    <div class="errorTxt">
                                        <span>항목이 없습니다.</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>
<div layout:fragment="script">
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                carr: "",
                sellYn: [
                    {code: "all", value: "전체"},
                    {code: "y", value: "사용"},
                    {code: "n", value: "미사용"}
                ],
                selectedSellOpt: "all",
                networkType: [
                    {code: "all", value: "전체"},
                    {code: "5g", value: "5G"},
                    {code: "4g", value: "LTE"},
                    {code: "3g", value: "3G"}
                ],
                selectedNetType: "all",
                mntrtList: [],
                allSelected: false,
                selectedMntNo: [],
                validateArr: []
            },
            watch: {
                selectedMntNo: function () {
                    if (this.mntrtList.length !== 0) {
                        if (this.selectedMntNo.length === this.mntrtList.length) {
                            this.allSelected = true
                        }
                    }
                }
            },
            mounted: function () {
                this.allSelected = false
                var currentPath = window.location.pathname
                this.carr = currentPath.substring(currentPath.lastIndexOf('/') + 1)

                this.searchList()
            },
            methods: {
                searchList() {
                    var param = {
                        carr: this.carr,
                        selectedNetType: this.selectedNetType,
                        selectedSellOpt: this.selectedSellOpt
                    }
                    this.mntrtList = []
                    this.selectedMntNo = []
                    this.allSelected = false
                    cf_call("/carr/getMntrtList", param, this.searchListCB)
                },
                searchListCB(data) {
                    this.mntrtList = data.mntrtList
                },
                chkRowClick(data) {
                    this.allSelected = false

                    if (!this.selectedMntNo.includes(data.pnMntRtNo)) {
                        this.selectedMntNo.push(data.pnMntRtNo)
                    } else {
                        const idx = this.selectedMntNo.indexOf(data.pnMntRtNo)
                        if (idx > -1) this.selectedMntNo.splice(idx, 1)
                    }
                },
                chkboxClick() {
                    this.allSelected = false
                },
                checkAll() {
                    this.selectedMntNo = []

                    if (this.allSelected) {
                        for (list in this.mntrtList) {
                            this.selectedMntNo.push(this.mntrtList[list].pnMntRtNo)
                        }
                    }
                },
                useMntrt() {
                    if (this.selectedMntNo.length !== 0) {
                        if (!this.mntValidate('use')) {
                            let temparr = []
                            for (let i = 0; i < this.selectedMntNo.length; i++) {
                                let tempobj = {}
                                tempobj.pnMntRtNo = this.selectedMntNo[i]
                                temparr.push(tempobj)
                            }
                            this.selectedMntNo = []
                            this.allSelected = false
                            cf_call("/carr/insertUseMnt", temparr, this.useMntrtCB);
                        } else alert('선택한 요금제를 확인해주세요.')
                    } else alert("선택된 항목이 없습니다.")

                },
                useMntrtCB(data) {
                    if (data.succ === "Y") {
                        this.searchList()
                    }
                },
                nUseMntrt() {
                    if (this.selectedMntNo.length !== 0) {
                        if (!this.mntValidate('nUse')) {
                            let temparr = []
                            for (let i = 0; i < this.selectedMntNo.length; i++) {
                                let tempobj = {}
                                tempobj.pnMntRtNo = this.selectedMntNo[i]
                                temparr.push(tempobj)
                            }
                            this.selectedMntNo = []
                            this.allSelected = false
                            cf_call("/carr/deleteUseMnt", temparr, this.nUseMntrtCB);

                        } else alert('선택한 요금제를 확인해주세요.')
                    } else alert("선택된 항목이 없습니다.")
                },
                nUseMntrtCB(data) {
                    if (data.succ === "Y") {
                        this.searchList()
                    }
                },
                mntValidate(chk) {
                    let nUseChk = false      // 초기값 false null값이 있는것이 chk될경우 true
                    let useChk = false     // 초기값 false null값이 없는것이 chk될경우 true
                    this.validateArr = []
                    for (let i = 0; i < this.selectedMntNo.length; i++) {
                        for (validate in this.mntrtList) {
                            if (this.selectedMntNo[i] === this.mntrtList[validate].pnMntRtNo) this.validateArr.push(this.mntrtList[validate])
                        }
                    }
                    if (chk === 'nUse') {
                        for (chk in this.validateArr) {
                            if (this.validateArr[chk].mntUseynNo == null) {
                                nUseChk = true
                                break
                            }
                        }
                        this.validateArr = []
                        return nUseChk

                    } else if (chk === 'use') {
                        for (chk in this.validateArr) {
                            if (this.validateArr[chk].mntUseynNo != null) {
                                useChk = true
                                break
                            }
                        }
                        this.validateArr = []
                        return useChk
                    }
                }
            }
        })
    </script>
</div>
</html>