<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/full-page">

<!-- login 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/cmmn/main.css}">
    <style>
        .addMemberInfo {
            padding-top: 10px;
        }

        .addMemberInfo .listDot>li {
            color: #777;
            list-style: none;
            background-image: none;
            padding-left: 0;
        }

        .addMemberInfo .listDot>li b {
            color: #333;
        }

        .addMemberInfo .listDot.colorRed>li {
            color: #e74b3e;
        }

        .colorRed a {
            color: #e74b3e !important;
        }

        .btnS.colorRed {
            background-color: #fff;
            border: 1px solid #e74b3e;
            color: #e74b3e;
            cursor: default;
        }
    </style>
</th:block>

<!-- login 고유 js -->
<th:block layout:fragment="js">
    <script type="text/javascript" th:src="@{/js/mainpage.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/CryptoJS/3.1.2/rollups/sha256.js}"></script>
</th:block>

<div layout:fragment="content">
    <div class="wrapper">
        <!-- header :: s -->
        <header class="topMenuWrapper">
            <div class="topMenuArea">
                <div class="naviArea">
                    <div class="topBoxHomeUtil">
                        <div class="mainLogo"><a th:href="@{/}" class="homelogo">
                            <img th:src="@{/images/cmmn/logo.png}" alt="PENTAWORKS"></a>
                        </div>
                        <div class="GNB_title">
                            <ul>
                                <li class="subject1"><span>상담관리</span></li>
                                <li class="subject2"><span>SKT관리</span></li>
                                <li class="subject3"><span>KT관리</span></li>
                                <li class="subject4"><span>LGU관리</span></li>
                                <li class="subject5"><span>매장관리</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div style="position: relative; width: 100%;">
                    <div class="topBoxGNB">
                        <div class="topNaviSub">
                            <div id="GNB">
                                <ul data-target="1">
                                    <li><a th:href="@{/service/inbox}"><span>상담접수관리</span></a></li>
                                    <li><a th:href="@{/service/visit}"><span>방문개통관리</span></a></li>
                                    <li><a th:href="@{/service/status}"><span>상담관리현황</span></a></li>
                                    <li><a th:href="@{/service/marketing}"><span>마케팅대상관리</span></a></li>
                                </ul>
                                <ul data-target="2">
                                    <li><a th:href="@{/carr/mntrt/skt}"><span>요금제등록관리</span></a></li>
                                    <li><a th:href="@{/carr/deal/skt}"><span>판매정책관리</span></a></li>
                                </ul>
                                <ul data-target="3">
                                    <li><a th:href="@{/carr/mntrt/kt}"><span>요금제등록관리</span></a></li>
                                    <li><a th:href="@{/carr/deal/kt}"><span>판매정책관리</span></a></li>
                                </ul>
                                <ul data-target="4">
                                    <li><a th:href="@{/carr/mntrt/lgu}"><span>요금제등록관리</span></a></li>
                                    <li><a th:href="@{/carr/deal/lgu}"><span>판매정책관리</span></a></li>
                                </ul>
                                <ul data-target="5">
                                    <li><a th:href="@{/shop/manage}"><span>매장정보관리</span></a></li>
                                    <li><a th:href="@{/shop/employees}"><span>직원관리</span></a></li>
                                    <li><a th:href="@{/shop/notice}"><span>공지사항관리</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- 로그인 후 -->
        <div class="afterLoginWrap">
            <div class="afterLogin">
                <div style="text-align: right !important; width: 100% !important; padding-right: 10px;">
                    <span class="loginName" th:text="${session.mbrNm}">회원명</span> ({{ mstMbrTxt }}회원) 님 환영합니다.
                    <a th:href="@{/logout}">
                        <button type="button" id="logoutBtn" class="white">로그아웃</button>
                    </a>
<!--                    &nbsp; &nbsp;(최근로그인 | 2019-12-23 08:50)-->
                </div>
<!--                <div>-->
<!--                    <img th:src="@{/images/cmmn/clock_icon.png}" alt="우리은행  국민주택채권">-->
<!--                    <b>08 : 20</b> <button type="button" class="white">연장하기</button>-->
<!--                </div>-->
            </div>
        </div>

        <!-- container -->
        <div id="container">
            <!-- 메인 이미지 영역 :: s -->
            <div class="mainVisual">
                <div class="visualDark"></div>
                <div class="fixedWidthMainVisual">
                    <div class="mainVisualContent">
                        <div class="visualTitle">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //메인 이미지 영역 :: e -->

        </div>
        <!-- //container -->
    </div>

    <!-- footer -->
    <footer>
        <div class="fixedWidth">
            <div class="footerLink">
                <ul>
                    <li tabindex="24"><a href="https://spot.wooribank.com/pot/Dream?withyou=bp" target="_blank"
                                         title="은행소개 바로가기">은행소개</a></li>
                    <li tabindex="25"><a href="https://spib.wooribank.com/pib/Dream?withyou=CMCOM0153" target="_blank"
                                         title="영업점안내 바로가기" onclick="OpenWindow(this.href,'890','700');return false">영업점안내</a></li>
                    <li tabindex="26"><a href="https://spot.wooribank.com/pot/Dream?withyou=cq" target="_blank"
                                         title="고객광장 바로가기">고객광장</a></li>
                    <li tabindex="27"><a class="popLayerPersonalInfoRuleV2" title="개인정보처리(취급)방침 바로가기">개인정보처리(취급)방침</a>
                    </li>
                    <li tabindex="28"><a href="https://spot.wooribank.com/pot/Dream?withyou=CQACR0001" target="_blank"
                                         title="사고신고 바로가기">사고신고</a></li>
                </ul>
                <p class="copyright">COPYRIGHTS PENTAS. ALL RIGHTS RESERVED.</p>
            </div>

            <div class="familySiteWrapper">
                <form onsubmit="return false;">
                    <select class="overTitle" title="패밀리사이트(새창열림)" id="select-box" name="selectbox" tabindex="29">
                        <option value="" selected="selected" title="패밀리사이트(새창열림)">패밀리사이트</option>
                    </select>
                    <button type="submit" id="familySiteBtn" title="패밀리사이트 이동(새창열림)"
                            onclick="popup(this.form.selectbox);">이동</button>
                </form>
            </div>
        </div>
    </footer>
    <!-- //footer -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 비밀번호 변경 -->
    <div class="layerWrapper layerSizeML" id="popLayerInitPw" style="display:inline-block !important">
        <div class="layerHeader" style="width: 95.2% !important;">
            <strong>비밀번호 변경</strong>
        </div>
        <div class="layerContainer">
            <div class="layerContent">
                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <div class="tblWrapper initPw">
                        <div style="height: 24px;"></div>
                        <div style="font-weight: bold;">비밀번호 초기화 후에는 반드시 새로운 비밀번호로 변경해야 합니다.</div>
                        <div style="height: 30px;"></div>
                        <table class="tblDataRow">
                            <caption>초기화 된 비밀번호 변경</caption>
                            <colgroup>
                                <col style="width:35%">
                                <col style="width:65%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row"><label for="newPwdNo">새 비밀번호<span class="icoMust"><em>필수</em></span></label>
                                </th>
                                <td>
                                    <input
                                        type="password"
                                        id="newPwdNo"
                                        placeholder="새 비밀번호를 입력해주세요"
                                        autocomplete="off"
                                        style="width: 80% !important;"
                                        v-model="newPwdNo"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="chkPwdNo">새 비밀번호 확인<span class="icoMust"><em>필수</em></span></label>
                                </th>
                                <td>
                                    <input
                                        type="password"
                                        id="chkPwdNo"
                                        placeholder="위 비밀번호를 동일하게 입력해주세요"
                                        autocomplete="off"
                                        style="width: 80% !important;"
                                        @blur="newPwdChk"
                                    >
                                    <span style="width: 10px;"></span>
                                    <a href="#;" class="btnS colorRed" v-if="!pwChk && pwDirty"><span>불일치</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="height: 14px;"></div>
                        <div class="addMemberInfo">
                            <ul class="listDot colorRed">
                                <li>· 비밀번호 변경 후 로그인 화면으로 돌아갑니다.</li>
                            </ul>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="btnWrapper">
                        <a href="#;" class="btnL colorBlue" @click="updatePwd"><span>확인</span></a>
                    </div>
                </div>
                <!-- //컨텐츠 -->
            </div>
        </div>
    </div>
    <!-- //팝업: 비밀번호 변경  -->
</div>

<div layout:fragment="script">
    <script type="text/javascript">
        $(function () {
            // 레이어
            if ($(".layerWrapper").length) {
                //비밀번호 변경
                $('#popLayerInitPw').popup();
            }
        });

        var app = new Vue({
            el: "#app",
            data: {
                mstMbrYn: '[[${session.mstMbrYn}]]',
                pwnoInitYn: '[[${session.pwnoInitYn}]]',
                bnCardChkYn: '[[${session.bnCardChkYn}]]',
                newPwdNo: '',
                pwDirty: false,
                pwChk: false
            },
            mounted: function(){
                this.mainInit()
            },
            methods: {
                mainInit: function() {
                    if (this.bnCardChkYn === 'N') {
                        alert('현재 사업자 등록증 확인 중입니다.\n확인 완료 후 로그인 하실 수 있습니다.\n(평일(공휴일 제외) 24시간 이내 완료)')
                        window.location.href = "/logout"
                    } else if (this.pwnoInitYn === 'Y') {
                        $('#popLayerInitPw').popup('show')
                    }
                },
                newPwdChk: function($e) {
                    this.pwDirty = true
                    this.pwChk = this.newPwdNo === $e.target.value
                },
                updatePwd: function() {
                    if (!this.pwChk && this.pwDirty) {
                        alert('비밀번호 확인 후 진행해주세요.')
                    } else {
                        var hashedPw = CryptoJS.SHA256(this.newPwdNo).toString()
                        var param = {
                            pwdNo: hashedPw
                        }
                        cf_call('/member/updateMbrPw', param, this.updatePwdCB)
                    }
                },
                updatePwdCB: function(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('비밀번호 변경이 완료되었습니다.\n새 비밀번호로 로그인 해주세요.')
                        window.location.href = "/logout"
                    }
                }
            },
            computed: {
                mstMbrTxt: function() {
                    if (this.mstMbrYn === 'Y') return '대표'
                    return '직원'
                }
            }
        })
    </script>
</div>
</html>