<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img th:src="@{/images/cmmn/hidden.png}" class="ico-vendor" alt="아이콘">상담접수관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>상담접수관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="purchaes01">통신사</label>
                            <select id="purchaes01" v-model="selectedCarr">
                                <option v-for="carr in carrArr" :value="carr.code">{{carr.value}}</option>
                            </select>

                        </li>
                        <li class="txtSize3">
                            <label for="purchaes02">개통유형</label>
                            <select id="purchaes02" v-model="selectedType">
                                <option v-for="type in counselType" :value="type.code">{{type.value}}</option>
                            </select>
                        </li>
                        <li class="txtSize5">
                            <label for="purchaes03">고객명</label>
                            <input type="text" id="purchaes03" placeholder="고객명 입력" v-model="clientNm">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="goToPage(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>통신사</td>
                                        <td>개통유형</td>
                                        <td>상담 요금제</td>
                                        <td>휴대폰</td>
                                        <td>고객명</td>
                                        <td>요청일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>상담 접수 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>통신사</td>
                                    <td>개통유형</td>
                                    <td>상담 요금제</td>
                                    <td>휴대폰</td>
                                    <td>고객명</td>
                                    <td>요청일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="counselList.length!=0" v-for="(list,idx) in counselList"
                                    @click="selectCs(list, idx)"
                                    :class="{ checkedItem: getTrClass(idx) }">
                                    <td class="alignC">{{list.mntCarr}}</td>
                                    <td class="alignC" v-if="list.pnRegDis === 'A'">번호이동</td>
                                    <td class="alignC" v-else-if="list.pnRegDis === 'B'">기기변경</td>
                                    <td class="alignC" v-else>신규가입</td>
                                    <td class="alignC">{{list.pnMntRtNm}}</td>
                                    <td class="alignC">{{list.pnMdlNm}}</td>
                                    <td class="alignC">{{list.clMbrNm}}</td>
                                    <td class="alignC">{{list.inpDt}}</td>
                                </tr>

                                <!-- 결과없음 -->
                                <tr v-if="counselList.length == 0" :class="{errorMessage : counselList.length == 0 }">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 상세정보
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>통신사 / 개통유형</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.mntCarr}} / {{selectedCs.pnRegDisNm}}</td>
                                <th>상담요금제</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.pnMntRtNm}}</td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td colspan="3" v-if="!selectedCs.callNo">-</td>
                                <td colspan="3" v-else>{{selectedCs.pnMdlNm}} {{selectedCs.pnStor}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="tblDataRow mb15" v-if="selectedCs.callNo">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #ebf3fd;">
                                    접수 시 판매 정책
                                </th>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #fdebed;">
                                    현재 판매 정책
                                </th>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">출고가</th>
                                <td style="text-align: right;">{{Number(selectedCs.pnMsrp).toLocaleString()}} 원</td>
                                <th style="background: #fdebed;">출고가</th>
                                <td style="text-align: right;">{{Number(currPolicy.pnMsrp).toLocaleString()}} 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">공시지원금</th>
                                <td style="text-align: right;">{{Number(selectedCs.oldOfclSubsd).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">공시지원금</th>
                                <td style="text-align: right;">{{Number(currPolicy.pnOfclSubsd).toLocaleString()}} 원
                                </td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">추가지원금(공시/선약)</th>
                                <td style="color: #ff0000; text-align: right;">
                                    {{Number(selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">추가지원금(공시/선약)</th>
                                <td style="text-align: right;">
                                    {{Number(currPolicy.pnExtSubsdDv).toLocaleString()}} 원
                                    &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">할부원금(공시/선약)</th>
                                <td style="color: #ff0000; text-align: right;">{{Number(selectedCs.pnMsrp -
                                    selectedCs.oldOfclSubsd -
                                    selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.pnMsrp -
                                    selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">할부원금(공시/선약)</th>
                                <td style="text-align: right;">{{Number(currPolicy.pnMsrp -
                                    currPolicy.pnOfclSubsd -
                                    currPolicy.pnExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnMsrp -
                                    currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="selectedCs.oldExtServYn === 'Y'">
                                    있음
                                </td>
                                <td style="color: #ff0000; text-align: right;" v-else>없음</td>
                                <th style="background: #fdebed;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="currPolicy.pnExtServYn === 'Y'">
                                    있음
                                </td>
                                <td style="color: #ff0000; text-align: right;" v-else>없음</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->
                <div class="contentTitle" v-if="selectedCs.callNo">
                    <div class="cTit"></div>
                    <div class="cTitRight">
                        <div id="btn2"><a href="#" class="btnM colorSky"><span>상담결과 저장</span></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="script">
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                carrArr: [
                    {code: "all", value: "전체"},
                    {code: "SKT", value: "SKT"},
                    {code: "KT", value: "KT"},
                    {code: "LGU", value: "LGU"}
                ],
                selectedCarr: "all",
                counselType: [
                    {code: "all", value: "전체"},
                    {code: "A", value: "번호이동"},
                    {code: "B", value: "기기변경"},
                    {code: "C", value: "신규가입"},
                ],
                selectedType: "all",
                clientNm: "",
                counselList: [],        // 현재 페이지 상담 리스트
                pageNo: "1",
                pageInfo: [],     // 현재 페이지 정보
                selectedCs: {},
                currPolicy: {}
            },
            mounted: function () {
                let type = 'init'
                this.searchList(type)
            },
            methods: {
                searchList(data) {
                    var param = {
                        mntCarr: this.selectedCarr,
                        counselType: this.selectedType,
                        clientNm: this.clientNm,
                        bnMbr: "all",
                        page: "1"
                    }
                    if (data === 'page') param.page = this.pageNo
                    this.selectedCs = {}
                    this.counselList = []
                    cf_call("/service/getCounselList", param, this.searchListCB)
                },
                searchListCB(data) {
                    this.pageInfo = data.pageInfo
                    for (idx in this.counselList) {
                        this.counselList[idx].idx = idx
                        switch (this.counselList[idx].pnRegDis) {
                            case 'A':
                                this.counselList[idx].pnRegDisNm = '번호이동'
                                break
                            case 'B':
                                this.counselList[idx].pnRegDisNm = '번호이동'
                                break
                            case 'C':
                                this.counselList[idx].pnRegDisNm = '신규가입'
                                break
                        }
                    }
                    this.counselList = data.counselList
                },
                goToPage(data) {
                    this.pageNo = "" + data
                    let type = 'page'
                    this.searchList(type)
                },
                selectCs(data, idx) {
                    this.selectedCs = {}
                    this.selectedCs = data
                    this.selectedCs.idx = idx

                    this.getCurrPolicy()
                },
                getTrClass(idx) {
                    if (idx === this.selectedCs.idx) return true
                    else return false
                },
                getCurrPolicy() {
                    var param = {
                        pnRegDis: this.selectedCs.pnRegDis,
                        pnMdlNo: this.selectedCs.pnMdlNo,
                        pnStor: this.selectedCs.pnStor,
                        pnMntRtNo: this.selectedCs.pnMntRtNo
                    }
                    cf_call("/service/getCurrPolicy", param, this.getCurrPolicyCB)
                },
                getCurrPolicyCB(data) {
                    this.currPolicy = data
                }
            }
        })
    </script>
</div>
</html>