<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">마케팅대상관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>마케팅대상관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize3">
                            <label for="marketing01">구분</label>
                            <select id="marketing01">
                                <option value="">전체</option>
                                <option value="">미진행</option>
                                <option value="">성공</option>
                                <option value="">실패</option>
                            </select>
                        </li>
                        <li class="txtSize2">
                            <label>대상월</label>
                            <input type="text" class="wDate" id="" placeholder="대상월 선택" value="2020-06">
                            <span class="datePickerUI">
											<input type="hidden" id="srchMktDate" title="대상월 선택">
											<a href="#" class="btnCalender" id="btnSrchMktDate"><em>조회 월 선택</em></a>
										</span>
                        </li>
                        <li class="txtSize5">
                            <label for="marketing02">고객명</label>
                            <input type="text" id="marketing02" placeholder="고객명 입력" value="">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            마케팅 대상 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <input type="hidden" value="1page" />
                                <div class="DefaultName">선택하세요</div>
                                <ul>
                                    <li id="1page">1 page</li>
                                    <li id="2page">2 page</li>
                                    <li id="3page">3 page</li>
                                    <li id="4page">4 page</li>
                                    <li id="5page">5 page</li>
                                    <li id="6page">6 page</li>
                                    <li id="7page">7 page</li>
                                    <li id="8page">8 page</li>
                                    <li id="9page">9 page</li>
                                    <li id="10page">10 page</li>
                                    <li id="11page">11 page</li>
                                    <li id="12page">12 page</li>
                                    <li id="13page">13 page</li>
                                    <li id="14page">14 page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>구분</td>
                                        <td>고객명</td>
                                        <td>개통번호</td>
                                        <td>개통일</td>
                                        <td>통신사</td>
                                        <td>휴대폰</td>
                                        <td>최종등록일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>마케팅 대상 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>구분</td>
                                    <td>고객명</td>
                                    <td>개통번호</td>
                                    <td>개통일</td>
                                    <td>통신사</td>
                                    <td>휴대폰</td>
                                    <td>최종등록일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="alignC">미진행</td>
                                    <td class="alignC">홍길동</td>
                                    <td class="alignC">010-1111-1111</td>
                                    <td class="alignC">2020-06-21</td>
                                    <td class="alignC">SKT</td>
                                    <td class="alignC">갤럭시 S20</td>
                                    <td class="alignC">2020-06-21 15:00</td>
                                </tr>
                                <tr class="checkedItem">
                                    <td class="alignC">미진행</td>
                                    <td class="alignC">고길동</td>
                                    <td class="alignC">010-1111-1110</td>
                                    <td class="alignC">2020-06-21</td>
                                    <td class="alignC">KT</td>
                                    <td class="alignC">갤럭시 S20</td>
                                    <td class="alignC">2020-06-21 15:10</td>
                                </tr>
                                <tr>
                                    <td class="alignC">미진행</td>
                                    <td class="alignC">이효리</td>
                                    <td class="alignC">010-1111-1120</td>
                                    <td class="alignC">2020-06-22</td>
                                    <td class="alignC">LGU+</td>
                                    <td class="alignC">갤럭시 S10</td>
                                    <td class="alignC">2020-06-21 15:20</td>
                                </tr>
                                <tr>
                                    <td class="alignC">성공</td>
                                    <td class="alignC">삼순이</td>
                                    <td class="alignC">010-1111-1130</td>
                                    <td class="alignC">2020-06-23</td>
                                    <td class="alignC">LGU+</td>
                                    <td class="alignC">갤럭시 S20 Plus</td>
                                    <td class="alignC">2020-06-21 15:30</td>
                                </tr>
                                <tr>
                                    <td class="alignC">실패</td>
                                    <td class="alignC">아무개</td>
                                    <td class="alignC">010-1111-1140</td>
                                    <td class="alignC">2020-06-24</td>
                                    <td class="alignC">SKT</td>
                                    <td class="alignC">갤럭시 S10 Plus</td>
                                    <td class="alignC">2020-06-21 15:40</td>
                                </tr>
                                <!-- 결과없음 -->
                                <tr class="errorMessage">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            마케팅 결과 등록
                        </div>
                        <div class="cTitRight">
                            <div id="btn2"><a href="#" class="btnM colorSky"><span>마케팅 결과 저장</span></a></div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>개통고객명</th>
                                <td>고길동</td>
                                <th>개통번호</th>
                                <td>0100-1111-1110</td>
                            </tr>
                            <tr>
                                <th>마케팅 결과<span class="icoMust"><em>필수</em></span></th>
                                <td>
                                    <input type="radio" id="mktSucc" name="mktRslt" value="mktSucc"><label
                                        for="mktSucc">성공</label>&nbsp;
                                    <input type="radio" id="mktFail" name="mktRslt" value="mktFail"><label
                                        for="mktFail">실패</label>
                                </td>
                                <th>방문예정일시<span class="icoMust"><em>필수</em></span></th>
                                <td>
                                    <input type="text" class="wDate" id="" placeholder="방문예정일시 선택" value="2020-06-25">
                                    <span class="datePickerUI">
														<input type="hidden" id="visitDate" title="방문예정일시 선택">
														<a href="#" class="btnCalender" id="btnVisitDate"><em>방문예정일시 선택</em></a>
													</span>
                                    <input type="text" class="wDate" id="" placeholder="방문예정일시 선택" value="13 : 00">
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center;">
                                    고객 구매 예정 정보</th>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center;">
                                    마케팅 처리 내용</th>
                            </tr>
                            <tr>
                                <th>통신사</th>
                                <td>
                                    <input type="radio" id="mktSkt" name="mktTelco" value="mktSkt"><label
                                        for="mktSkt">SKT</label>&nbsp;
                                    <input type="radio" id="mktKt" name="mktTelco" value="mktKt"><label
                                        for="mktKt">KT</label>&nbsp;
                                    <input type="radio" id="mktLgu" name="mktTelco" value="mktLgu"><label
                                        for="mktLgu">LGU+</label>
                                </td>
                                <td colspan="2" rowspan="5">
                                    <textarea style="width: 100%; height: 100%;">마케팅 처리 결과 내용 등록 입력란</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>개통유형</th>
                                <td>
                                    <input type="radio" id="mktNum" name="mktType" value="mktNum"><label
                                        for="mktNum">번호이동</label>&nbsp;
                                    <input type="radio" id="mktPhone" name="mktType" value="mktPhone"><label
                                        for="mktPhone">기기변경</label>&nbsp;
                                    <input type="radio" id="mktNew" name="mktType" value="mktNew"><label for="mktNew">신규가입</label>
                                </td>
                            </tr>
                            <tr>
                                <th>요금제</th>
                                <td>
                                    <select id="">
                                        <option value="">5G 790000</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰 제조사</th>
                                <td>
                                    <select id="">
                                        <option value="">삼성전자</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰 모델</th>
                                <td>
                                    <select id="">
                                        <option value="">갤럭시 S40 PLUS</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>
</html>