<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- service-marketing 고유 css -->
<th:block layout:fragment="css">
    <style>
        .datePickerInput {
            display: inline-block;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">마케팅대상관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>마케팅대상관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize3">
                            <label for="marketing01">구분</label>
                            <select id="marketing01" v-model="srchType">
                                <option value="A">전체</option>
                                <option value="N">미진행</option>
                                <option value="S">성공</option>
                                <option value="F">실패</option>
                            </select>
                        </li>
                        <li class="txtSize2">
                            <label>대상월</label>
                            <vuejs-datepicker
                                ref="srchDatePicker"
                                :input-class="'wDate'"
                                :wrapper-class="'datePickerInput'"
                                :language="ko"
                                :format="'yyyy-MM'"
                                :minimum-view="'month'"
                                :maximum-view="'month'"
                                v-model="srchDate"
                            ></vuejs-datepicker>
                            <span class="datePickerUI">
                                <a href="#;" class="btnCalender" id="btnSrchMktDate" @click="openSrchDatePicker"><em>조회 월 선택</em></a>
                            </span>
                        </li>
                        <li class="txtSize5">
                            <label for="marketing02">고객명</label>
                            <input
                                type="text"
                                id="marketing02"
                                placeholder="고객명 입력"
                                :value="srchName"
                                @input="srchName = $event.target.value"
                            >
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#;" class="btnM colorBlue" @click="getMarketingList('1')"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            마케팅 대상 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="getMarketingList(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>구분</td>
                                        <td>고객명</td>
                                        <td>개통번호</td>
                                        <td>개통일</td>
                                        <td>이전 통신사</td>
                                        <td>이전 휴대폰</td>
                                        <td>최종등록일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>마케팅 대상 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>구분</td>
                                    <td>고객명</td>
                                    <td>개통번호</td>
                                    <td>개통일</td>
                                    <td>이전 통신사</td>
                                    <td>이전 휴대폰</td>
                                    <td>최종등록일시</td>
                                </tr>
                                </thead>
                                <tbody v-if="mktList.length">
                                <tr
                                    v-for="(mktRow, index) in mktList"
                                    :class="{ checkedItem: getTrClass(index) }"
                                    @click="setTrIndex(index)"
                                >
                                    <td class="alignC">{{ mktRow.mktRsltTxt }}</td>
                                    <td class="alignC">{{ mktRow.mbrNm }}</td>
                                    <td class="alignC">{{ mktRow.mbrPnNo }}</td>
                                    <td class="alignC">{{ mktRow.pnRegDt }}</td>
                                    <td class="alignC">{{ mktRow.mntCarr }}</td>
                                    <td class="alignC">{{ mktRow.pnMdlNm }}</td>
                                    <td class="alignC">{{ mktRow.amdDt }}</td>
                                </tr>
                                </tbody>
                                <tbody v-else>
                                <!-- 결과없음 -->
                                <tr class="errorMessage">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            마케팅 결과 등록
                        </div>
                        <div class="cTitRight">
                            <div id="btn2">
                                <a
                                    href="#;"
                                    class="btnM"
                                    :class="{
                                        colorSky:!mktOneDisabled,
                                        disabled: mktOneDisabled
                                    }"
                                    @click="saveMktOne"
                                >
                                    <span>마케팅 결과 저장</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>개통고객명</th>
                                <td>{{ mktOne.mbrNm }}</td>
                                <th>개통번호</th>
                                <td>{{ mktOne.mbrPnNo }}</td>
                            </tr>
                            <tr>
                                <th>마케팅 결과<span class="icoMust"><em>필수</em></span></th>
                                <td>
                                    <input type="radio" id="mktSucc" name="mktRslt" value="S" v-model="mktOne.mktRslt" :disabled="mktOneDisabled">
                                    <label for="mktSucc">성공&ensp;</label>&nbsp;
                                    <input type="radio" id="mktFail" name="mktRslt" value="F" v-model="mktOne.mktRslt" :disabled="mktOneDisabled">
                                    <label for="mktFail">실패&ensp;</label>
                                </td>
                                <th>방문예정일시<span class="icoMust"><em>필수</em></span></th>
                                <td>
                                    <vuejs-datepicker
                                            ref="oneDatePicker"
                                            :input-class="'wDate'"
                                            :wrapper-class="'datePickerInput'"
                                            :language="ko"
                                            :format="'yyyy-MM-dd'"
                                            :minimum-view="'day'"
                                            :maximum-view="'day'"
                                            :disabled="mktOneDisabled"
                                            v-model="oneDate"
                                    ></vuejs-datepicker>
                                    <span class="datePickerUI">
										<a href="#;" class="btnCalender" id="btnVisitDate" @click="openOneDatePicker"><em>방문예정일시 선택</em></a>
									</span>
                                    <span style="width: 12px;"></span>
                                    <select id="oneHour" style="width: 62px !important;" :disabled="mktOneDisabled" v-model="oneHour">
                                        <option v-for="hour in setOneHour" :value="hour">{{ hour }}</option>
                                    </select>
                                    <span> : </span>
                                    <select id="oneMin" style="width: 62px !important;" :disabled="mktOneDisabled" v-model="oneMin">
                                        <option v-for="min in setOneMin" :value="min">{{ min }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center;">
                                    고객 구매 예정 정보</th>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center;">
                                    마케팅 처리 내용</th>
                            </tr>
                            <tr>
                                <th>통신사</th>
                                <td>
                                    <input type="radio" id="mktSkt" name="pnCarr" value="SKT" v-model="mktOne.pnCarr" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktSkt">SKT&ensp;</label>
                                    <input type="radio" id="mktKt" name="pnCarr" value="KT" v-model="mktOne.pnCarr" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktKt">KT&ensp;</label>
                                    <input type="radio" id="mktLgu" name="pnCarr" value="LGU" v-model="mktOne.pnCarr" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktLgu">LGU+&ensp;</label>
                                </td>
                                <td colspan="2" rowspan="5">
                                    <textarea
                                        style="width: 100%; height: 100%;"
                                        placeholder="마케팅 처리 결과 내용 등록 입력란"
                                        :value="mktOne.mktCmnt"
                                        @input="mktOne.mktCmnt = $event.target.value"
                                        maxlength="100"
                                        :disabled="mktOneDisabled"
                                    ></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>개통유형</th>
                                <td>
                                    <input type="radio" id="mktNum" name="pnRegDis" value="A" v-model="mktOne.pnRegDis" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktNum">번호이동&ensp;</label>&nbsp;
                                    <input type="radio" id="mktPhone" name="pnRegDis" value="B" v-model="mktOne.pnRegDis" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktPhone">기기변경&ensp;</label>&nbsp;
                                    <input type="radio" id="mktNew" name="pnRegDis" value="C" v-model="mktOne.pnRegDis" :disabled="mktOneDisabled">&nbsp;
                                    <label for="mktNew">신규가입&ensp;</label>
                                </td>
                            </tr>
                            <tr>
                                <th>요금제</th>
                                <td>
                                    <select id="selMonthlyRate" :disabled="mktOneDisabled" v-model="mktOne.pnMntRtNo">
                                        <option v-if="monthlyRateList.length" value="-1">- 요금제를 선택하세요 -</option>
                                        <option v-for="(plan, index) in monthlyRateList" :value="plan.pnMntRtNo">{{ plan.pnMntRtNm }} | {{ addCommaToPrice(plan.pnMntAmt) }}원</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰 제조사</th>
                                <td>
                                    <select id="pnMkr" :disabled="mktOneDisabled" v-model="mktOne.pnMkr">
                                        <option v-if="pnMkrList.length" value="-1">- 제조사를 선택하세요 -</option>
                                        <option v-if="!pnMkrList.length" value="mktOne.pnMkr">{{ mktOne.pnMkr }}</option>
                                        <option v-for="pnMkr in pnMkrList" :value="pnMkr">{{ setPnMkrNm(pnMkr) }}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰 모델</th>
                                <td>
                                    <select id="device" :disabled="mktOneDisabled" v-model="mktOne.pnMdl">
                                        <option v-if="deviceList.length" value="-1">- 모델을 선택하세요 -</option>
                                        <option v-if="!deviceList.length" :value="mktOne.pnMdl">{{ mktOne.pnMdl }}</option>
                                        <option v-for="deviceOne in deviceList" :value="setDeviceOne(deviceOne.pnMdlNm, deviceOne.pnStor)">{{ deviceOne.pnMdlNm }} {{ deviceOne.pnStor }}</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/vuejs-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/locale/translations/ko.js}"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                ko: vdp_translation_ko.js,
                srchType: 'A',
                srchDate: '',
                srchName: '',
                pageNo: '0',
                pageInfo: [],
                mktList: [],
                mktOne: {
                    pnMntRtNo: -1,
                    pnMkr: -1,
                    pnMdl: -1
                },
                oneDate: '',
                oneHour: '00',
                oneMin: '00',
                monthlyRateList: [],
                pnMkrData: [
                    {
                        mkrCd: 'SAM',
                        mkrNm: '삼성전자'
                    },
                    {
                        mkrCd: 'LGE',
                        mkrNm: 'LG전자'
                    },
                    {
                        mkrCd: 'XIA',
                        mkrNm: '샤오미'
                    },
                    {
                        mkrCd: 'APL',
                        mkrNm: '애플'
                    },
                ],
                pnMkrList: [],
                deviceList: [],
                selRow: -1,
            },
            components: {
                vuejsDatepicker
            },
            mounted: function(){
                this.srchDate = new Date()
                this.oneDate = new Date()
                this.getMarketingList('1')
            },
            watch: {
                'mktOne.pnCarr': function (val) {
                    this.getMonthlyRate(val)
                },
                'mktOne.pnMntRtNo': function (val) {
                    var pnNetType = this.monthlyRateList[val].pnNetType
                    this.getPnMkr(pnNetType)
                },
                'mktOne.pnMkr': function (val) {
                    this.getDevice(val)
                }
            },
            methods: {
                openSrchDatePicker() {
                    this.$refs.srchDatePicker.showCalendar()
                },
                openOneDatePicker() {
                    this.$refs.oneDatePicker.showCalendar()
                },
                getMarketingList(n) {
                    this.pageNo = n + ""
                    var param = {
                        srchType: this.srchType,
                        srchDate: this.paramDate,
                        srchName: this.srchName,
                        page: this.pageNo,
                    }
                    cf_call("/service/getMarketingList", param, this.getMarketingListCB)
                },
                getMarketingListCB(rslt) {
                    this.pageInfo = rslt.pageInfo
                    this.mktList = rslt.mktList
                },
                setTrIndex(idx) {
                    if (idx === this.selRow) {
                        this.selRow = -1
                        this.initMktOne()
                    } else {
                        this.selRow = idx
                        this.getMktOne()
                    }
                },
                getTrClass(idx) {
                    return (this.selRow === idx)
                },
                initMktOne() {
                    this.mktOne = {
                        pnMntRtNo: -1,
                        pnMkr: -1,
                        pnMdl: -1
                    }
                    this.monthlyRateList = []
                    this.pnMkrList = []
                    this.deviceList = []
                },
                getMktOne(){
                    var param = {
                        dealNo: this.mktList[this.selRow].dealNo
                    }
                    cf_call("/service/getMarketingOne", param, this.getMktOneCB)
                },
                getMktOneCB(rslt) {
                    this.mktOne = rslt.mktOne
                },
                getMonthlyRate(val) {
                    var param = {
                        pnCarr: val
                    }
                    cf_call("/service/getMonthlyRate", param, this.getMonthlyRateCB)
                },
                getMonthlyRateCB(rslt) {
                    this.monthlyRateList = rslt.monthlyRate
                },
                addCommaToPrice(val) {
                    var num = Number(val)
                    return num.toLocaleString()
                },
                getPnMkr(val) {
                    var param = {
                        pnNetType: val
                    }
                    cf_call("/service/getPnMkr", param, this.getPnMkrCB)
                },
                getPnMkrCB(rslt) {
                    this.pnMkrList = rslt.pnMkr
                },
                setPnMkrNm(val) {
                    for (var i=0; i < this.pnMkrData.length; i++) {
                        if (this.pnMkrData[i].mkrCd === val) return this.pnMkrData[i].mkrNm
                    }
                },
                getDevice(val) {
                    var pnCarrAbbr = this.mktOne.pnCarr.substring(0, 1)
                    var pnNetType = ''
                    for (var i=0; i < this.monthlyRateList.length; i++) {
                        if (this.monthlyRateList[i].pnMntRtNo === this.mktOne.pnMntRtNo) pnNetType = this.monthlyRateList[i].pnNetType
                    }

                    var param = {
                        pnMkr: val,
                        pnNetType: pnNetType,
                        pnCarrAbbr: pnCarrAbbr
                    }
                    cf_call("/service/getDeviceList", param, this.getDeviceCB)
                },
                getDeviceCB(rslt) {
                    this.deviceList = rslt.deviceList
                },
                setDeviceOne(a, b) {
                    return a + ' ' + b
                },
                saveMktOne() {
                    if (!this.mktOneDisabled) {
                        if (this.mktOne.mktRslt !== 'S' && this.mktOne.mktRslt !== 'F') {
                            alert('마케팅 결과를 지정해주세요.')
                        } else {
                            var param = this.mktOne
                            param.dealNo = this.mktList[this.selRow].dealNo
                            param.visitDt = this.setVisitDt
                            console.log(param)
                            cf_call("/service/saveMarketingOne", param, this.saveMktOneCB)
                        }
                    }
                },
                saveMktOneCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('마케팅 정보가 저장되었습니다.')
                        this.srchType = 'A'
                        this.srchName = ''
                        this.srchDate = new Date()
                        this.oneDate = new Date()
                        this.getMarketingList('1')
                        this.selRow = -1
                        this.initMktOne()
                    }
                }
            },
            computed: {
                paramDate() {
                    var srchYear = this.srchDate.getFullYear() - 2
                    var srchMonth = ((this.srchDate.getMonth() + 1) + "").padStart(2, '0')
                    return srchYear + "-" + srchMonth + "-"
                },
                mktOneDisabled() {
                    return !(this.selRow >= 0)
                },
                setOneHour() {
                    var oneHourList = []
                    for (var i=0; i < 24; i++) {
                        oneHourList.push((i + "").padStart(2, '0'))
                    }
                    return oneHourList
                },
                setOneMin() {
                    var oneMinList = []
                    for (var i=0; i < 60; i+=10) {
                        oneMinList.push((i + "").padStart(2, '0'))
                    }
                    return oneMinList
                },
                setVisitDt() {
                    return this.oneDate.getFullYear()
                        + '-' + ((this.oneDate.getMonth() + 1) + "").padStart(2, '0')
                        + '-' + this.oneDate.getDate()
                        + ' ' + this.oneHour + ':' + this.oneMin + ':00'
                }
            }
        })
    </script>
</div>
</html>