<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="css">
    <style>
        div.dpWrapWidth {
            width: 82px;
        }

        input.dpInputWidth {
            width: 100%;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img th:src="@{/images/cmmn/hidden.png}" class="ico-vendor" alt="아이콘">상담접수관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>상담접수관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="purchaes01">통신사</label>
                            <select id="purchaes01" v-model="selectedCarr">
                                <option v-for="carr in carrArr" :value="carr.code">{{carr.value}}</option>
                            </select>

                        </li>
                        <li class="txtSize3">
                            <label for="purchaes02">가입유형</label>
                            <select id="purchaes02" v-model="selectedType">
                                <option v-for="type in counselType" :value="type.code">{{type.value}}</option>
                            </select>
                        </li>
                        <li class="txtSize5">
                            <label for="purchaes03">고객명</label>
                            <input type="text" id="purchaes03" placeholder="고객명 입력" v-model="clientNm">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="goToPage(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>통신사</td>
                                        <td>개통유형</td>
                                        <td>상담 요금제</td>
                                        <td>휴대폰</td>
                                        <td>고객명</td>
                                        <td>요청일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>상담 접수 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>통신사</td>
                                    <td>가입유형</td>
                                    <td>상담 요금제</td>
                                    <td>휴대폰</td>
                                    <td>고객명</td>
                                    <td>요청일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="counselList.length!=0" v-for="(list,idx) in counselList"
                                    @click="selectCs(list, idx)"
                                    :class="{ checkedItem: getTrClass(idx) }">
                                    <td class="alignC">{{list.mntCarr}}</td>
                                    <td class="alignC" v-if="list.pnRegDis === 'A'">번호이동</td>
                                    <td class="alignC" v-else-if="list.pnRegDis === 'B'">기기변경</td>
                                    <td class="alignC" v-else>신규가입</td>
                                    <td class="alignC">{{list.pnMntRtNm}}</td>
                                    <td class="alignC">{{list.pnMdlNm}}</td>
                                    <td class="alignC">{{list.clMbrNm}}</td>
                                    <td class="alignC">{{list.inpDt}}</td>
                                </tr>

                                <!-- 결과없음 -->
                                <tr v-if="counselList.length == 0" :class="{errorMessage : counselList.length == 0 }">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 상세정보
                        </div>
                        <div class="cTitRight">
                            <div id="btn1"><a href="#popLayerServiceResultRefuse"
                                              class="btnM colorOrg popLayerServiceResultRefuse_open"
                                              v-if="selectedCs.callNo"><span>상담 거절</span></a>
                            </div>
                            <div id="btn2"><a href="#popLayerServiceResultAdd"
                                              class="btnM colorSky popLayerServiceResultAdd_open"
                                              v-if="selectedCs.callNo"><span>상담결과 저장</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>통신사 / 가입유형</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.mntCarr}} / {{selectedCs.pnRegDisNm}}</td>
                                <th>상담요금제</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.pnMntRtNm}}</td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td colspan="3" v-if="!selectedCs.callNo">-</td>
                                <td colspan="3" v-else>{{selectedCs.pnMdlNm}} {{selectedCs.pnStor}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #ebf3fd;">
                                    접수 시 판매 정책
                                </th>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #fdebed;">
                                    현재 판매 정책
                                </th>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">출고가</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="text-align: right;" v-else>{{Number(selectedCs.pnMsrp).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">출고가</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnMsrp).toLocaleString()}} 원
                                </td>
                                <td style="color: #ff0000; text-align: center; font-size: medium;"
                                    v-else-if="currPolicy.sellYn==='N'" rowspan="5">현재 판매중지된 정책입니다.
                                </td>
                                <td style="text-align: right;" v-else>- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">공시지원금</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="text-align: right;" v-else>
                                    {{Number(selectedCs.oldOfclSubsd).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">공시지원금</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnOfclSubsd).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">추가지원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="color: #ff0000; text-align: right;" v-else>
                                    {{Number(selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">추가지원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnExtSubsdDv).toLocaleString()}} 원
                                    &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">할부원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="color: #ff0000; text-align: right;" v-else>{{Number(selectedCs.pnMsrp -
                                    selectedCs.oldOfclSubsd -
                                    selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.pnMsrp -
                                    selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">할부원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">{{Number(currPolicy.pnMsrp
                                    -
                                    currPolicy.pnOfclSubsd -
                                    currPolicy.pnExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnMsrp -
                                    currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="selectedCs.callNo">
                                    <span v-if="selectedCs.oldExtServYn === 'Y'">있음</span>
                                    <span v-else>없음</span>
                                </td>
                                <td style="color: #ff0000; text-align: right;" v-else>-</td>
                                <th style="background: #fdebed;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    <span v-if="currPolicy.pnExtServYn === 'Y'">있음</span>
                                    <span v-else>없음</span>
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">-</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->
                <!--                <div class="contentTitle" v-if="selectedCs.callNo">-->
                <!--                    <div class="cTit"></div>-->
                <!--                    <div class="cTitRight">-->
                <!--                        <div id="btn2"><a href="#popLayerServiceResultAdd"-->
                <!--                                          class="btnM colorSky popLayerServiceResultAdd_open"><span>상담결과 저장</span></a>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 상담거절 -->
    <div class="layerWrapper layerSizeM" id="popLayerServiceResultRefuse" style="display:inline-block !important">
        <div class="layerHeader">
            <strong>상담 거절</strong>
            <a href="#" @click="closebtnInit" class="btnClose popLayerServiceResultRefuse_close">
                <img src="../images/cmmn/btn-layer-close.png" alt="창닫기">
            </a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <colgroup>
                            <col style="width:85px">
                            <col style="width:*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>거절사유</th>
                            <td style="height: 85px">
                                <textarea
                                        style="width: 100%; height: 100%;" v-model="refuseCmnt"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#;" class="btnL colorBlue"
                       @click="refuseCs"><span>저장</span></a>
                </div>
            </div>

        </div>
    </div>

    <!-- 팝업: 개통결과등록 -->
    <div class="layerWrapper layerSizeM" id="popLayerServiceResultAdd" style="display:inline-block !important">
        <div class="layerHeader">
            <strong>상담결과저장</strong>
            <a href="#;" @click="closebtnInit" class="btnClose popLayerServiceResultAdd_close">
                <img src="../images/cmmn/btn-layer-close.png" alt="창닫기">
            </a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <colgroup>
                            <col style="width:85px">
                            <col style="width:*">
                            <col style="width:85px">
                            <col style="width:*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>고객명</th>
                            <td>{{selectedCs.clMbrNm}}</td>
                            <th>고객번호</th>
                            <td>{{ getMbrPnNo( selectedCs.mbrPnNo )}}</td>
                        </tr>
                        <tr>
                            <th>방문예정일시</th>
                            <td colspan="3">
                                <span>
                                <vuejs-datepicker ref="programaticOpen1" :language="ko" placeholder="방문예정일자"
                                                  name="calendar01"
                                                  :input-class="'dpInputWidth'" :wrapper-class="'dpWrapWidth'"
                                                  :disabled-dates="disabledFn"
                                                  :format="format" v-model="visitDd">
                                </vuejs-datepicker>
                            </span>
                                <span>
                                <button @click="openPicker1"
                                        style="vertical-align: middle; width: 19px; height: 23px; background: url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;">
                                </button>
                            </span>
                                <span>
                                    <select style="width: 50px" v-model="visitHh">
                                        <option v-for="hh in hour" :value="hh.code">{{hh.value}}</option>
                                    </select>
                                </span> :
                                <span>
                                    <select style="width: 50px" v-model="visitMm">
                                        <option v-for="mm in minute" :value="mm.code">{{mm.value}}</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>상담내용</th>
                            <td colspan="3" style="height: 85px">
                                <textarea
                                        style="width: 100%; height: 100%;" v-model="csContent"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#;" class="btnL colorBlue"
                       @click="saveCs"><span>저장</span></a>
                </div>
            </div>

        </div>
    </div>

</div>

<div layout:fragment="script">
    <!-- //팝업: 상담내용등록 -->
    <script type="text/javascript">
        $(function () {
            if ($('#popLayerServiceResultRefuse').length) {
                //상담거절
                $('#popLayerServiceResultRefuse').popup();
            }
            if ($("#popLayerServiceResultAdd").length) {
                //상담내용등록
                $('#popLayerServiceResultAdd').popup();
            }
        });
    </script>


    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/vuejs-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/locale/translations/ko.js}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                ko: vdp_translation_ko.js,
                format: "yyyy-MM-dd",
                carrArr: [
                    {code: "all", value: "전체"},
                    {code: "SKT", value: "SKT"},
                    {code: "KT", value: "KT"},
                    {code: "LGU", value: "LGU"}
                ],
                selectedCarr: "all",
                counselType: [
                    {code: "all", value: "전체"},
                    {code: "A", value: "번호이동"},
                    {code: "B", value: "기기변경"},
                    {code: "C", value: "신규가입"},
                ],
                selectedType: "all",
                clientNm: "",
                counselList: [],        // 현재 페이지 상담 리스트
                pageNo: "1",
                pageInfo: [],     // 현재 페이지 정보
                selectedCs: {},
                currPolicy: {},
                hour: [
                    {code: "all", value: "시"},
                    {code: "09", value: "09"},
                    {code: "10", value: "10"},
                    {code: "11", value: "11"},
                    {code: "12", value: "12"},
                    {code: "13", value: "13"},
                    {code: "14", value: "14"},
                    {code: "15", value: "15"},
                    {code: "16", value: "16"},
                    {code: "17", value: "17"},
                    {code: "18", value: "18"},
                ],
                minute: [
                    {code: "all", value: "분"},
                    {code: "00", value: "00"},
                    {code: "10", value: "10"},
                    {code: "20", value: "20"},
                    {code: "30", value: "30"},
                    {code: "40", value: "40"},
                    {code: "50", value: "50"},
                ],
                visitDd: "",
                visitHh: "all",
                visitMm: "all",
                csContent: "",
                refuseCmnt: "",
                disabledDates: {},
                disabledFn: {
                    customPredictor(date) {
                        var t = new Date()
                        if (date.getDate() < t.getDate()) {
                            return true;
                        }
                    }
                },
            },
            components: {
                'vuejsDatepicker' : vuejsDatepicker
            },
            mounted: function () {
                var type = 'init'
                this.searchList(type)
            },
            methods: {
                searchList: function (data) {
                    var param = {
                        mntCarr: this.selectedCarr,
                        counselType: this.selectedType,
                        clientNm: this.clientNm,
                        bnMbr: "all",
                        page: "1"
                    }
                    if (data === 'page') param.page = this.pageNo
                    this.selectedCs = {}
                    this.counselList = []
                    cf_call("/service/getCounselList", param, this.searchListCB)
                },
                searchListCB: function (data) {
                    this.pageInfo = data.pageInfo
                    for (var i = 0; i < this.counselList.length; i++) {
                        this.counselList[i].idx = i
                        switch (this.counselList[i].pnRegDis) {
                            case 'A':
                                this.counselList[i].pnRegDisNm = '번호이동'
                                break
                            case 'B':
                                this.counselList[i].pnRegDisNm = '기기변경'
                                break
                            case 'C':
                                this.counselList[i].pnRegDisNm = '신규가입'
                                break
                        }
                    }

                    // for (idx in this.counselList) {
                    //     this.counselList[idx].idx = idx
                    //     switch (this.counselList[idx].pnRegDis) {
                    //         case 'A':
                    //             this.counselList[idx].pnRegDisNm = '번호이동'
                    //             break
                    //         case 'B':
                    //             this.counselList[idx].pnRegDisNm = '기기변경'
                    //             break
                    //         case 'C':
                    //             this.counselList[idx].pnRegDisNm = '신규가입'
                    //             break
                    //     }
                    // }
                    this.counselList = data.counselList
                },
                goToPage: function (data) {
                    this.pageNo = "" + data
                    var type = 'page'
                    this.searchList(type)
                },
                selectCs: function (data, idx) {
                    if (this.selectedCs.idx != idx) {
                        this.selectedCs = {}
                        this.selectedCs = data
                        this.selectedCs.idx = idx

                        switch (this.selectedCs.pnRegDis) {
                            case 'A':
                                this.selectedCs.pnRegDisNm = '번호이동'
                                break
                            case 'B':
                                this.selectedCs.pnRegDisNm = '기기변경'
                                break
                            case 'C':
                                this.selectedCs.pnRegDisNm = '신규가입'
                                break
                        }
                        this.getCurrPolicy()
                    } else {
                        this.selectedCs = {}
                        this.currPolicy = {}
                    }
                },
                getTrClass: function (idx) {
                    if (idx === this.selectedCs.idx) {
                        return true
                    } else {
                        return false
                    }
                },
                getCurrPolicy: function () {
                    var param = {
                        pnRegDis: this.selectedCs.pnRegDis,
                        pnMdlNo: this.selectedCs.pnMdlNo,
                        pnStor: this.selectedCs.pnStor,
                        pnMntRtNo: this.selectedCs.pnMntRtNo
                    }
                    cf_call("/service/getCurrPolicy", param, this.getCurrPolicyCB)
                },
                getCurrPolicyCB: function (data) {
                    this.currPolicy = data
                },
                openPicker1: function () {
                    this.$refs.programaticOpen1.showCalendar();
                },
                getToday: function () {
                    var today = new Date()
                    var year = '' + today.getFullYear()
                    var month = today.getMonth() + 1
                    var day = today.getDate();

                    if (("" + month).length == 1) {
                        month = "0" + month
                    }
                    if (("" + day).length == 1) {
                        day = "0" + day
                    }
                    return year.concat('', month, '', day)
                },
                saveCs: function () {
                    var t = new Date(this.visitDd)
                    var year = "" + t.getFullYear()
                    var month = t.getMonth() + 1
                    var day = t.getDate()

                    if (("" + month).length == 1) {
                        month = "0" + month
                    }
                    if (("" + day).length == 1) {
                        day = "0" + day
                    }
                    if (this.visitDd.length === 0 || this.visitHh === "all" || this.visitMm === "all") {
                        alert('방문예정일을 선택해주세요')
                        return
                    }
                    if (this.csContent.length === 0) {
                        alert('상담내용을 작성해주세요')
                        return
                    }
                    var visitDt = year.concat("", month, "", day, this.visitHh, this.visitMm)
                    var param = {
                        callNo: this.selectedCs.callNo,
                        visitDt: visitDt,
                        csContent: this.csContent
                    }
                    if (confirm('상담결과를 저장하시겠습니까?')) {
                        cf_call("/service/saveCounsel", param, this.saveCsCB)
                    }
                },
                saveCsCB: function (data) {
                    if (data.succ === "Y") {
                        alert('상담결과가 저장되었습니다.')
                        var type = 'init'
                        this.visitDd = ""
                        this.visitHh = "all"
                        this.visitMm = "all"
                        $('#popLayerServiceResultAdd').popup("hide");
                        this.currPolicy = {}
                        this.searchList(type)
                    }
                },
                refuseCs: function () {

                    var param = {
                        callNo: this.selectedCs.callNo,
                        cnclCmnt: this.refuseCmnt
                    }
                    if (!this.refuseCmnt) {
                        alert('거절사유를 입력해주세요.')
                        return
                    }
                    if (confirm('상담을 거절하시겠습니까?')) {
                        cf_call("/service/refuseCounsel", param, this.refuseCsCB)
                    }
                },
                refuseCsCB: function (data) {
                    if (data.succ === "Y") {
                        var type = 'init'
                        $('#popLayerServiceResultRefuse').popup("hide");
                        alert('상담을 거절하였습니다.')
                        this.currPolicy = {}
                        this.searchList(type)
                    }
                },
                getMbrPnNo: function (val) {
                    var formatPnNo = ''
                    if (val !== undefined) {
                        if (val.length === 10) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 6) + '-' + val.substring(6, 10)
                        } else if (val.length === 11) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 7) + '-' + val.substring(7, 11)
                        }
                    }
                    return formatPnNo
                },
                closebtnInit: function(){
                    this.refuseCmnt = ""
                    this.visitDd = ""
                    this.visitHh = "all"
                    this.visitMm = "all"
                    this.csContent = ""
                }
            }
        })
    </script>
</div>
</html>