<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<th:block layout:fragment="css">
    <style>
        #container > .fixedWidth {
            min-height: 1184px !important;
        }

        .searchArea .txtSize2 input, .searchArea .txtSize2 select {
            width: 100%;
        }

        div.dpWrapWidth {
            width: 82px;
        }

        input.dpInputWidth {
            width: 100%;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">방문개통관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>방문개통관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label>방문예정일</label>
                            <span>
                                <vuejs-datepicker ref="programaticOpen1" :language="ko" placeholder="방문예정일자"
                                                  name="calendar01"
                                                  :input-class="'dpInputWidth'" :wrapper-class="'dpWrapWidth'"
                                                  :disabled-dates="disabledFn"
                                                  :format="format" v-model="searchDay">
                                </vuejs-datepicker>
                            </span>
                            <span>
                                <button @click="openPicker1"
                                        style="vertical-align: middle; width: 19px; height: 23px; background: url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;">
                                </button>
                            </span>
                        </li>
                        <li class="txtSize5">
                            <label for="visit01">고객명</label>
                            <input type="text" id="visit01" placeholder="고객명 입력" v-model="clientNm">
                        </li>
                        <li class="txtSize3">
                            <label for="visit02">등록자</label>
                            <select id="visit02" v-model="selectedBnMbr">
                                <option value="all">전체</option>
                                <option v-for="mbr in bnMbr" :value="mbr.bnMbrId">{{mbr.mbrNm}}</option>
                            </select>
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            방문 대상 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="goToPage(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>방문예정일시</td>
                                        <td>고객명</td>
                                        <td>통신사</td>
                                        <td>가입유형</td>
                                        <td>상담 요금제</td>
                                        <td>휴대폰</td>
                                        <td>등록자</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>방문 대상 현황 정보</caption>
                                <colgroup>
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>방문예정일시</td>
                                    <td>고객명</td>
                                    <td>통신사</td>
                                    <td>가입유형</td>
                                    <td>상담 요금제</td>
                                    <td>휴대폰</td>
                                    <td>등록자</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(list,idx) in counselList" @click="selectCs(list, idx)"
                                    :class="{ checkedItem: getTrClass(idx) }">
                                    <td class="alignC">{{list.visitDt}}</td>
                                    <td class="alignC">{{list.clMbrNm}}</td>
                                    <td class="alignC">{{list.mntCarr}}</td>
                                    <td class="alignC">{{list.pnRegDisNm}}</td>
                                    <td class="alignC">{{list.pnMntRtNm}}</td>
                                    <td class="alignC">{{list.pnMdlNm}}</td>
                                    <td class="alignC">{{list.mbrNm}}</td>
                                </tr>

                                <!-- 결과없음 -->
                                <tr v-if="counselList.length == 0" :class="{errorMessage : counselList.length == 0 }">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 상세정보
                        </div>
                        <div class="cTitRight">
                            <!-- !!! 여기가 팝업 버튼 !!! -->
                            <div id="btn2" v-if="selectedCs.callNo"><a href="#popLayerServiceResultAdd"
                                                                       class="btnM colorGreen popLayerServiceResultAdd_open"
                                                                       @click="rsltLayerMntRtInit"><span>개통결과 등록</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>통신사 / 가입유형</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.mntCarr}} / {{selectedCs.pnRegDisNm}}</td>
                                <th>상담요금제</th>
                                <td v-if="!selectedCs.callNo">-</td>
                                <td v-else>{{selectedCs.pnMntRtNm}}</td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td colspan="3" v-if="!selectedCs.callNo">-</td>
                                <td colspan="3" v-else>{{selectedCs.pnMdlNm}} {{selectedCs.pnStor}}GB</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #ebf3fd;">
                                    접수 시 판매 정책
                                </th>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #fdebed;">
                                    현재 판매 정책
                                </th>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">출고가</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="text-align: right;" v-else>{{Number(selectedCs.pnMsrp).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">출고가</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnMsrp).toLocaleString()}} 원
                                </td>
                                <td style="color: #ff0000; text-align: center; font-size: medium;"
                                    v-else-if="currPolicy.sellYn==='N'" rowspan="5">현재 판매중지된 정책입니다.
                                </td>
                                <td style="text-align: right;" v-else>- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">공시지원금</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="text-align: right;" v-else>
                                    {{Number(selectedCs.oldOfclSubsd).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">공시지원금</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnOfclSubsd).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">추가지원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="color: #ff0000; text-align: right;" v-else>
                                    {{Number(selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">추가지원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    {{Number(currPolicy.pnExtSubsdDv).toLocaleString()}} 원
                                    &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">할부원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="!selectedCs.callNo">- 원</td>
                                <td style="color: #ff0000; text-align: right;" v-else>{{Number(selectedCs.pnMsrp -
                                    selectedCs.oldOfclSubsd -
                                    selectedCs.oldExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(selectedCs.pnMsrp -
                                    selectedCs.oldExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <th style="background: #fdebed;">할부원금(공시/선약)</th>
                                <td style="text-align: right;" v-if="currPolicy.sellYn==='Y'">{{Number(currPolicy.pnMsrp
                                    -
                                    currPolicy.pnOfclSubsd -
                                    currPolicy.pnExtSubsdDv).toLocaleString()}} 원 &nbsp; / &nbsp;
                                    {{Number(currPolicy.pnMsrp -
                                    currPolicy.pnExtSubsdRt).toLocaleString()}} 원
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">- 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="selectedCs.callNo">
                                    <span v-if="selectedCs.oldExtServYn === 'Y'">있음</span>
                                    <span v-else>없음</span>
                                </td>
                                <td style="color: #ff0000; text-align: right;" v-else>-</td>
                                <th style="background: #fdebed;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;" v-if="currPolicy.sellYn==='Y'">
                                    <span v-if="currPolicy.pnExtServYn === 'Y'">있음</span>
                                    <span v-else>없음</span>
                                </td>
                                <td style="text-align: right;" v-else-if="!currPolicy.sellYn">-</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

                <!-- content group3 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담결과정보
                        </div>
                        <div class="cTitRight">
                            <div id="btn2" v-if="selectedCs.callNo"><a href="#" class="btnM colorSky"
                                                                       @click="modiVisitDt"><span>방문예정일시 변경</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>고객명</th>
                                <td v-if="selectedCs.callNo">{{selectedCs.clMbrNm}}</td>
                                <td v-else>-</td>
                                <th>상담결과</th>
                                <td v-if="selectedCs.callStCd === 'P'">방문예정</td>
                                <td v-else>-</td>
                            </tr>
                            <tr>
                                <th>고객연락처</th>
                                <td v-if="selectedCs.callNo">{{selectedCs.mbrPnNo}}</td>
                                <td v-else>-</td>
                                <th>방문예정일시<span class="icoMust"><em>필수</em></span></th>
                                <td>
                                    <span>
                                    <vuejs-datepicker ref="programaticOpen2" :language="ko" placeholder="방문예정일자"
                                                      :input-class="'dpInputWidth'" :wrapper-class="'dpWrapWidth'"
                                                      name="calendar02" :disabled-dates="disabledFn"
                                                      :format="format" v-model="rsltToReg.visitDt">
                                    </vuejs-datepicker></span>
                                    <span>
                                        <button @click="openPicker2"
                                                style="vertical-align: middle; width: 19px; height: 23px; background: url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;"></button>
                                    </span>
                                    <span>
                                    <select style="width: 50px" v-model="modiHH">
                                        <option v-for="hh in hour" :value="hh.code">{{hh.value}}</option>
                                    </select>
                                </span> :
                                    <span>
                                    <select style="width: 50px" v-model="modiMM">
                                        <option v-for="mm in minute" :value="mm.code">{{mm.value}}</option>
                                    </select>
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #ebf3fd;">
                                    고객요청사항
                                </th>
                                <th colspan="2"
                                    style="padding: 6px 10px 6px 12px; text-align: center; background: #ebfdeb;">
                                    상담내용
                                </th>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 100px">{{selectedCs.dealReq}}</td>
                                <td colspan="2" style="height: 100px">{{selectedCs.callCont}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group3 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 개통결과등록 -->
    <div class="layerWrapper layerSizeM" id="popLayerServiceResultAdd" style="display:inline-block !important">
        <div class="layerHeader">
            <strong>개통결과등록</strong>
            <a href="#" class="btnClose popLayerServiceResultAdd_close"><img src="../images/cmmn/btn-layer-close.png"
                                                                             alt="창닫기"></a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <caption>개통결과등록</caption>
                        <colgroup>
                            <col style="width:80px">
                            <col style="width:*">
                            <col style="width:80px">
                            <col style="width:*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>구분</th>
                            <td colspan="3">
                                <input type="radio" id="saleSucc" name="saleRslt" value="T" v-model="modiCallStCd">
                                <label for="saleSucc">개통완료</label>&nbsp;
                                <input type="radio" id="saleFail" name="saleRslt" value="E" v-model="modiCallStCd">
                                <label for="saleFail">미개통</label>
                            </td>
                        </tr>
                        <tr>
                            <th>개통담당자</th>
                            <td colspan="3">
                                <select class="wPer" v-model="rsltToReg.bnMbrId">
                                    <option v-for="mbr in bnMbr" :value="mbr.bnMbrId">{{mbr.mbrNm}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>고객명</th>
                            <td>{{rsltToReg.clMbrNm}}
                            </td>
                            <th>개통번호</th>
                            <td>
                                <input class="wPer" type="text" id="mbrPnNo"
                                       placeholder="'-'없이 숫자 10-11자리 입력" v-model="rsltToReg.mbrPnNo"
                                       @input="setMbrPnNo($event.target.value)" :disabled='modiCallStCd==="E"'>
                            </td>
                        </tr>
                        <tr>
                            <th>통신사</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.mntCarr" :disabled='modiCallStCd==="E"'>
                                    <option v-for="carr in carrArr" :value="carr.code">{{carr.value}}</option>
                                </select>
                            </td>
                            <th>가입유형</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.pnRegDis" :disabled='modiCallStCd==="E"'>
                                    <option v-for="type in counselType" :value="type.code">{{type.value}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>요금제</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.pnMntRtNo" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="mntrt in mntrtList" :value="mntrt.pnMntRtNo">
                                        {{mntrt.pnMntRtNm}}
                                    </option>
                                </select>
                            </td>
                            <th>약정기간</th>
                            <td>
                                <input type="radio" id="period12" name="RegPeriod" value="12" v-model="selectedPd"
                                       :disabled='modiCallStCd==="E"'>
                                <label for="period12">12개월</label>&nbsp;
                                <input type="radio" id="period24" name="RegPeriod" value="24" v-model="selectedPd"
                                       :disabled='modiCallStCd==="E"'>
                                <label for="period24">24개월</label>
                            </td>
                        </tr>
                        <tr>
                            <th>제조사</th>
                            <td>
                                <select class="wPer" v-model="selectedMkr" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="mkr in pnMkrList" :value="mkr">{{setPnMkrNm(mkr)}}</option>
                                </select>
                            </td>
                            <th>모델</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.pnMdlNo" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="device in deviceList" :value="device.pnMdlNo">{{device.pnMdlNm}}
                                        {{device.pnStor}}GB
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>부가서비스</th>
                            <td colspan="3">
                                <input type="radio" id="extServY" value="Y" :disabled='modiCallStCd==="E"'
                                       v-model="rsltToReg.oldExtServYn"><label for="extServY">유</label>&nbsp;
                                <input type="radio" id="extServN" value="N" :disabled='modiCallStCd==="E"'
                                       v-model="rsltToReg.oldExtServYn"><label for="extServN">무</label>
                            </td>
                        </tr>
                        <tr>
                            <th>상담내용</th>
                            <td colspan="3">
                                <input class="wPer" type="text" placeholder="상담결과내용" v-model="rsltToReg.callCont"
                                       :disabled='modiCallStCd==="E"'>
                            </td>
                        </tr>
                        <tr>
                            <th>기타사항</th>
                            <td colspan="3" style="height: 85px">
                                <textarea style="width: 100%; height: 100%;" v-model="rsltTxt"
                                          placeholder="특이사항을 작성해주세요"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#" class="btnL colorBlue" @click="registerRslt"><span>저장</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <!-- //팝업: 개통결과등록 -->
    <script type="text/javascript">
        $(function () {
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerServiceResultAdd').popup();
            }
        });
    </script>
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/vuejs-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/locale/translations/ko.js}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                ko: vdp_translation_ko.js,
                format: "yyyy-MM-dd",
                hour: [
                    {code: "all", value: "선택"},
                    {code: "09", value: "09"},
                    {code: "10", value: "10"},
                    {code: "11", value: "11"},
                    {code: "12", value: "12"},
                    {code: "13", value: "13"},
                    {code: "14", value: "14"},
                    {code: "15", value: "15"},
                    {code: "16", value: "16"},
                    {code: "17", value: "17"},
                    {code: "18", value: "18"},
                ],
                minute: [
                    {code: "all", value: "선택"},
                    {code: "00", value: "00"},
                    {code: "10", value: "10"},
                    {code: "20", value: "20"},
                    {code: "30", value: "30"},
                    {code: "40", value: "40"},
                    {code: "50", value: "50"},
                ],
                modiHH: "all",
                modiMM: "all",
                searchDay: "",
                clientNm: "",
                bnMbr: [],
                selectedBnMbr: "all",
                modiCallStCd: "",
                carrArr: [
                    {code: "all", value: "선택"},
                    {code: "SKT", value: "SKT"},
                    {code: "KT", value: "KT"},
                    {code: "LGU", value: "LGU"}
                ],
                counselType: [
                    {code: "all", value: "선택"},
                    {code: "A", value: "번호이동"},
                    {code: "B", value: "기기변경"},
                    {code: "C", value: "신규가입"},
                ],
                period: [
                    {code: "12", value: "12개월"},
                    {code: "24", value: "24개월"}
                ],
                selectedPd: "",
                mntrtList: [],          // 사용중인 전체 요금제 리스트
                // useMntrtListByCarr: [],     //  통신사에 따른 사용 요금제 리스트
                deviceList: [],              // 전체 디바이스 목록
                devListByMkr: [],
                selectedMkr: "",              // 개통결과등록레이어팝업 내에 제조사 항목
                selectedCarrChg: false,
                selectedMkrChg: false,
                selectedMdlChg: false,
                // pnMkr: [
                //     {code: "SAM", value: "삼성전자"},
                //     {code: "APP", value: "애플"},
                //     {code: "LGE", value: "LG전자"},
                //     {code: "ETC", value: "기타"}
                // ],
                pnMkrData: [
                    {
                        mkrCd: 'SAM',
                        mkrNm: '삼성전자'
                    },
                    {
                        mkrCd: 'LGE',
                        mkrNm: 'LG전자'
                    },
                    {
                        mkrCd: 'APP',
                        mkrNm: '애플'
                    },
                    {
                        mkrCd: 'XIA',
                        mkrNm: '샤오미'
                    }
                ],
                pnMkrList: [],
                rsltTxt: "",                 // 개통결과등록 기타사항
                counselList: [],            // 현재 페이지 상담 리스트
                pageNo: "1",
                pageInfo: [],              // 현재 페이지 정보
                selectedCs: {},
                rsltToReg: {},
                currPolicy: {},
                today: "",
                disabledDates: {},
                disabledFn: {
                    customPredictor(date) {
                        var t = new Date()
                        if (date.getDate() < t.getDate()) {
                            return true;
                        }
                    }
                },
            },
            components: {
                'vuejsDatepicker': vuejsDatepicker
            },
            mounted: function () {
                this.getToday()
            },
            watch: {
                'rsltToReg.mntCarr': {
                    handler(value) {
                        this.rsltLayerMntRtInit()

                        if (value !== this.selectedCs.mntCarr) {
                            this.selectedCarrChg = true
                            if (this.selectedCarrChg === true) {
                                this.rsltToReg.pnRegDis = "all"
                                this.rsltToReg.pnMntRtNo = "all"
                            }
                        }
                    },
                    immediate: true
                },
                'rsltToReg.pnMntRtNo': {
                    handler(value) {
                        var pnNetType = this.getPnNetType(value)
                        this.rsltLayerMkrInit(pnNetType)
                        if (value !== this.selectedCs.pnMntRtNo) {
                            this.selectedMkr = "all"
                        }
                    },
                    immediate: true
                },
                selectedMkr: function (data) {
                    var mntCarr = this.rsltToReg.mntCarr
                    this.rsltLayerDeviceInit(data)
                    if (data !== this.selectedCs.pnMkr) {
                        this.rsltToReg.pnMdlNo = 'all'
                        this.selectedMkrChg = true  // 제조사 값 변경됨 - true
                    }
                }
            },
            methods: {
                getToday: function () {
                    var today = new Date()
                    var year = today.getFullYear()
                    var month = today.getMonth() + 1
                    var day = today.getDate();

                    if (("" + month).length == 1) {
                        month = "0" + month
                    }
                    if (("" + day).length == 1) {
                        day = "0" + day
                    }
                    this.today = "" + year + '-' + month + '-' + day
                    this.getBnMbrList()
                },
                getBnMbrList: function () {
                    var param = {}
                    cf_call("/service/bnMbrList", param, this.getBnMbrListCB)
                },
                getBnMbrListCB: function (data) {
                    this.bnMbr = data

                    var type = 'init'
                    this.searchList(type)
                },
                searchList: function (data) {
                    var t = new Date(this.searchDay)
                    var yy = "" + t.getFullYear()
                    var mm = t.getMonth() + 1
                    var dd = t.getDate();
                    if (("" + mm).length == 1) {
                        mm = "0" + mm
                    }
                    if (("" + dd).length == 1) {
                        dd = "0" + dd
                    }
                    yy = yy.concat("-", mm, "-", dd)

                    var param = {
                        mntCarr: "all",
                        counselType: "all",
                        visitDt: yy,
                        clientNm: this.clientNm,
                        bnMbr: this.selectedBnMbr,
                        page: "1"
                    }
                    if (data === 'page') {
                        param.page = this.pageNo
                    }
                    if (data === 'init') {
                        this.searchDay = this.today
                        param.visitDt = this.today
                    }
                    this.selectedCs = {}
                    this.counselList = []
                    cf_call("/service/getVisitCounselList", param, this.searchListCB)
                },
                searchListCB: function (data) {
                    this.pageInfo = data.pageInfo
                    var tempArr = []
                    for (var i = 0; i < data.counselList.length; i++) {
                        data.counselList[i].idx = idx
                        switch (data.counselList[i].pnRegDis) {
                            case "A":
                                data.counselList[i].pnRegDisNm = '번호이동'
                                break
                            case "B":
                                data.counselList[i].pnRegDisNm = '기기변경'
                                break
                            case "C":
                                data.counselList[i].pnRegDisNm = '신규가입'
                                break
                        }
                    }

                    // for (idx in data.counselList) {
                    //     data.counselList[idx].idx = idx
                    //     switch (data.counselList[idx].pnRegDis) {
                    //         case "A":
                    //             data.counselList[idx].pnRegDisNm = '번호이동'
                    //             break
                    //         case "B":
                    //             data.counselList[idx].pnRegDisNm = '기기변경'
                    //             break
                    //         case "C":
                    //             data.counselList[idx].pnRegDisNm = '신규가입'
                    //             break
                    //     }
                    // }
                    this.counselList = data.counselList
                },
                goToPage: function (data) {
                    this.pageNo = "" + data
                    var type = 'page'
                    this.searchList(type)
                },
                selectCs: function (data, idx) {
                    if (this.selectedCs.idx != idx) {
                        this.selectedCs = {}
                        this.selectedCs = data
                        this.selectedCs.idx = idx
                        this.selectedCs.mbrPnNo = this.getMbrPnNo(this.selectedCs.mbrPnNo)

                        this.selectedMkr = this.selectedCs.pnMkr
                        this.rsltToReg = JSON.parse(JSON.stringify(data))

                        var t = new Date(this.selectedCs.visitDt)
                        var hh = "" + t.getHours()
                        var mm = "" + t.getMinutes()
                        if (("" + mm).length == 1) {
                            mm = "0" + mm
                        }
                        this.modiHH = hh
                        this.modiMM = mm

                        switch (this.selectedCs.pnRegDis) {
                            case 'A':
                                this.selectedCs.pnRegDisNm = '번호이동'
                                break
                            case 'B':
                                this.selectedCs.pnRegDisNm = '기기변경'
                                break
                            case 'C':
                                this.selectedCs.pnRegDisNm = '신규가입'
                                break
                        }

                        this.getCurrPolicy()
                    } else {
                        this.selectedCs = {}
                        this.rsltToReg = {}
                        this.currPolicy = {}
                        this.modiHH = 'all'
                        this.modiMM = 'all'
                    }
                },
                getTrClass: function (idx) {
                    if (idx === this.selectedCs.idx) return true
                    else return false
                },
                getCurrPolicy: function () {
                    var param = {
                        pnRegDis: this.selectedCs.pnRegDis,
                        pnMdlNo: this.selectedCs.pnMdlNo,
                        pnStor: this.selectedCs.pnStor,
                        pnMntRtNo: this.selectedCs.pnMntRtNo
                    }
                    cf_call("/service/getCurrPolicy", param, this.getCurrPolicyCB)
                },
                getCurrPolicyCB: function (data) {
                    this.currPolicy = data
                },
                openPicker1: function () {
                    this.$refs.programaticOpen1.showCalendar();
                },
                openPicker2: function () {
                    this.$refs.programaticOpen2.showCalendar();
                },
                rsltLayerMntRtInit: function () {
                    var param = {
                        pnCarr: this.rsltToReg.mntCarr
                    }
                    cf_call("/service/getMonthlyRate", param, this.rsltLayerMntRtInitCB)
                },
                rsltLayerMntRtInitCB: function (data) {
                    this.mntrtList = data.monthlyRate

                    if (this.rsltToReg.pnMntRtNo !== null && (this.rsltToReg.pnMntRtNo * 1) !== -1) {
                        var pnNetType = this.getPnNetType(this.rsltToReg.pnMntRtNo)
                        this.rsltLayerMkrInit(pnNetType)
                    }
                },
                getPnNetType: function (val) {
                    var pnNetType = ''
                    for (var i = 0; i < this.mntrtList.length; i++) {
                        if (this.mntrtList[i].pnMntRtNo === Number(val)) {
                            pnNetType = this.mntrtList[i].pnNetType
                        }
                    }
                    return pnNetType
                },
                rsltLayerMkrInit: function (val) {
                    var carr = ''
                    switch (this.rsltToReg.mntCarr) {
                        case "SKT":
                            carr = 'S'
                            break
                        case "KT":
                            carr = 'K'
                            break
                        case "LGU":
                            carr = 'L'
                            break
                    }
                    var param = {
                        pnNetType: val,
                        pnCarrAbbr: carr
                    }
                    cf_call("/service/getPnMkr", param, this.rsltLayerMkrInitCB)
                },
                rsltLayerMkrInitCB: function (data) {
                    this.pnMkrList = data.pnMkr
                    if (this.rsltToReg.pnMntRtNo !== null) {
                        this.rsltLayerDeviceInit(this.rsltToReg.pnMkr)
                    }
                },
                setPnMkrNm: function (val) {
                    for (var i = 0; i < this.pnMkrData.length; i++) {
                        if (this.pnMkrData[i].mkrCd === val) return this.pnMkrData[i].mkrNm
                    }
                },
                rsltLayerDeviceInit: function (val) {
                    var carr = ''
                    var pnNetType = this.getPnNetType(this.rsltToReg.pnMntRtNo)
                    switch (this.rsltToReg.mntCarr) {
                        case "SKT":
                            carr = 'S'
                            break
                        case "KT":
                            carr = 'K'
                            break
                        case "LGU":
                            carr = 'L'
                            break
                    }
                    var param = {
                        pnMkr: val,
                        pnNetType: pnNetType,
                        pnCarrAbbr: carr
                    }
                    cf_call("/service/getDeviceList", param, this.rsltLayerDeviceInitCB)
                },
                rsltLayerDeviceInitCB: function (data) {
                    this.deviceList = data.deviceList
                },
                modiVisitDt: function () {
                    if (confirm('방문예정일시를 변경하시겠습니까?')) {
                        var modiDate = new Date(this.rsltToReg.visitDt)
                        var temp = "" + modiDate.getFullYear()
                        var m = modiDate.getMonth() + 1
                        var d = modiDate.getDate()
                        if (("" + m).length == 1) {
                            m = "0" + m
                        }
                        if (("" + d).length == 1) {
                            d = "0" + d
                        }
                        temp = temp.concat("", m, "", d, this.modiHH, this.modiMM)

                        var param = {
                            callNo: this.selectedCs.callNo,
                            visitDt: temp
                        }
                        cf_call("/service/modiVisitDt", param, this.modiVisitDtCB)
                    }
                },
                modiVisitDtCB: function (data) {
                    if (data.succ === "Y") {
                        alert('방문예정일시가 변경되었습니다.')
                        var type = 'page'
                        this.visitHH = "all"
                        this.visitMM = "all"
                        this.searchList(type)
                    }
                },
                registerRslt: function () {
                    var param = {}
                    if (this.modiCallStCd === 'T') {
                        param = {
                            bnMbrId: this.rsltToReg.bnMbrId,
                            callStCd: this.modiCallStCd,
                            regMbrPnNo: this.rsltToReg.mbrPnNo,
                            regCarr: this.rsltToReg.mntCarr,
                            regType: this.rsltToReg.pnRegDis,
                            regMntRtNo: this.rsltToReg.pnMntRtNo,
                            regPnMdlNo: this.rsltToReg.pnMdlNo,
                            regExtServYn: this.rsltToReg.oldExtServYn,
                            regPd: this.selectedPd,
                            callCont: this.rsltToReg.callCont,
                            dealCont: this.rsltTxt,
                            pnRegYn: 'Y',
                            callNo: this.rsltToReg.callNo
                        }
                        if (param.regMbrPnNo.length <= 10) {
                            alert('개통번호를 확인해주세요.')
                            return
                        }
                        if (param.regCarr === 'all') {
                            alert('통신사를 선택해주세요.')
                            return
                        }
                        if (param.regType === 'all') {
                            alert('가입유형을 선택해주세요.')
                            return
                        }
                        if (param.regMntRtNo === 'all') {
                            alert('요금제를 선택해주세요.')
                            return
                        }
                        if (!this.selectedPd) {
                            alert('약정기간을 선택해주세요.')
                            return
                        }
                        if (this.selectedMkr === 'all') {
                            alert('제조사를 선택해주세요.')
                            return
                        }
                        if (param.regPnMdlNo === 'all') {
                            alert('모델을 선택해주세요.')
                            return
                        }


                    } else if (this.modiCallStCd === 'E') {
                        param = {
                            bnMbrId: this.rsltToReg.bnMbrId,
                            callStCd: this.modiCallStCd,
                            pnRegYn: 'N',
                            cnclCmnt: this.rsltTxt,
                            callNo: this.rsltToReg.callNo
                        }
                    } else {
                        alert('개통여부를 선택해주세요.')
                        return
                    }

                    // 확인필요
                    if (this.rsltTxt.length === 0) {
                        alert('특이사항을 입력해주세요.')
                        return
                    }
                    if (confirm('개통결과를 등록하시겠습니까?')) {
                        if (this.modiCallStCd === 'T') {
                            param.regMbrPnNo = param.regMbrPnNo.replaceAll('-', '')
                        }
                        cf_call("/service/registerRslt", param, this.registerRsltCB)
                    }

                },
                registerRsltCB: function (data) {
                    if (data.succ === "Y") {
                        alert('결과가 등록되었습니다.')
                        this.visitHH = "all"
                        this.visitMM = "all"
                        $('#popLayerServiceResultAdd').popup("hide");
                        this.getToday()
                    }
                },
                getMbrPnNo: function (val) {
                    var formatPnNo = ''
                    if (val !== undefined) {
                        if (val.length === 10) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 6) + '-' + val.substring(6, 10)
                        } else if (val.length === 11) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 7) + '-' + val.substring(7, 11)
                        }
                    }
                    return formatPnNo
                },
                setMbrPnNo: function (val) {
                    var newChar = val.slice(-1)
                    var newNo = val.replaceAll('-', '')
                    if (/\d/.test(newChar)) {
                        if (newNo.length === 10) {
                            this.rsltToReg.mbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 6) + '-' + newNo.substring(6, 10)
                        } else if (newNo.length === 11) {
                            this.rsltToReg.mbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 7) + '-' + newNo.substring(7, 11)
                        } else if (newNo.length >= 12) {
                            this.rsltToReg.mbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 7) + '-' + newNo.substring(7, 11)
                        } else {
                            this.rsltToReg.mbrPnNo = newNo
                        }
                    } else if (val === '') {
                        this.rsltToReg.mbrPnNo = ''
                    } else {
                        this.rsltToReg.mbrPnNo = this.rsltToReg.mbrPnNo.substring(0, this.rsltToReg.mbrPnNo.length)
                    }
                    $('#mbrPnNo')[0].value = this.rsltToReg.mbrPnNo

                }
            }
        })
    </script>
</div>
</html>