<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<th:block layout:fragment="css">
    <style>
        .searchArea .txtSize2 input, .searchArea .txtSize2 select {
            width: 100%;
        }

        /*.tBodyScroll {*/
        /*    height: 432px;*/
        /*}*/
        /*.underLine {*/
        /*    color: #007ac6;*/
        /*    text-decoration: underline;*/
        /*}*/
    </style>
</th:block>
<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">상담관리현황</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>상담관리현황</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <!--                        <li class="txtSize2">-->
                        <!--                            <label>등록일</label>-->
                        <!--                            <span>-->
                        <!--                                <vuejs-datepicker ref="programaticOpen1" :language="ko" placeholder="등록일"-->
                        <!--                                                  name="calendar01"-->
                        <!--                                                  :input-class="'dpInputWidth'" :wrapper-class="'dpWrapWidth'"-->
                        <!--                                                  :format="format" v-model="searchDay">-->
                        <!--                                </vuejs-datepicker>-->
                        <!--                            </span>-->
                        <!--                            <span>-->
                        <!--                                <button @click="openPicker1"-->
                        <!--                                        style="vertical-align: middle; width: 19px; height: 23px; background: url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;">-->
                        <!--                                </button>-->
                        <!--                            </span>-->
                        <!--                        </li>-->
                        <li class="txtSize3">
                            <label for="marketing01">구분</label>
                            <select id="marketing01" v-model="selectedCallCd">
                                <option v-for="call in callStCd" :value="call.code">{{call.value}}</option>
                            </select>
                        </li>
                        <li class="txtSize5">
                            <label for="marketing02">고객명</label>
                            <input type="text" id="marketing02" placeholder="고객명 입력" v-model="clientNm">
                        </li>
                        <li class="txtSize5">
                            <label for="marketing03">등록자</label>
                            <select id="marketing03" v-model="selectedBnMbr">
                                <option value="all">전체</option>
                                <option v-for="mbr in bnMbr" :value="mbr.bnMbrId">{{mbr.mbrNm}}</option>
                            </select>
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 처리 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <input type="hidden" value="1page"/>
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="goToPage(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>구분</td>
                                        <td>고객명</td>
                                        <td>통신사</td>
                                        <td>가입유형</td>
                                        <td>상담요금제</td>
                                        <td>휴대폰</td>
                                        <td>등록자</td>
                                        <td>등록일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>상담 처리 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>구분</td>
                                    <td>고객명</td>
                                    <td>통신사</td>
                                    <td>개통유형</td>
                                    <td>상담요금제</td>
                                    <td>휴대폰</td>
                                    <td>등록자</td>
                                    <td>등록일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(list,idx) in counselList" @click="selectCs(list,idx)"
                                    :class="{ checkedItem: getTrClass(idx) }">
                                    <td class="alignC">{{list.callStNm}}</td>
                                    <td class="alignC">{{list.clMbrNm}}</td>
                                    <td v-if="list.callStCd === 'T'" class="alignC">{{list.regCarr}}</td>
                                    <td v-else class="alignC">{{list.mntCarr}}</td>
                                    <td v-if="list.callStCd === 'T'" class="alignC">{{list.regTypeNm}}</td>
                                    <td v-else class="alignC">{{list.pnRegDisNm}}</td>
                                    <td v-if="list.callStCd === 'T'" class="alignC">{{list.regMntRtNm}}</td>
                                    <td v-else class="alignC">{{list.pnMntRtNm}}</td>
                                    <td v-if="list.callStCd === 'T'" class="alignC">{{list.regPnMdlNm}}</td>
                                    <td v-else class="alignC">{{list.pnMdlNm}}</td>
                                    <td class="alignC">{{list.mbrNm}}</td>
                                    <td class="alignC">{{list.amdDt}}</td>
                                </tr>
                                <!-- 결과없음 -->
                                <tr v-if="counselList.length == 0" :class="{errorMessage : counselList.length == 0 }">
                                    <td colspan="8">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 처리 상세정보
                        </div>
                        <div class="cTitRight">
                            <!-- !!! 여기가 팝업 버튼 !!! -->
                            <div id="btn2">
                                <a href="#popLayerServiceResultAdd"
                                   class="btnM colorGreen popLayerServiceResultAdd_open"
                                   @click="modiBtnClick"
                                   v-if="selectedCs.callStCd === 'T' || selectedCs.callStCd === 'E'">
                                    <span>수정하기</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>개통 구분</th>
                                <td v-if="selectedCs.callNo">{{selectedCs.callStNm}}</td>
                                <td v-else>-</td>
                                <th>개통담당자</th>
                                <td v-if="selectedCs.callNo">{{rsltToReg.mbrNm}}</td>
                                <td v-else>-</td>
                            </tr>
                            <tr>
                                <th>통신사</th>
                                <td v-if="selectedCs.callStCd === 'T'">{{selectedCs.regCarr}}</td>
                                <td v-else-if="selectedCs.callStCd === 'P' || selectedCs.callStCd === 'R' || selectedCs.callStCd === 'E'">
                                    {{selectedCs.mntCarr}}
                                </td>
                                <td v-else>-</td>
                                <th>가입유형</th>
                                <td v-if="selectedCs.callStCd === 'T'">{{selectedCs.regTypeNm}}</td>
                                <td v-else-if="selectedCs.callStCd === 'P' || selectedCs.callStCd === 'R' || selectedCs.callStCd === 'E'">
                                    {{selectedCs.pnRegDisNm}}
                                </td>
                                <td v-else>-</td>
                            </tr>
                            <tr>
                                <th>요금제</th>
                                <td v-if="selectedCs.callStCd === 'T'">{{selectedCs.regMntRtNm}}</td>
                                <td v-else-if="selectedCs.callStCd === 'P' || selectedCs.callStCd === 'R' || selectedCs.callStCd === 'E'">
                                    {{selectedCs.pnMntRtNm}}
                                </td>
                                <td v-else>-</td>
                                <th>약정기간</th>
                                <td v-if="selectedCs.callNo">
                                    <input type="radio" id="period12" value="12" v-model="selectedCs.regPd" disabled>
                                    <label for="period12">12개월</label>&nbsp;
                                    <input type="radio" id="period24" value="24" v-model="selectedCs.regPd" disabled>
                                    <label for="period24">24개월</label>
                                </td>
                                <td v-else>-</td>
                            </tr>
                            <tr>
                                <th>제조사</th>
                                <td v-if="selectedCs.callStCd === 'T'">{{selectedCs.regPnMkrNm}}</td>
                                <td v-else-if="selectedCs.callStCd === 'P' || selectedCs.callStCd === 'R' || selectedCs.callStCd === 'E'">
                                    {{selectedCs.pnMkrNm}}
                                </td>
                                <td v-else>-</td>
                                <th>모델</th>
                                <td v-if="selectedCs.callStCd === 'T'">{{selectedCs.regPnMdlNm}}</td>
                                <td v-else-if="selectedCs.callStCd === 'P' || selectedCs.callStCd === 'R' || selectedCs.callStCd === 'E'">
                                    {{selectedCs.pnMdlNm}}
                                </td>
                                <td v-else>-</td>
                            </tr>
                            <tr>
                                <th>부가서비스</th>
                                <td colspan="3" v-if="selectedCs.callNo">
                                    <input v-if="selectedCs.callStCd === 'T'" type="radio" id="extServY" value="Y"
                                           v-model="selectedCs.regExtServYn" disabled>
                                    <input v-else type="radio" id="extServY" value="Y" v-model="selectedCs.oldExtServYn"
                                           disabled>
                                    <label for="extServY">유</label>&nbsp;
                                    <input v-if="selectedCs.callStCd === 'T'" type="radio" id="extServN" value="N"
                                           v-model="selectedCs.regExtServYn" disabled>
                                    <input v-else type="radio" id="extServN" value="N" v-model="selectedCs.oldExtServYn"
                                           disabled>
                                    <label for="extServN">무</label>
                                </td>
                                <td colspan="3" v-else>-</td>
                            </tr>
                            <tr>
                                <th>상담내용</th>
                                <td colspan="3" v-if="selectedCs.callNo && selectedCs.callStCd !== 'R'">
                                    {{selectedCs.callCont}}
                                </td>
                                <td colspan="3" v-else>-</td>
                            </tr>
                            <tr>
                                <th>기타사항</th>
                                <td colspan="3" v-if="selectedCs.callNo && selectedCs.callStCd === 'T'">
                                    {{selectedCs.dealCont}}
                                </td>
                                <td colspan="3" v-else-if="selectedCs.callNo && selectedCs.callStCd === 'E'">
                                    {{selectedCs.cnclCmnt}}
                                </td>
                                <td colspan="3" v-else>-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 개통결과등록 -->
    <div class="layerWrapper layerSizeM" id="popLayerServiceResultAdd" style="display:inline-block !important">
        <div class="layerHeader">
            <strong v-if>개통결과 수정</strong>
            <a href="#" class="btnClose popLayerServiceResultAdd_close"><img src="../images/cmmn/btn-layer-close.png"
                                                                             alt="창닫기"></a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <caption>개통결과수정</caption>
                        <colgroup>
                            <col style="width:80px">
                            <col style="width:*">
                            <col style="width:80px">
                            <col style="width:*">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>구분</th>
                            <td :colspan="modiCallStCd==='T'? 3 : 1">
                                <input type="radio" id="saleSucc" name="saleRslt" value="T" v-model="modiCallStCd"
                                       :disabled="modiCall">
                                <label for="saleSucc">개통완료</label>&nbsp;
                                <input type="radio" id="saleFail" name="saleRslt" value="E" v-model="modiCallStCd"
                                       :disabled="modiCall">
                                <label for="saleFail">미개통</label>
                            </td>
                            <th v-if="modiCallStCd === 'E'">블랙여부</th>
                            <td v-if="modiCallStCd === 'E'">
                                <input type="checkbox" id="addBlacklist" v-model="blackYn" @click="blackBtnChked"
                                       :disabled="modiCall">
                                <label for="addBlacklist">등록</label>
                            </td>
                        </tr>
                        <tr>
                            <th>개통담당자</th>
                            <td colspan="3">
                                <select class="wPer" v-model="rsltToReg.bnMbrId" :disabled="modiCall">
                                    <option v-for="mbr in bnMbr" :value="mbr.bnMbrId">{{mbr.mbrNm}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>고객명</th>
                            <td>{{rsltToReg.clMbrNm}}
                            </td>
                            <th>개통번호</th>
                            <td>
                                <input class="wPer" type="text" id="mbrPnNo"
                                       placeholder="'-'없이 숫자 10-11자리 입력" v-model="rsltToReg.regMbrPnNo"
                                       @input="setMbrPnNo($event.target.value)" :disabled='modiCallStCd==="E"'>
                            </td>
                        </tr>
                        <tr>
                            <th>통신사</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.regCarr" :disabled='modiCallStCd==="E"'>
                                    <option v-for="carr in carrArr" :value="carr.code">{{carr.value}}</option>
                                </select>
                            </td>
                            <th>가입유형</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.regType" :disabled='modiCallStCd==="E"'>
                                    <option v-for="type in counselType" :value="type.code">{{type.value}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>요금제</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.regMntRtNo" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="mntrt in mntrtList" :value="mntrt.pnMntRtNo">
                                        {{mntrt.pnMntRtNm}}
                                    </option>
                                </select>
                            </td>
                            <th>약정기간</th>
                            <td>
                                <input type="radio" id="layerPeriod12" name="RegPeriod" value="12"
                                       v-model="rsltToReg.regPd" :disabled='modiCallStCd==="E"'>
                                <label for="layerPeriod12">12개월</label>&nbsp;
                                <input type="radio" id="layerPeriod24" name="RegPeriod" value="24"
                                       v-model="rsltToReg.regPd" :disabled='modiCallStCd==="E"'>
                                <label for="layerPeriod24">24개월</label>
                            </td>
                        </tr>
                        <tr>
                            <th>제조사</th>
                            <td>
                                <select class="wPer" v-model="selectedMkr" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="mkr in pnMkrList" :value="mkr">{{setPnMkrNm(mkr)}}</option>
                                </select>
                            </td>
                            <th>모델</th>
                            <td>
                                <select class="wPer" v-model="rsltToReg.regPnMdlNo" :disabled='modiCallStCd==="E"'>
                                    <option value="all">선택</option>
                                    <option v-for="device in deviceList" :value="device.pnMdlNo">{{device.pnMdlNm}}
                                        {{device.pnStor}}GB
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>부가서비스</th>
                            <td colspan="3">
                                <input type="radio" id="layerExtServY" value="Y" :disabled='modiCallStCd==="E"'
                                       v-model="rsltToReg.regExtServYn"><label for="layerExtServY">유</label>&nbsp;
                                <input type="radio" id="layerExtServN" value="N" :disabled='modiCallStCd==="E"'
                                       v-model="rsltToReg.regExtServYn"><label for="layerExtServN">무</label>
                            </td>
                        </tr>
                        <tr>
                            <th>상담내용</th>
                            <td colspan="3">
                                <input class="wPer" type="text" placeholder="상담결과내용" v-model="rsltToReg.callCont"
                                       :disabled='modiCallStCd==="E"'>
                            </td>
                        </tr>
                        <tr>
                            <th>기타사항</th>
                            <td colspan="3" style="height: 85px">
                                <textarea style="width: 100%; height: 100%;" v-model="rsltTxt"
                                          placeholder="특이사항또는 블랙사유를 입력해주세요." :disabled="modiCall"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#;" class="btnL"
                       :class="{disabled : modiCall,
                                colorBlue :!modiCall}"
                       @click="registerRslt"><span>저장</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <!--     //팝업: 개통결과 또는 블랙고객등록-->
    <script type="text/javascript">
        $(function () {
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerServiceResultAdd').popup();
            }
        });
    </script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                callStCd: [
                    {code: "all", value: "전체"},
                    {code: "R", value: "상담접수"},
                    {code: "P", value: "방문예정"},
                    {code: "T", value: "개통완료"},
                    {code: "E", value: "미개통"}
                ],
                carrArr: [
                    {code: "all", value: "선택"},
                    {code: "SKT", value: "SKT"},
                    {code: "KT", value: "KT"},
                    {code: "LGU", value: "LGU"}
                ],
                counselType: [
                    {code: "all", value: "선택"},
                    {code: "A", value: "번호이동"},
                    {code: "B", value: "기기변경"},
                    {code: "C", value: "신규가입"},
                ],
                period: [
                    {code: "12", value: "12개월"},
                    {code: "24", value: "24개월"}
                ],
                pnMkrData: [
                    {
                        mkrCd: 'SAM',
                        mkrNm: '삼성전자'
                    },
                    {
                        mkrCd: 'LGE',
                        mkrNm: 'LG전자'
                    },
                    {
                        mkrCd: 'APP',
                        mkrNm: '애플'
                    },
                    {
                        mkrCd: 'XIA',
                        mkrNm: '샤오미'
                    }
                ],
                pnMkrList: [],
                selectedCallCd: "all",
                clientNm: "",
                today: "",
                bnMbr: [],
                selectedBnMbr: "all",
                counselList: [],            // 현재 페이지 상담 리스트
                blackYn: false,             // 블랙리스트 추가 버튼
                blackYnChked: false,         // 블랙리스트 체크시 alert 를 위한 변수
                modiCall: false,            // 블랙리스트 등록된 회원 수정불가 위한 변수
                selectedCs: {},
                rsltToReg: {},
                modiCallStCd: "",
                selectedMkr: "",
                rsltTxt: "",
                mntrtList: [],              // 사용중인 전체 요금제 리스트
                netTypeByMntrt: "",  // 선택된 요금제에 따른 망 타입
                deviceList: [],             // 전체 디바이스 목록
                devListByMkr: [],           // 선택된 제조사에 따른 디바이스 목록
                pageNo: "1",
                pageInfo: [],              // 현재 페이지 정보
            },
            mounted: function () {
                this.getBnMbrList()
            },
            watch: {
                'rsltToReg.regCarr': {
                    handler: function (value) {
                        this.rsltLayerMntRtInit()
                        if (value !== this.selectedCs.regCarr) {
                            this.rsltToReg.regType = "all"
                            this.rsltToReg.regMntRtNo = "all"
                        }
                    },
                    immediate: true
                },
                'rsltToReg.regMntRtNo': {
                    handler: function (value) {
                        var pnNetType = this.getPnNetType(value)
                        this.rsltLayerMkrInit(pnNetType)

                        if (value !== this.selectedCs.regMntRtNo) {
                            this.selectedMkr = "all"
                        }
                    },
                    immediate: true
                },
                selectedMkr: function (data) {
                    var mntCarr = this.rsltToReg.regCarr
                    this.rsltLayerDeviceInit(data)
                    if (data !== this.selectedCs.regPnMkr) {
                        this.rsltToReg.regPnMdlNo = 'all'
                    }
                },
                modiCallStCd: function (data) {
                    this.rsltTxt = ""
                    if (data === 'T') {
                        this.blackYn = false
                    }
                },
            },
            methods: {
                getBnMbrList: function () {
                    var param = {}
                    cf_call("/service/bnMbrList", param, this.getBnMbrListCB)
                },
                getBnMbrListCB: function (data) {
                    this.bnMbr = data

                    var type = 'init'
                    this.searchList(type)
                },
                searchList: function (data) {
                    var param = {
                        callStCd: this.selectedCallCd,
                        mntCarr: "all",
                        counselType: "all",
                        // searchDay: yy,
                        clientNm: this.clientNm,
                        bnMbr: this.selectedBnMbr,
                        page: "1"
                    }
                    if (data === 'page') {
                        param.page = this.pageNo
                    }
                    if (data === 'init') {
                        this.selectedCallCd = "all"
                        this.clientNm = ""
                        this.selectedBnMbr = "all"
                    }
                    this.counselList = []
                    this.selectedCs = {}
                    this.rsltToReg = {}
                    this.modiCallStCd = ''
                    cf_call("/service/getAllCounselList", param, this.searchListCB)
                },
                searchListCB: function (data) {
                    this.pageInfo = data.pageInfo
                    var tempArr = []

                    for (var i = 0; i < data.counselList.length; i++) {
                        data.counselList[i].idx = i
                        switch (data.counselList[i].pnRegDis) {
                            case "A":
                                data.counselList[i].pnRegDisNm = '번호이동'
                                break
                            case "B":
                                data.counselList[i].pnRegDisNm = '기기변경'
                                break
                            case "C":
                                data.counselList[i].pnRegDisNm = '신규가입'
                                break
                        }
                        switch (data.counselList[i].regType) {
                            case "A":
                                data.counselList[i].regTypeNm = '번호이동'
                                break
                            case "B":
                                data.counselList[i].regTypeNm = '기기변경'
                                break
                            case "C":
                                data.counselList[i].regTypeNm = '신규가입'
                                break
                        }
                        switch (data.counselList[i].callStCd) {
                            case "R":
                                data.counselList[i].callStNm = '상담접수'
                                break
                            case "P":
                                data.counselList[i].callStNm = '방문예정'
                                break
                            case "T":
                                data.counselList[i].callStNm = '개통완료'
                                break
                            case "E":
                                data.counselList[i].callStNm = '미개통'
                                break
                        }
                    }

                    // for (idx in data.counselList) {
                    //     data.counselList[idx].idx = idx
                    //     switch (data.counselList[idx].pnRegDis) {
                    //         case "A":
                    //             data.counselList[idx].pnRegDisNm = '번호이동'
                    //             break
                    //         case "B":
                    //             data.counselList[idx].pnRegDisNm = '기기변경'
                    //             break
                    //         case "C":
                    //             data.counselList[idx].pnRegDisNm = '신규가입'
                    //             break
                    //     }
                    //     switch (data.counselList[idx].regType) {
                    //         case "A":
                    //             data.counselList[idx].regTypeNm = '번호이동'
                    //             break
                    //         case "B":
                    //             data.counselList[idx].regTypeNm = '기기변경'
                    //             break
                    //         case "C":
                    //             data.counselList[idx].regTypeNm = '신규가입'
                    //             break
                    //     }
                    //     switch (data.counselList[idx].callStCd) {
                    //         case "R":
                    //             data.counselList[idx].callStNm = '상담접수'
                    //             break
                    //         case "P":
                    //             data.counselList[idx].callStNm = '방문예정'
                    //             break
                    //         case "T":
                    //             data.counselList[idx].callStNm = '개통완료'
                    //             break
                    //         case "E":
                    //             data.counselList[idx].callStNm = '미개통'
                    //             break
                    //     }
                    // }
                    this.counselList = data.counselList
                },
                goToPage: function (data) {
                    this.pageNo = "" + data
                    var type = 'page'
                    this.searchList(type)
                },
                selectCs: function (data, idx) {
                    this.modiCall = false    // false - 블랙리스트 등록안된
                    this.blackYn = false

                    if (this.selectedCs.idx != idx) {
                        this.selectedCs = {}
                        this.selectedCs = data
                        this.selectedCs.idx = idx
                        this.selectedCs.regMbrPnNo = this.getMbrPnNo(this.selectedCs.regMbrPnNo)

                        this.selectedMkr = this.selectedCs.regPnMkr
                        this.rsltToReg = JSON.parse(JSON.stringify(data))
                        this.modiCallStCd = this.rsltToReg.callStCd

                        switch (this.selectedCs.pnMkr) {
                            case "SAM":
                                this.selectedCs.pnMkrNm = '삼성전자'
                                break
                            case "LGE":
                                this.selectedCs.pnMkrNm = 'LG전자'
                                break
                            case "APP":
                                this.selectedCs.pnMkrNm = '애플'
                                break
                            case "XIA":
                                this.selectedCs.pnMkrNm = '샤오미'
                                break
                            case "ETC":
                                this.selectedCs.pnMkrNm = '기타'
                                break
                        }
                        switch (this.selectedCs.regPnMkr) {
                            case "SAM":
                                this.selectedCs.regPnMkrNm = '삼성전자'
                                break
                            case "LGE":
                                this.selectedCs.regPnMkrNm = 'LG전자'
                                break
                            case "APP":
                                this.selectedCs.regPnMkrNm = '애플'
                                break
                            case "XIA":
                                this.selectedCs.regPnMkrNm = '샤오미'
                                break
                            case "ETC":
                                this.selectedCs.regPnMkrNm = '기타'
                                break
                        }

                        this.rsltLayerMntRtInit()
                    } else {
                        this.selectedCs = {}
                        this.rsltToReg = {}
                        this.modiCallStCd = ''
                    }
                },
                getTrClass: function (idx) {
                    if (idx === this.selectedCs.idx) return true
                    else return false
                },
                modiBtnClick: function () {
                    this.rsltToReg = JSON.parse(JSON.stringify(this.selectedCs))
                    this.modiCallStCd = this.rsltToReg.callStCd

                    if (this.rsltToReg.callStCd === 'T') {
                        this.rsltTxt = this.rsltToReg.dealCont
                    } else {
                        this.rsltTxt = this.rsltToReg.cnclCmnt
                    }
                    this.modiCallYn()
                },
                rsltLayerMntRtInit: function () {

                    if (!this.selectedCs.idx) {
                        this.selectedMkr = this.selectedCs.pnMkr
                    } else {
                        this.selectedMkr = this.rsltToReg.regPnMkr
                    }
                    var param = {
                        pnCarr: this.rsltToReg.regCarr
                    }
                    cf_call("/service/getMonthlyRate", param, this.rsltLayerMntRtInitCB)
                },
                rsltLayerMntRtInitCB: function (data) {
                    this.mntrtList = data.monthlyRate

                    if (this.rsltToReg.regMntRtNo !== null && (this.rsltToReg.regMntRtNo * 1) !== -1) {
                        var pnNetType = this.getPnNetType(this.rsltToReg.regMntRtNo)
                        this.rsltLayerMkrInit(pnNetType)
                    }
                },
                getPnNetType: function (val) {
                    var pnNetType = ''
                    for (var i = 0; i < this.mntrtList.length; i++) {
                        if (this.mntrtList[i].pnMntRtNo === Number(val)) {
                            pnNetType = this.mntrtList[i].pnNetType
                        }
                    }
                    return pnNetType
                },
                rsltLayerMkrInit: function (val) {
                    var carr = ''
                    switch (this.rsltToReg.mntCarr) {
                        case "SKT":
                            carr = 'S'
                            break
                        case "KT":
                            carr = 'K'
                            break
                        case "LGU":
                            carr = 'L'
                            break
                    }
                    var param = {
                        pnNetType: val,
                        pnCarrAbbr: carr
                    }
                    cf_call("/service/getPnMkr", param, this.rsltLayerMkrInitCB)
                },
                rsltLayerMkrInitCB: function (data) {
                    this.pnMkrList = data.pnMkr
                    if (this.rsltToReg.regMntRtNo !== null) {
                        this.rsltLayerDeviceInit(this.rsltToReg.regPnMkr)
                    }
                },
                setPnMkrNm: function (val) {
                    for (var i = 0; i < this.pnMkrData.length; i++) {
                        if (this.pnMkrData[i].mkrCd === val) return this.pnMkrData[i].mkrNm
                    }
                },
                rsltLayerDeviceInit: function (val) {
                    var carr = ''
                    var pnNetType = this.getPnNetType(this.rsltToReg.regMntRtNo)
                    switch (this.rsltToReg.regCarr) {
                        case "SKT":
                            carr = 'S'
                            break
                        case "KT":
                            carr = 'K'
                            break
                        case "LGU":
                            carr = 'L'
                            break
                    }
                    var param = {
                        pnMkr: val,
                        pnNetType: pnNetType,
                        pnCarrAbbr: carr
                    }
                    cf_call("/service/getDeviceList", param, this.rsltLayerDeviceInitCB)
                },
                rsltLayerDeviceInitCB: function (data) {
                    this.deviceList = data.deviceList
                },
                registerRslt: function () {
                    if (this.modiCall) return

                    var param = {}
                    if (this.modiCallStCd === 'T') {
                        param = {
                            modiYn: 'Y',
                            callStCd: this.modiCallStCd,
                            bnMbrId: this.rsltToReg.bnMbrId,
                            regMbrPnNo: this.rsltToReg.regMbrPnNo,
                            regCarr: this.rsltToReg.regCarr,
                            regType: this.rsltToReg.regType,
                            regMntRtNo: this.rsltToReg.regMntRtNo,
                            regPnMdlNo: this.rsltToReg.regPnMdlNo,
                            regExtServYn: this.rsltToReg.regExtServYn,
                            regPd: this.rsltToReg.regPd,
                            callCont: this.rsltToReg.callCont,
                            dealCont: this.rsltTxt,
                            pnRegYn: 'Y',
                            callNo: this.rsltToReg.callNo
                        }
                        if (param.regMbrPnNo.length <= 10){
                            alert('개통번호를 확인해주세요.')
                            return
                        }
                        if (param.regCarr === 'all') {
                            alert('통신사를 선택해주세요.')
                            return
                        }
                        if (param.regType === 'all') {
                            alert('가입유형을 선택해주세요.')
                            return
                        }
                        if (param.regMntRtNo === 'all') {
                            alert('요금제를 선택해주세요.')
                            return
                        }
                        if (this.selectedMkr === 'all') {
                            alert('제조사를 선택해주세요.')
                            return
                        }
                        if (param.regPnMdlNo === 'all') {
                            alert('모델을 선택해주세요.')
                            return
                        }

                    } else if (this.modiCallStCd === 'E') {
                        param = {
                            modiYn: 'Y',
                            bnMbrId: this.rsltToReg.bnMbrId,
                            callStCd: this.modiCallStCd,
                            blackYn: this.blackYn,
                            pnRegYn: 'N',
                            cnclCmnt: this.rsltTxt,
                            callNo: this.rsltToReg.callNo,
                            clMbrId: this.rsltToReg.clMbrId
                        }
                    }
                    // 확인필요
                    if (this.rsltTxt.length === 0) {
                        alert('특이사항또는 블랙사유를 입력해주세요.')
                        return
                    }
                    if (confirm('개통결과를 수정하시겠습니까?')) {
                        if (this.modiCallStCd === 'T'){
                            param.regMbrPnNo = param.regMbrPnNo.replaceAll('-', '')
                        }
                        cf_call("/service/registerRslt", param, this.registerRsltCB)
                    }

                },
                registerRsltCB: function (data) {
                    if (data.succ === "Y") {
                        alert('결과가 수정되었습니다.')
                        $('#popLayerServiceResultAdd').popup("hide");
                        this.modiCall = false
                        this.getBnMbrList()
                    }
                },
                blackBtnChked: function () {
                    if (!this.blackYnChked) {
                        this.blackYnChked = true
                        alert('블랙리스트에 등록될 시 정보 수정이 불가능합니다.')
                    }
                },
                modiCallYn: function () {
                    var param = {
                        callNo: this.selectedCs.callNo,
                        clMbrId: this.selectedCs.clMbrId,
                    }
                    cf_call("/service/blackYnChk", param, this.modiCallYnCB)
                },
                modiCallYnCB: function (data) {
                    if (data.cnt > 0) {
                        this.modiCall = true    // true - 블랙리스트 등록된 회원
                        this.blackYn = true
                    } else {
                        this.modiCall = false    // false - 블랙리스트 등록안된
                        this.blackYn = false
                    }
                },
                getMbrPnNo: function(val){
                    var formatPnNo = ''
                    if (val !== undefined) {
                        if (val.length === 10) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 6) + '-' + val.substring(6, 10)
                        } else if (val.length === 11) {
                            formatPnNo = val.substring(0, 3) + '-' + val.substring(3, 7) + '-' + val.substring(7, 11)
                        }
                    }
                    return formatPnNo
                },
                setMbrPnNo: function(val) {
                    var newChar = val.slice(-1)
                    var newNo = val.replaceAll('-', '')
                    if (/\d/.test(newChar)) {
                        if (newNo.length === 10) {
                            this.rsltToReg.regMbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 6) + '-' + newNo.substring(6, 10)
                        } else if (newNo.length === 11) {
                            this.rsltToReg.regMbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 7) + '-' + newNo.substring(7, 11)
                        } else if (newNo.length >= 12 ) {
                            this.rsltToReg.regMbrPnNo = newNo.substring(0, 3) + '-' + newNo.substring(3, 7) + '-' + newNo.substring(7, 11)
                        } else {
                            this.rsltToReg.regMbrPnNo = newNo
                        }
                    } else if (val === '') {
                        this.rsltToReg.regMbrPnNo = ''
                    } else {
                        this.rsltToReg.regMbrPnNo = this.rsltToReg.regMbrPnNo.substring(0, this.rsltToReg.regMbrPnNo.length)
                    }
                    $('#mbrPnNo')[0].value = this.rsltToReg.regMbrPnNo

                }
            }
        })
    </script>
</div>
</html>