<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img th:src="@{/images/cmmn/hidden.png}" class="ico-vendor" alt="아이콘">상담접수관리</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>상담접수관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="purchaes01">통신사</label>
                            <select id="purchaes01">
                                <option value="">전체</option>
                                <option value="">SKT</option>
                                <option value="">KT</option>
                                <option value="">LGU+</option>
                            </select>
                        </li>
                        <li class="txtSize3">
                            <label for="purchaes02">개통유형</label>
                            <select id="purchaes02">
                                <option value="">전체</option>
                                <option value="">번호이동</option>
                                <option value="">기기변경</option>
                                <option value="">신규가입</option>
                            </select>
                        </li>
                        <li class="txtSize5">
                            <label for="purchaes03">고객명</label>
                            <input type="text" id="purchaes03" placeholder="고객명 입력" value="">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <input type="hidden" value="1page" />
                                <div class="DefaultName">선택하세요</div>
                                <ul>
                                    <li id="1page">1 page</li>
                                    <li id="2page">2 page</li>
                                    <li id="3page">3 page</li>
                                    <li id="4page">4 page</li>
                                    <li id="5page">5 page</li>
                                    <li id="6page">6 page</li>
                                    <li id="7page">7 page</li>
                                    <li id="8page">8 page</li>
                                    <li id="9page">9 page</li>
                                    <li id="10page">10 page</li>
                                    <li id="11page">11 page</li>
                                    <li id="12page">12 page</li>
                                    <li id="13page">13 page</li>
                                    <li id="14page">14 page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>통신사</td>
                                        <td>개통유형</td>
                                        <td>상담 요금제</td>
                                        <td>휴대폰</td>
                                        <td>고객명</td>
                                        <td>요청일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>상담 접수 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>통신사</td>
                                    <td>개통유형</td>
                                    <td>상담 요금제</td>
                                    <td>휴대폰</td>
                                    <td>고객명</td>
                                    <td>요청일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="alignC">SKT</td>
                                    <td class="alignC">번호이동</td>
                                    <td class="alignC">LTE 55</td>
                                    <td class="alignC">갤럭시 S20</td>
                                    <td class="alignC">홍길동</td>
                                    <td class="alignC">2020-06-21 15:00</td>
                                </tr>
                                <tr class="checkedItem">
                                    <td class="alignC">KT</td>
                                    <td class="alignC">번호이동</td>
                                    <td class="alignC">LTE 56</td>
                                    <td class="alignC">갤럭시 S20</td>
                                    <td class="alignC">고길동</td>
                                    <td class="alignC">2020-06-21 15:10</td>
                                </tr>
                                <tr>
                                    <td class="alignC">LGU+</td>
                                    <td class="alignC">기기변경</td>
                                    <td class="alignC">5G 55</td>
                                    <td class="alignC">갤럭시 S10</td>
                                    <td class="alignC">이효리</td>
                                    <td class="alignC">2020-06-21 15:20</td>
                                </tr>
                                <tr>
                                    <td class="alignC">LGU+</td>
                                    <td class="alignC">기기변경</td>
                                    <td class="alignC">5G 76</td>
                                    <td class="alignC">갤럭시 S20 Plus</td>
                                    <td class="alignC">삼순이</td>
                                    <td class="alignC">2020-06-21 15:30</td>
                                </tr>
                                <tr>
                                    <td class="alignC">SKT</td>
                                    <td class="alignC">신규가입</td>
                                    <td class="alignC">5G 90</td>
                                    <td class="alignC">갤럭시 S10 Plus</td>
                                    <td class="alignC">아무개</td>
                                    <td class="alignC">2020-06-21 15:40</td>
                                </tr>
                                <!-- 결과없음 -->
                                <tr class="errorMessage">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->


                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 접수 상세정보
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>통신사 / 개통유형</th>
                                <td>KT / 번호이동</td>
                                <th>상담요금제</th>
                                <td>LTE 56</td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td colspan="3">갤럭시 S20</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center; background: #ebf3fd;">
                                    접수 시 판매 정책</th>
                                <th colspan="2" style="padding: 6px 10px 6px 12px; text-align: center; background: #fdebed;">
                                    현재 판매 정책</th>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">출고가</th>
                                <td style="text-align: right;">1,248,000 원</td>
                                <th style="background: #fdebed;">출고가</th>
                                <td style="text-align: right;">1,248,000 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">공시지원금</th>
                                <td style="text-align: right;">400,000 원</td>
                                <th style="background: #fdebed;">공시지원금</th>
                                <td style="text-align: right;">400,000 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">추가지원금</th>
                                <td style="color: #ff0000; text-align: right;">300,000 원</td>
                                <th style="background: #fdebed;">추가지원금</th>
                                <td style="text-align: right;">400,000 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">실구매가</th>
                                <td style="color: #ff0000; text-align: right;">546,000 원</td>
                                <th style="background: #fdebed;">실구매가</th>
                                <td style="text-align: right;">446,000 원</td>
                            </tr>
                            <tr>
                                <th style="background: #ebf3fd;">부가서비스</th>
                                <td style="color: #ff0000; text-align: right;">있음</td>
                                <th style="background: #fdebed;">부가서비스</th>
                                <td style="text-align: right;">없음</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->
                <div class="contentTitle">
                    <div class="cTit"></div>
                    <div class="cTitRight">
                        <div id="btn2"><a href="#" class="btnM colorSky"><span>상담결과 저장</span></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>
</html>