<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
<th:block layout:fragment="css">
    <style>
        .searchArea .txtSize2 input, .searchArea .txtSize2 select {
            width: 100%;
        }

        div.dpWrapWidth {
            width: 82px;
        }

        input.dpInputWidth {
            width: 100%;
        }
    </style>
</th:block>
<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-vendor" alt="아이콘">상담관리현황</h2>
                    <div class="pageLocation">
                        <span>상담 관리</span>&gt;<strong>상담관리현황</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label>등록일</label>
                            <span>
                                <vuejs-datepicker ref="programaticOpen1" :language="ko" placeholder="등록일"
                                                  name="calendar01"
                                                  :input-class="'dpInputWidth'" :wrapper-class="'dpWrapWidth'"
                                                  :format="format" v-model="searchDay">
                                </vuejs-datepicker>
                            </span>
                            <span>
                                <button @click="openPicker1"
                                        style="vertical-align: middle; width: 19px; height: 23px; background: url('../../images/cmmn/bg_ico_calender.gif') 0 0 no-repeat;">
                                </button>
                            </span>
                        </li>
                        <li class="txtSize3">
                            <label for="marketing01">등록자</label>
                            <select id="marketing01" v-model="selectedBnMbr">
                                <option value="all">전체</option>
                                <option v-for="mbr in bnMbr" :value="mbr.bnMbrId">{{mbr.mbrNm}}</option>
                            </select>
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue" @click="searchList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            상담 처리 현황
                        </div>
                        <div class="cTitRight">
                            <div class="SelectBoxBasic selectPaging">
                                <input type="hidden" value="1page"/>
                                <div class="DefaultName">{{pageInfo.page}} page</div>
                                <ul>
                                    <li v-for="item in pageInfo.slider" :id='item+"page"' @click="goToPage(item)">
                                        {{item}} page
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:10%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:10%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>구분</td>
                                        <td>고객명</td>
                                        <td>통신사</td>
                                        <td>개통유형</td>
                                        <td>상담요금제</td>
                                        <td>휴대폰</td>
                                        <td>등록자</td>
                                        <td>등록일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>상담 처리 현황 정보</caption>
                                <colgroup>
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:10%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:10%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td>구분</td>
                                    <td>고객명</td>
                                    <td>통신사</td>
                                    <td>개통유형</td>
                                    <td>상담요금제</td>
                                    <td>휴대폰</td>
                                    <td>등록자</td>
                                    <td>등록일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(list,idx) in counselList">
                                    <td class="alignC">{{list.callStNm}}</td>
                                    <td class="alignC">{{list.clMbrNm}}</td>
                                    <td class="alignC">{{list.mntCarr}}</td>
                                    <td class="alignC">{{list.pnRegDisNm}}</td>
                                    <td class="alignC">{{list.pnMntRtNm}}</td>
                                    <td class="alignC">{{list.pnMdlNm}}</td>
                                    <td class="alignC">{{list.mbrNm}}</td>
                                    <td class="alignC">{{list.amdDt}}</td>
                                </tr>
                                <!-- 결과없음 -->
                                <!-- 결과없음 -->
                                <tr v-if="counselList.length == 0" :class="{errorMessage : counselList.length == 0 }">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group1 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/vuejs-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/vuejs-datepicker-1.6.2/locale/translations/ko.js}"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                ko: vdp_translation_ko.js,
                format: "yyyy-MM-dd",
                searchDay: "",
                today : "",
                bnMbr: [],
                selectedBnMbr: "all",
                counselList: [],            // 현재 페이지 상담 리스트
                pageNo: "1",
                pageInfo: [],              // 현재 페이지 정보
            },
            components: {
                vuejsDatepicker
            },
            mounted: function () {
                this.getToday()
            },
            methods: {
                openPicker1() {
                    this.$refs.programaticOpen1.showCalendar();
                },
                getToday() {
                    let today = new Date()
                    let year = today.getFullYear()
                    let month = today.getMonth() + 1
                    let day = today.getDate();

                    if (("" + month).length == 1) {
                        month = "0" + month
                    }
                    if (("" + day).length == 1) {
                        day = "0" + day
                    }
                    this.today = "" + year + '-' + month + '-' + day
                    this.getBnMbrList()
                },
                getBnMbrList() {
                    var param = {}
                    cf_call("/service/bnMbrList", param, this.getBnMbrListCB)
                },
                getBnMbrListCB(data) {
                    this.bnMbr = data

                    let type = 'init'
                    this.searchList(type)
                },
                searchList(data) {
                    let t = new Date(this.searchDay)
                    let yy = "" + t.getFullYear()
                    let mm = t.getMonth() + 1
                    let dd = t.getDate();
                    if (("" + mm).length == 1) {
                        mm = "0" + mm
                    }
                    if (("" + dd).length == 1) {
                        dd = "0" + dd
                    }
                    yy = yy.concat("-", mm, "-", dd)

                    var param = {
                        mntCarr: "all",
                        counselType: "all",
                        searchDay: yy,
                        clientNm: "",
                        bnMbr: this.selectedBnMbr,
                        page: "1"
                    }
                    if (data === 'page') {
                        param.page = this.pageNo
                    }
                    if (data === 'init') {
                        this.searchDay = this.today
                        param.searchDay = this.today
                    }
                    this.counselList = []
                    cf_call("/service/getAllCounselList", param, this.searchListCB)
                },
                searchListCB(data) {
                    this.pageInfo = data.pageInfo
                    let tempArr = []

                    for (idx in data.counselList) {
                        data.counselList[idx].idx = idx
                        switch (data.counselList[idx].pnRegDis) {
                            case "A":
                                data.counselList[idx].pnRegDisNm = '번호이동'
                                break
                            case "B":
                                data.counselList[idx].pnRegDisNm = '번호이동'
                                break
                            case "C":
                                data.counselList[idx].pnRegDisNm = '신규가입'
                                break
                        }
                        switch (data.counselList[idx].callStCd) {
                            case "R":
                                data.counselList[idx].callStNm = '상담접수'
                                break
                            case "P":
                                data.counselList[idx].callStNm = '방문예정'
                                break
                            case "T":
                                data.counselList[idx].callStNm = '개통완료'
                                break
                            case "E":
                                data.counselList[idx].callStNm = '블랙고객'
                                break
                        }
                    }
                    this.counselList = data.counselList
                },
                goToPage(data) {
                    this.pageNo = "" + data
                    let type = 'page'
                    this.searchList(type)
                },
            }
        })
    </script>
</div>
</html>