<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- shop-employees 고유 css -->
<th:block layout:fragment="css">
    <style>
        .btnM.colorWhite {
            background-color: #fff;
            border: 1px solid #a3daff;
            color: #0093e4;
        }

        .btnS.colorOrg {
            background-color: #fff;
            border: 1px solid #f7941d;
            color: #f7941d;
        }
    </style>
</th:block>


<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-plus" alt="아이콘">공지사항관리</h2>
                    <div class="pageLocation">
                        <span>매장 관리</span>&gt;<strong>공지사항관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="srchBox01">조회조건</label>
                            <select id="srchBox01" v-model="srchCond.srchOptn">
                                <option value="ALL">전체</option>
                                <option value="BYTT">제목</option>
                                <option value="BYNM">작성자</option>
                            </select>
                        </li>
                        <li class="txtSize2">
                            <input
                                type="text"
                                id="srchBox02"
                                placeholder="검색어 입력"
                                :disabled="srchTermSwitch"
                                :value="srchCond.srchTerm"
                                @input="srchCond.srchTerm = $event.target.value"
                            >
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#;" class="btnM colorBlue" @click="getBnBrdList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            공지사항 현황
                        </div>
                        <div class="cTitRight">
                            <a href="#popLayerNoticeAdd" class="btnM colorGreen popLayerNoticeAdd_open"><span>추가</span></a>
                            <a href="#;" class="btnM colorOrg" @click="modiBnBrdHide"><span>숨김</span></a>
                        </div>
                    </div>
                    <!-- slide content -->
                    <div class="contentDetail slideTogglebox" v-show="initDone">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:56px">
                                        <col style="width:*">
                                        <col style="width:6%">
                                        <col style="width:18%">
                                        <col style="width:15%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td scope="col">
                                            <input
                                                type="checkbox"
                                                title="전체 선택"
                                                v-model="checkAll"
                                                @change="onCheckAll"
                                            >
                                        </td>
                                        <td scope="col">제목</td>
                                        <td scope="col">게시여부</td>
                                        <td scope="col">작성자</td>
                                        <td scope="col">최종변경일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>공지사항 현황</caption>
                                <colgroup>
                                    <col style="width:56px">
                                    <col style="width:*">
                                    <col style="width:6%">
                                    <col style="width:18%">
                                    <col style="width:15%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td scope="col"><input type="checkbox" title="전체 선택"></td>
                                    <td scope="col">제목</td>
                                    <td scope="col">게시여부</td>
                                    <td scope="col">작성자</td>
                                    <td scope="col">최종변경일시</td>
                                </tr>
                                </thead>
                                <tbody v-if="bnBrdList.length">
                                <tr
                                    v-for="(bnBrdRow, index) in bnBrdList"
                                    :class="{ checkedItem: getTrClass(index) }"
                                    :style="{ color: rowStyle(bnBrdRow) }"
                                >
                                    <td class="alignC">
                                        <input
                                            type="checkbox"
                                            title="선택"
                                            v-model="chkBnBrdList"
                                            :value="bnBrdRow.brdNo"
                                            @change="onCheckOne"
                                        >
                                    </td>
                                    <td class="alignC" :title="bnBrdRow.brdTitle" @click="setTrIndex(index)">{{ bnBrdRow.brdTitle }}</td>
                                    <td class="alignC" @click="setTrIndex(index)">{{ showYnTxt(bnBrdRow.showYn) }}</td>
                                    <td class="alignC" :title="bnBrdRow.brdWriterNm" @click="setTrIndex(index)">{{ bnBrdRow.brdWriterNm }}</td>
                                    <td class="alignC" @click="setTrIndex(index)">{{ bnBrdRow.brdRegDt }}</td>
                                </tr>
                                </tbody>
                                <!-- 결과없음 -->
                                <tbody v-else>
                                <tr class="errorMessage">
                                    <td colspan="4">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //slide content -->
                </div>
                <!-- //content group1 -->


                <!-- content group2 -->
                <!-- 2016-08-18 : tr 행 추가 : id="clickPick / href="#clickPick" / id="goodsAddRow" 추가   -->
                <div class="contentBlock" id="">
                    <div class="contentTitle">
                        <div class="cTit">
                            공지사항 내용
                        </div>
                        <div class="cTitRight">
                            <a
                                href="#;"
                                class="btnM"
                                :class="{
                                    colorSky:!brdOneDisabled(bnBrdOne.brdWriterId),
                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                }"
                                @click="modiBnBrdOne"
                            >
                                <span>수정</span>
                            </a>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail">
                        <table class="tblDataRow mb15">
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>제목</th>
                                <td colspan="3">
                                    <input
                                        class="wPer"
                                        type="text"
                                        placeholder="공지사항 제목"
                                        :disabled="brdOneDisabled(bnBrdOne.brdWriterId)"
                                        :value="bnBrdOne.brdTitle"
                                        @input="bnBrdOne.brdTitle = $event.target.value"
                                        maxlength="100"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>게시여부</th>
                                <td colspan="3">
                                    <input type="radio" id="showYes" value="Y" v-model="bnBrdOne.showYn" :disabled="brdOneDisabled(bnBrdOne.brdWriterId)">
                                    <label for="showYes">게시</label>
                                    <span style="width: 8px;"></span>
                                    <input type="radio" id="showNo" value="N" v-model="bnBrdOne.showYn" :disabled="brdOneDisabled(bnBrdOne.brdWriterId)">
                                    <label for="showNo">숨김</label>
                                </td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td colspan="3">{{ bnBrdOne.brdWriterNm }}</td>
                            </tr>
                            <tr>
                                <th>최초작성일시</th>
                                <td>{{ bnBrdOne.inpDt }}</td>
                                <th>최종변경일시</th>
                                <td>{{ bnBrdOne.brdRegDt }}</td>
                            </tr>
                            <tr>
                                <th>첨부파일</th>
                                <td>
                                    <div v-if="brdOneFileShow && brdOneCurFileInfo.length === 0">
                                        <div>
                                            <input
                                                class="wPer"
                                                style="width: 84% !important; padding-top: 0.5px;"
                                                type="file"
                                                id="newFileInput1"
                                                name="newFileInput1"
                                                placeholder="첨부파일"
                                                :disabled="brdOneDisabled(bnBrdOne.brdWriterId)"
                                            >
                                            <a
                                                v-if="!showFilePlus1"
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorOrg:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFilePlus1"
                                            ><span>-</span></a>
                                            <a
                                                v-if="showFilePlus1"
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorWhite:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFilePlus1"
                                            ><span>+</span></a>
                                        </div>
                                        <div v-if="!showFilePlus1">
                                            <input
                                                class="wPer"
                                                style="width: 84% !important; padding-top: 0.5px;"
                                                type="file"
                                                id="newFileInput2"
                                                name="newFileInput2"
                                                placeholder="첨부파일"
                                                :disabled="brdOneDisabled(bnBrdOne.brdWriterId)"
                                            >
                                            <a
                                                v-if="!showFilePlus1"
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorOrg:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFilePlus1"
                                            ><span>-</span></a>
                                            <a
                                                v-if="showFilePlus1"
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorWhite:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFilePlus1"
                                            ><span>+</span></a>
                                        </div>
                                    </div>
                                    <div v-else-if="brdOneFileShow && brdOneCurFileInfo.length > 0">
                                        <div v-for="brdOneFile in brdOneCurFileInfo">
                                            <span style="
                                                width: 84%;
                                                text-decoration: underline;
                                                font-weight: bold;"
                                                @click="getFile(brdOneFile.storFilNm)"
                                            >{{ brdOneFile.origFilNm }} ({{ brdOneFile.filSizNo | mbSize }} MB)</span>
                                            <a
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorOrg:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="delOneFile(brdOneFile.storFilNm)"
                                            ><span>-</span></a>
                                            <a
                                                v-if="showFilePlus2"
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorWhite:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFileInput2"
                                            ><span>+</span></a>
                                        </div>
                                        <div v-if="showFileInput2">
                                            <input
                                                class="wPer"
                                                style="width: 84% !important; padding-top: 0.5px;"
                                                type="file"
                                                id="newFileInput3"
                                                name="newFileInput3"
                                                placeholder="첨부파일"
                                                :disabled="brdOneDisabled(bnBrdOne.brdWriterId)"
                                            >
                                            <a
                                                href="#;"
                                                class="btnS"
                                                :class="{
                                                    colorOrg:!brdOneDisabled(bnBrdOne.brdWriterId),
                                                    disabled: brdOneDisabled(bnBrdOne.brdWriterId)
                                                }"
                                                @click="toggleFilePlus2"
                                            ><span>-</span></a>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>내용</th>
                                <td colspan="3" style="height: 100px">
									<textarea
                                        style="width: 100%; height: 100%;"
                                        rows="6"
                                        placeholder="공지사항 내용"
                                        :disabled="brdOneDisabled(bnBrdOne.brdWriterId)"
                                        :value="bnBrdOne.brdCont"
                                        @input="bnBrdOne.brdCont = $event.target.value"
                                        maxlength="1000"
                                    ></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 공지사항 등록 -->
    <div class="layerWrapper layerSizeL" id="popLayerNoticeAdd" style="display:inherit !important">
        <div class="layerHeader">
            <strong>공지사항 등록</strong>
            <a href="#" class="btnClose popLayerNoticeAdd_close"><img src="../images/cmmn/btn-layer-close.png" alt="창닫기"></a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">
                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <caption>공지사항 등록</caption>
                        <colgroup>
                            <col style="width:120px">
                            <col style="width:*">
                            <col style="width:80px">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>제목</th>
                            <td>
                                <input
                                    class="wPer"
                                    type="text"
                                    placeholder="공지사항 제목 기입"
                                    :value="newBnBrd.brdTitle"
                                    @input="newBnBrd.brdTitle = $event.target.value"
                                    maxlength="100"
                                >
                            </td>
                            <td style="padding-right: 10px; text-align: right;">({{ newBnBrd.brdTitle.length }}/100)</td>
                        </tr>
                        <tr>
                            <th>첨부파일<br />(최대 2개)</th>
                            <td>
                                <div>
                                    <input
                                            style="width: 84% !important; padding-top: 0.5px;"
                                            type="file"
                                            id="popFileInput1"
                                            name="popFileInput1"
                                            placeholder="첨부파일"
                                    >
                                    <a
                                            v-if="!showPopFilePlus"
                                            href="#;"
                                            class="btnS colorOrg"
                                            @click="togglePopFilePlus"
                                    ><span>-</span></a>
                                    <a
                                            v-if="showPopFilePlus"
                                            href="#;"
                                            class="btnS colorWhite"
                                            @click="togglePopFilePlus"
                                    ><span>+</span></a>
                                </div>
                                <div v-if="!showPopFilePlus" style="margin-top: 5px;">
                                    <input
                                            style="width: 84% !important; padding-top: 0.5px;"
                                            type="file"
                                            id="popFileInput2"
                                            name="popFileInput2"
                                            placeholder="첨부파일"
                                    >
                                    <a
                                            v-if="!showPopFilePlus"
                                            href="#;"
                                            class="btnS colorOrg"
                                            @click="togglePopFilePlus"
                                    ><span>-</span></a>
                                    <a
                                            v-if="showPopFilePlus"
                                            href="#;"
                                            class="btnS colorWhite"
                                            @click="togglePopFilePlus"
                                    ><span>+</span></a>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td style="height: 200px">
                                <textarea
                                    style="width: 100%; height: 100%;"
                                    placeholder="공지사항 내용 기입"
                                    :value="newBnBrd.brdCont"
                                    @input="newBnBrd.brdCont = $event.target.value"
                                    maxlength="1000"
                                ></textarea>
                            </td>
                            <td style="padding-right: 10px; vertical-align: bottom; text-align: right;">({{ newBnBrd.brdCont.length }}/1000)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btnWrapper">
                    <a href="#;" class="btnL colorBlue" @click="addBnBrd"><span>등록</span></a>
                </div>
            </div>
            <!-- //컨텐츠 -->
        </div>
    </div>
    <!-- //팝업: 공지사항 등록 -->
</div>

<div layout:fragment="script">
    <script type="text/javascript">
        var g_cxt = '/'
        g_cxt = g_cxt.substring(0, g_cxt.length-1);

        $(function () {
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerNoticeAdd').popup();
            }
        });

        var app = new Vue({
            el:"#app",
            data:{
                bnMbrId: 'qwerasdfzxcvqwerasdfzxcvqwerasdfzxcvqwer@naver.com',
                initDone: false,
                srchCond: {
                    srchOptn: 'ALL',
                    srchTerm: ''
                },
                checkAll: false,
                bnBrdList: [],
                chkBnBrdList: [],
                selBrd: -1,
                bnBrdOne: {},
                brdOneFileShow: false,
                brdOneCurFileInfo: [],
                brdOneNewFileInfo: [],
                showFilePlus1: true,
                showFilePlus2: true,
                showFileInput2: false,
                showPopFilePlus: true,
                newBnBrd: {
                    brdTitle: '',
                    brdCont: ''
                }
            },
            mounted: function(){
                this.initPage()
            },
            watch: {},
            filters: {
                mbSize(value) {
                    if (!value) return ''
                    return (Number.parseFloat(value) / 1000000).toFixed(2)
                }
            },
            methods: {
                initPage() {
                    this.selBrd = -1
                    this.checkAll = false
                    this.initChkBrdList()
                    this.initSrchCond()
                    this.getBnBrdList()
                    this.initBnBrdOne()
                    this.initPop()
                },
                initSrchCond() {
                    this.srchCond = {
                        srchOptn: 'ALL',
                        srchTerm: ''
                    }
                },
                initChkBrdList() {
                    this.chkBnBrdList = []
                },
                initBnBrdOne() {
                    this.bnBrdOne = {}
                    this.initBrdOneFileList()
                },
                initBrdOneFileList() {
                    this.brdOneCurFileInfo = []
                    this.brdOneNewFileInfo = []
                    this.brdOneFileShow = false
                },
                initPop() {
                    this.newBnBrd = {
                        brdTitle: '',
                        brdCont: ''
                    }
                    for (var i=1; i < 3; i++) {
                        if ($('#popFileInput' + i) !== undefined) {
                            $('#popFileInput' + i).attr({ value: '' })
                        }
                    }
                    this.showPopFilePlus = true
                },
                getBnBrdList() {
                    var param = {
                        bnMbrId: this.bnMbrId,
                        srchOptn: this.srchCond.srchOptn,
                        srchTerm: this.srchCond.srchTerm
                    }
                    cf_call('/shop/getBnBrdList', param, this.getBnBrdListCB)
                },
                getBnBrdListCB(rslt) {
                    if (rslt.bnBrdList !== undefined) {
                        this.bnBrdList = rslt.bnBrdList
                    }
                    this.initDone = true
                },
                rowStyle(bnBrdRow) {
                    var colorSwitch = ''
                    if (bnBrdRow.showYn === 'N') {
                        colorSwitch = 'lightgray'
                    }
                    return colorSwitch
                },
                setTrIndex(idx) {
                    if (idx === this.selBrd) {
                        this.selBrd = -1
                        this.initBnBrdOne()
                    } else {
                        this.selBrd = idx
                        this.getBnBrdOne()
                    }
                },
                getTrClass(idx) {
                    return (this.selBrd === idx)
                },
                onCheckAll() {
                    if (this.checkAll) {
                        this.initChkBrdList()
                        for (var i=0; i < this.bnBrdList.length; i++) {
                            this.chkBnBrdList.push(this.bnBrdList[i].brdNo)
                        }
                    } else {
                        this.initChkBrdList()
                    }
                },
                onCheckOne() {
                    var chkCnt = this.chkBnBrdList.length
                    var lstCnt = this.bnBrdList.length
                    if (chkCnt === lstCnt) {
                        this.checkAll = true
                    } else {
                        this.checkAll = false
                    }
                },
                showYnTxt(showYn) {
                    if (showYn === 'Y') {
                        return '게시'
                    }
                    return '숨김'
                },
                modiBnBrdHide() {
                    if (this.chkBnBrdList.length) {
                        var param = {
                            bnMbrId: this.bnMbrId,
                            brdNoList: this.chkBnBrdList
                        }
                        cf_call('/shop/modiBnBrdHide', param, this.modiBnBrdHideCB)
                    } else {
                        alert('숨김 처리 할 글을 체크하세요.')
                    }
                },
                modiBnBrdHideCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('해당 글이 숨김 처리 되었습니다.')
                        this.initPage()
                    }
                },
                getBnBrdOne() {
                    var param = {
                        bnMbrId: this.bnMbrId,
                        brdNo: this.bnBrdList[this.selBrd].brdNo
                    }
                    cf_call('/shop/getBnBrdOne', param, this.getBnBrdOneCB)
                },
                getBnBrdOneCB(rslt) {
                    if (rslt !== undefined) {
                        this.brdOneFileShow = true
                        this.bnBrdOne = rslt.bnBrdOne
                        this.brdOneCurFileInfo = rslt.brdOneCurFileInfo

                        if (this.brdOneCurFileInfo.length === 1) {
                            this.showFilePlus2 = true
                        } else {
                            this.showFilePlus2 = false
                        }
                        this.showFileInput2 = false
                    }
                },
                brdOneDisabled(brdWriterId) {
                    return brdWriterId !== this.bnMbrId
                },
                getFile(fileName) {
                    cf_downloadFile(fileName)
                },
                toggleFilePlus1() {
                    this.showFilePlus1 = !this.showFilePlus1
                },
                toggleFilePlus2() {
                    this.showFilePlus2 = !this.showFilePlus2
                    if (this.showFilePlus2) this.showFileInput2 =  false
                },
                toggleFileInput2() {
                    this.showFileInput2 = !this.showFileInput2
                    if (this.showFileInput2) this.showFilePlus2 = false
                },
                togglePopFilePlus() {
                    this.showPopFilePlus = !this.showPopFilePlus
                },
                delOneFile(storFilNm) {
                    for (var i=0; i < this.brdOneCurFileInfo.length; i++) {
                        if (this.brdOneCurFileInfo[i].storFilNm === storFilNm) {
                            var delFile = this.brdOneCurFileInfo.splice(i, 1)[0]
                            delFile.filStat = 'DEL'
                            this.brdOneNewFileInfo.push(delFile)
                        }
                    }
                    this.toggleFilePlus2()
                },
                modiBnBrdOne() {
                    if (!this.brdOneDisabled(this.bnBrdOne.brdWriterId)) {
                        if (this.bnBrdOne.brdTitle.trim() === '') {
                            alert('공지사항 제목을 입력하세요.')
                        } else if (this.bnBrdOne.brdCont.trim() === '') {
                            alert('공지사항 내용을 입력하세요.')
                        } else {
                            var param = this.bnBrdOne
                            param.bnMbrId = this.bnMbrId
                            param.brdNo = this.bnBrdList[this.selBrd].brdNo

                            var i = 0
                            for (i; i < this.brdOneCurFileInfo.length; i++) {
                                this.brdOneNewFileInfo.splice(i, 0, this.brdOneCurFileInfo[i])
                            }
                            param.brdOneNewFileInfo = this.brdOneNewFileInfo

                            var fileList = []
                            for (var j=1; j < 4; j++) {
                                if ($('#newFileInput' + j)[0] !== undefined && $('#newFileInput' + j)[0].files[0] !== undefined) {
                                    fileList.push($('#newFileInput' + j)[0].files[0])
                                }
                            }

                            cf_callWithFiles("/shop/modiBnBrdOne", fileList, param, this.modiBnBrdOneCB)
                        }

                    }
                },
                modiBnBrdOneCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('해당 글이 수정 되었습니다.')
                        this.initPage()
                    }
                },
                addBnBrd() {
                    if (this.newBnBrd.brdTitle.trim() === '') {
                        alert('공지사항 제목을 입력하세요.')
                    } else if (this.newBnBrd.brdCont.trim() === '') {
                        alert('공지사항 내용을 입력하세요.')
                    } else {
                        var fileList = []
                        for (var i=1; i < 3; i++) {
                            if ($('#popFileInput' + i)[0] !== undefined && $('#popFileInput' + i)[0].files[0] !== undefined) {
                                fileList.push($('#popFileInput' + i)[0].files[0])
                            }
                        }

                        var param = {
                            bnMbrId: this.bnMbrId,
                            brdTitle: this.newBnBrd.brdTitle,
                            brdCont: this.newBnBrd.brdCont
                        }

                        cf_callWithFiles('/shop/addBnBrd', fileList, param, this.addBnBrdCB)
                    }
                },
                addBnBrdCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('공지사항이 작성되었습니다.')
                        $('#popLayerNoticeAdd').popup('hide')
                        this.initPage()
                    }
                }
            },
            computed: {
                srchTermSwitch() {
                    if (this.srchCond.srchOptn === 'ALL') {
                        this.srchCond.srchTerm = ''
                        return true
                    }
                    return false
                }
            }
        })
    </script>
</div>
</html>