<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- shop-employees 고유 css -->
<th:block layout:fragment="css">
    <style>
        .btnM.colorWhite {
            background-color: #fff;
            border: 1px solid #a3daff;
            color: #0093e4;
        }

        /* 탭메뉴(line) */
        .tbMenuSub {
            height: 24px;
            border-bottom: 1px solid #0099e8;
        }

        .tbMenuSub>li {
            float: left;
            height: 23px;
            border: solid #dddddd;
            border-width: 1px 1px 0 0;
            background: #f5f5f5;
            border-radius: 3px 3px 0 0
        }

        .tbMenuSub li:first-child {
            border-left: 1px solid #dddddd;
        }

        .tbMenuSub li:first-child.on {
            margin-left: 0
        }

        .tbMenuSub>li>a {
            display: block;
            padding: 3px 15px 0;
            color: #555;
            font-size: 11px;
            font-weight: bold;
            cursor: pointer;
        }

        .tbMenuSub li.on {
            height: 24px;
            background: #fff;
            border-color: #0099e8;
            border-left: 1px solid #0099e8;
            margin: 0 0 0 -1px;
        }

        .tbMenuSub li.on a {
            color: #0099e8;
            padding-bottom: 4px;
            background: #fff;
            border-radius: 3px 3px 0 0
        }

        .tbMenuSub li.on+li {
            border-width: 1px 1px 0 0;
        }

        .tab_content {
            height: 717px;
        }

        /* 탭내용 */
        .tbMenuSubContent {
            display: none;
        }

        .tbMenuSubContent .tblWrapper {
            height: 130px;
        }

        .tbMenuSubContent.on {
            display: block;
        }

        .addMemberInfo {
            padding-top: 10px;
        }

        .addMemberInfo .listDot>li {
            color: #777;
            list-style: none;
            background-image: none;
            padding-left: 0;
        }

        .addMemberInfo .listDot>li b {
            color: #333;
        }

        .addMemberInfo .listDot.colorRed>li {
            color: #e74b3e;
        }

        .colorRed a {
            color: #e74b3e !important;
        }

        .btnS.colorRed {
            background-color: #fff;
            border: 1px solid #e74b3e;
            color: #e74b3e;
            cursor: default;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-plus" alt="아이콘">직원관리</h2>
                    <div class="pageLocation">
                        <span>매장 관리</span>&gt;<strong>직원관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="srchBox01">조회조건</label>
                            <select id="srchBox01" v-model="srchCond.srchOptn">
                                <option value="ALL">전체</option>
                                <option value="BYNM">직원명</option>
                                <option value="BYID">아이디</option>
                            </select>
                        </li>
                        <li class="txtSize2">
                            <input
                                type="text"
                                id="srchBox02"
                                placeholder="검색어 입력"
                                :disabled="srchTermSwitch"
                                :value="srchCond.srchTerm"
                                @input="srchCond.srchTerm = $event.target.value"
                            >
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#;" class="btnM colorBlue" @click="getEmpList"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            직원 현황
                        </div>
                        <div class="cTitRight">
                            <a href="#popLayerEmployeeAdd"
                               class="btnM colorGreen popLayerEmployeeAdd_open"><span>직원추가</span></a>
                            <a href="#" class="btnM colorOrg" @click="modiEmpDeact"><span>퇴사처리</span></a>
                        </div>
                    </div>
                    <!-- slide content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:56px">
                                        <col style="width:15%">
                                        <col style="width:*">
                                        <col style="width:12%">
                                        <col style="width:15%">
                                        <col style="width:15%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td scope="col">
                                            <input
                                                type="checkbox"
                                                id="checkAll"
                                                title="전체 선택"
                                                v-model="checkAll"
                                                @change="onCheckAll"
                                            >
                                        </td>
                                        <td scope="col">직원명</td>
                                        <td scope="col">아이디</td>
                                        <td scope="col">회원권한</td>
                                        <td scope="col">등록자</td>
                                        <td scope="col">최종변경일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>납품 제품 사전 등록 현황</caption>
                                <colgroup>
                                    <col style="width:56px">
                                    <col style="width:15%">
                                    <col style="width:*">
                                    <col style="width:12%">
                                    <col style="width:15%">
                                    <col style="width:15%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td scope="col"><input type="checkbox" title="전체 선택"></td>
                                    <td scope="col">직원명</td>
                                    <td scope="col">아이디</td>
                                    <td scope="col">회원권한</td>
                                    <td scope="col">등록자</td>
                                    <td scope="col">최종변경일시</td>
                                </tr>
                                </thead>
                                <tbody v-if="empList.length">
                                <tr
                                    v-for="(empInfo, index) in empList"
                                    :class="{ checkedItem: getTrClass(index) }"
                                    :style="{ color: infoStyle(empInfo), fontWeight: infoMaster(empInfo) }"
                                >
                                    <td class="alignC" :title="infoTitle(empInfo)">
                                        <input
                                            type="checkbox"
                                            class="checkOne"
                                            v-if="!infoCheck(empInfo)"
                                            v-model="chkEmpList"
                                            :value="empInfo.bnMbrId"
                                            @change="onCheckOne"
                                        >
                                    </td>
                                    <td class="alignC" :title="empInfo.mbrNm" @click="setTrIndex(index)">{{ empInfo.mbrNm }}</td>
                                    <td class="alignC" :title="empInfo.bnMbrId" @click="setTrIndex(index)">{{ empInfo.bnMbrId }}</td>
                                    <td class="alignC" @click="setTrIndex(index)">{{ empInfo.sellerPrms }}</td>
                                    <td class="alignC" :title="empInfo.amdMbrNm" @click="setTrIndex(index)">{{ empInfo.amdMbrNm }}</td>
                                    <td class="alignC" @click="setTrIndex(index)">{{ empInfo.amdDt }}</td>
                                </tr>
                                </tbody>
                                <!-- 결과없음 -->
                                <tbody v-else>
                                <tr class="errorMessage">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //slide content -->
                </div>
                <!-- //content group1 -->


                <!-- content group2 -->
                <!-- 2016-08-18 : tr 행 추가 : id="clickPick / href="#clickPick" / id="goodsAddRow" 추가   -->
                <div class="contentBlock" id="">
                    <div class="contentTitle">
                        <div class="cTit">
                            직원정보수정
                        </div>
                    </div>
                    <!-- TAB -->
                    <div class="tabToggleWrap">
                        <!-- Tab Menu -->
                        <ul class="tbMenuSub">
                            <li class="on" data-target="pass"><a href="#;"><span>비밀번호 재발급</span></a></li>
                            <li data-target="perm"><a href="#;"><span>회원 권한 변경</span></a></li>
                        </ul>

                        <div style="height: 20px;"></div>

                        <!-- Tab1 -->
                        <div class="tbMenuSubContent on" id="tab_pass">
                            <h3 class="tts">비밀번호 재발급</h3>
                            <!-- content -->
                            <div class="contentDetail">
                                <table class="tblDataRow mb15">
                                    <colgroup>
                                        <col style="width:140px">
                                        <col style="width:*">
                                        <col style="width:140px">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>비밀번호 설정<span class="icoMust"><em>필수</em></span></th>
                                        <td><input class="wPer" type="password" id="newPwdStr" placeholder="숫자 6자리 기입" v-mask="'######'" v-model="newPwdInfo.newPwdStr"></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호 확인<span class="icoMust"><em>필수</em></span></th>
                                        <td><input class="wPer" type="password" id="newPwdChkInp" placeholder="위와 동일하게 기입" v-mask="'######'" @blur="modiEmpPwdChk"></td>
                                        <td style="text-align: center;"><a href="#;" class="btnS colorRed" v-if="!newPwdInfo.newPwdChk && newPwdInfo.newPwdDirty"><span>불일치</span></a></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //content -->
                            <div class="btnWrapper">
                                <a href="#;" class="btnM colorSky" @click="modiEmpPwd"><span>비밀번호 수정</span></a>
                            </div>
                        </div>

                        <!-- Tab2 -->
                        <div class="tbMenuSubContent" id="tab_perm">
                            <h3 class="tts">회원 권한 변경</h3>

                            <!-- content -->
                            <div class="contentDetail">
                                <table class="tblDataRow mb15">
                                    <colgroup>
                                        <col style="width:140px">
                                        <col style="width:*">
                                        <col style="width:140px">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>회원 권한<span class="icoMust"><em>필수</em></span></th>
                                        <td>
                                            <select id="newSellerPrms" v-model="newSellerPrmsInfo.sellerPrms">
                                                <option value="ADMIN">관리자</option>
                                                <option value="BOARD">글작성</option>
                                                <option value="PRICE">가격설정</option>
                                                <option value="READONLY">가격열람</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //content -->
                            <div class="btnWrapper">
                                <a href="#;" class="btnM colorSky" @click="modiEmpPrms"><span>직원권한 수정</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- //TAB -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 직원등록 -->
    <div class="layerWrapper layerSizeM" id="popLayerEmployeeAdd" style="display:inherit !important">
        <div class="layerHeader">
            <strong>직원등록</strong>
            <a href="#" class="btnClose popLayerEmployeeAdd_close"><img src="../images/cmmn/btn-layer-close.png"
                                                                        alt="창닫기"></a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <caption>직원등록</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col style="width:*">
                            <col style="width:90px">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>아이디<span class="icoMust"><em>필수</em></span></th>
                            <td>
                                <input type="text" id="emailId" placeholder="이메일 ID 기입" v-model="newEmpInfo.emailId" style="width:38%!important;" maxlength="50">
                                <span>@</span>
                                <input type="text" id="emailDomainTxt" placeholder="도메인 기입" style="width:28%!important;" v-model="newEmpInfo.emailDomain" maxlength="18">
                                <select id="emailDomainSel" style="width:25%!important;" @change="newEmpInfo.emailDomain = $event.target.value">
                                    <option value="naver.com">네이버</option>
                                    <option value="hanmail.net">다음</option>
                                    <option value="gmail.com">구글</option>
                                    <option value="nate.com">네이트</option>
                                    <option value="" selected>직접입력</option>
                                </select>
                            </td>
                            <td style="text-align: center;"><a href="#;" class="btnS colorWhite" @click="chkMbrId"><span>중복체크</span></a></td>
                        </tr>
                        <tr>
                            <th>초기 비밀번호<span class="icoMust"><em>필수</em></span></th>
                            <td>
                                <input class="wPer" type="password" id="pwdNo" placeholder="숫자 6자리 기입" v-mask="'######'" v-model="newEmpInfo.pwdNo">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>초기 비밀번호 확인<span class="icoMust"><em>필수</em></span></th>
                            <td>
                                <input class="wPer" type="password" id="pwdNoChk" placeholder="위와 동일하게 기입" v-mask="'######'" @blur="newEmpPwdChk">
                            </td>
                            <td style="text-align: center;"><a href="#;" class="btnS colorRed" v-if="!newEmpInfo.pwChk && newEmpInfo.pwDirty"><span>불일치</span></a></td>
                        </tr>
                        <tr>
                            <th>회원 권한<span class="icoMust"><em>필수</em></span></th>
                            <td>
                                <select class="wPer" id="sellerPrms" v-model="newEmpInfo.sellerPrms">
                                    <option value="ADMIN">관리자</option>
                                    <option value="BOARD">글작성</option>
                                    <option value="PRICE">가격설정</option>
                                    <option value="READONLY">가격열람</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>직원명<span class="icoMust"><em>필수</em></span></th>
                            <td>
                                <input
                                    class="wPer"
                                    type="text"
                                    id="mbrNm"
                                    placeholder="직원명 기입"
                                    :value="newEmpInfo.mbrNm"
                                    @input="newEmpInfo.mbrNm = $event.target.value"
                                >
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#;" class="btnL colorBlue" @click="addNewEmpInfo"><span>등록</span></a>
                </div>
            </div>

        </div>
    </div>
    <!-- //팝업: 직원등록 -->
</div>

<div layout:fragment="script">
    <script type="text/javascript">
        var g_cxt = '/'
        g_cxt = g_cxt.substring(0, g_cxt.length-1);

        $(function () {
            // layer
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerEmployeeAdd').popup();
            }

            // tab
            $(".tbMenuSub li").click(function () {
                $(".tbMenuSub li").removeClass("on");
                $(this).addClass("on");

                var tabName = $(this).attr("data-target");

                $(".tbMenuSubContent").removeClass("on");
                $("#tab_" + tabName).addClass("on");
            });
        });

        var app = new Vue({
            el:"#app",
            data:{
                bnMbrId: 'qwerasdfzxcvqwerasdfzxcvqwerasdfzxcvqwer@naver.com',
                srchCond: {
                    srchOptn: 'ALL',
                    srchTerm: ''
                },
                checkAll: false,
                empList: [],
                chkEmpList: [],
                selEmp: -1,
                newPwdInfo: {
                    newPwdStr: '',
                    newPwdChk: false,
                    newPwdDirty: false
                },
                newSellerPrmsInfo: {
                    sellerPrms: 'READONLY'
                },
                newEmpInfo: {
                    emailId: '',
                    emailDomain: '',
                    idChk: false,
                    pwdNo: '',
                    pwDirty: false,
                    pwChk: false,
                    sellerPrms: 'READONLY',
                    mbrNm: '',
                    mstMbrYn: 'N'
                }
            },
            mounted: function(){
                this.initPage()
            },
            watch: {},
            methods: {
                initPage() {
                    this.selEmp = -1
                    this.checkAll = false
                    this.initSelEmpList()
                    this.initSrchCond()
                    this.getEmpList()
                },
                initSrchCond() {
                    this.srchCond = {
                        srchOptn: 'ALL',
                        srchTerm: ''
                    }
                },
                initSelEmpList() {
                    this.chkEmpList =  []
                },
                getEmpList() {
                    var param = {
                        bnMbrId: this.bnMbrId,
                        srchOptn: this.srchCond.srchOptn,
                        srchTerm: this.srchCond.srchTerm
                    }
                    cf_call('/shop/getEmpList', param, this.getEmpListCB)
                },
                getEmpListCB(rslt) {
                    var rsltList = rslt.empList
                    if (!cf_isEmpty(rsltList)) {
                        this.empList = rsltList
                    }
                },
                infoStyle(empInfo) {
                    var colorSwitch = ''
                    if (empInfo.lginAvlYn === 'N') {
                        colorSwitch = 'red'
                    }
                    if (empInfo.actvYn === 'N') {
                        colorSwitch =  'gray'
                    }
                    if (cf_isEmpty(empInfo.authDt)) {
                        colorSwitch =  'navy'
                    }
                    return colorSwitch
                },
                infoMaster(empInfo) {
                    var fontWeight = ''
                    if (empInfo.mstMbrYn === 'Y') {
                        fontWeight = 'bold'
                    }
                    return fontWeight
                },
                infoTitle(empInfo) {
                    var titleStr = "선택"
                    if (empInfo.lginAvlYn === 'N') {
                        titleStr = '로그인 제한'
                    }
                    if (empInfo.actvYn === 'N') {
                        titleStr = '퇴사 직원'
                    }
                    if (empInfo.mstMbrYn === 'Y') {
                        titleStr = '마스터 회원'
                    }
                    if (cf_isEmpty(empInfo.authDt)) {
                        titleStr = '미인증 직원'
                    }
                    return titleStr
                },
                infoCheck(empInfo) {
                    var disabledSwitch = false
                    // 미인증회원 경우 수정불가
                    if (cf_isEmpty(empInfo.authDt)) {
                        disabledSwitch = true
                    }
                    // 마스터회원 경우 수정불가
                    if (empInfo.mstMbrYn === 'Y') {
                        disabledSwitch = true
                    }
                    return disabledSwitch
                },
                setTrIndex(idx) {
                    if (this.empList[idx].mstMbrYn === 'Y') {
                        alert('마스터 회원의 정보수정은 불가합니다.')
                        this.selEmp = -1
                    } else if (cf_isEmpty(this.empList[idx].authDt)) {
                        alert('미인증 직원의 정보수정은 불가합니다.')
                        this.selEmp = -1
                    } else if (idx === this.selEmp) {
                        this.selEmp = -1
                    } else {
                        this.selEmp = idx
                        this.newSellerPrmsInfo.sellerPrms = this.empList[idx].sellerPrms
                    }
                },
                getTrClass(idx) {
                    if (this.empList[idx].mstMbrYn === 'Y') {
                        return false
                    } else if (cf_isEmpty(this.empList[idx].authDt)) {
                        return false
                    }
                    return (this.selEmp === idx)
                },
                onCheckAll() {
                    if (this.checkAll) {
                        this.initSelEmpList()
                        for (var i=0; i < this.empList.length; i++) {
                            if (this.empList[i].mstMbrYn === 'N') {
                                this.chkEmpList.push(this.empList[i].bnMbrId)
                            }
                        }
                    } else {
                        this.initSelEmpList()
                    }
                },
                onCheckOne() {
                    var chkCnt = 0
                    var lstCnt = 0
                    for (var i=0; i < this.chkEmpList.length; i++) { chkCnt++ }
                    for (var i=0; i < this.empList.length; i++) {
                        if (this.empList[i].mstMbrYn === 'N') { lstCnt++ }
                    }
                    if (chkCnt === lstCnt) {
                        this.checkAll = true
                    } else {
                        this.checkAll = false
                    }
                },
                modiEmpDeact() {
                    if (this.chkEmpList.length) {
                        var param = {
                            bnMbrIdList: this.chkEmpList,
                            amdMbrId: this.bnMbrId
                        }
                        cf_call('/shop/modiEmpDeact', param, this.modiEmpDeactCB)
                    } else {
                        alert('퇴사로 처리 할 직원을 선택하세요.')
                    }
                },
                modiEmpDeactCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('해당 직원이 퇴사 처리 되었습니다.')
                        this.initPage()
                    }
                },
                modiEmpPwdChk($e) {
                    this.newPwdInfo.newPwdDirty = true
                    this.newPwdInfo.newPwdChk = this.newPwdInfo.newPwdStr === $e.target.value
                },
                modiEmpPwd() {
                    if (this.selEmp === -1) {
                        alert('정보수정 할 직원을 선택하세요.')
                    } else if (this.newPwdInfo.newPwdStr === '') {
                        alert('재발급 할 비밀번호를 입력하세요.')
                    } else if (!this.newPwdInfo.newPwdChk) {
                        alert('비밀번호 확인을 완료하세요.')
                    } else {
                        var param = {
                            bnMbrId: this.empList[this.selEmp].bnMbrId,
                            pwdNo: this.newPwdInfo.newPwdStr,
                            amdMbrId: this.bnMbrId
                        }
                        cf_call('/shop/modiEmpPwd', param, this.modiEmpPwdCB)
                    }
                },
                modiEmpPwdCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('해당 직원의 비밀번호가 초기화 되었습니다.')
                        this.newPwdInfo = {
                            newPwdStr: '',
                            newPwdChk: false,
                            newPwdDirty: false
                        }
                        $('#newPwdChkInp')[0].value = ''
                        this.initPage()
                    }
                },
                modiEmpPrms() {
                    if (this.selEmp === -1) {
                        alert('정보수정 할 직원을 선택하세요.')
                    } else if (this.newSellerPrmsInfo.sellerPrms === this.empList[this.selEmp].sellerPrms) {
                        alert('해당 직원의 기존 권한 레벨과 동일합니다.')
                    } else {
                        var param = {
                            bnMbrId: this.empList[this.selEmp].bnMbrId,
                            sellerPrms: this.newSellerPrmsInfo.sellerPrms,
                            amdMbrId: this.bnMbrId
                        }
                        cf_call('/shop/modiEmpPrms', param, this.modiEmpPrmsCB)
                    }
                },
                modiEmpPrmsCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('해당 직원의 권한이 변경되었습니다.')
                        this.newSellerPrmsInfo.sellerPrms = 'READONLY'
                        this.initPage()
                    }
                },
                addNewEmpInfo() {
                    if (
                        this.newEmpInfo.emailId.trim() === ''
                        || this.newEmpInfo.emailDomain.trim() === ''
                        || this.newEmpInfo.pwdNo.trim() === ''
                        || this.newEmpInfo.sellerPrms.trim() === ''
                        || this.newEmpInfo.mbrNm.trim() === ''
                    ) {
                        alert('빈 항목을 입력해주세요.')
                    } else if (!this.newEmpInfo.idChk) {
                        alert('가입하지 않은 이메일을 입력 후\n아이디 중복체크를 해주세요.')
                    } else if (!this.newEmpInfo.pwChk) {
                        alert('비밀번호 확인을 완료해주세요.')
                    } else {
                        var param = this.newEmpInfo
                        param.bnMbrId = this.newBnMbrId
                        param.amdMbrId = this.bnMbrId
                        cf_call('/shop/addEmpInfo', param, this.addNewEmpInfoCB)
                    }
                },
                addNewEmpInfoCB(rslt) {
                    if (rslt.rsltStat === 'SUCC') {
                        alert('신규 직원이 추가되었습니다.')

                        this.newEmpInfo.idChk = false
                        this.newEmpInfo.emailId = ''
                        this.newEmpInfo.emailDomain = ''
                        $('#emailDomainSel')[0].value = ''
                        this.newEmpInfo.pwdNo = ''
                        $('#pwdNoChk')[0].value = ''
                        this.newEmpInfo.pwDirty = false
                        this.newEmpInfo.pwChk = false
                        this.newEmpInfo.sellerPrms = 'READONLY'
                        this.newEmpInfo.mbrNm = ''

                        $('#popLayerEmployeeAdd').popup('hide')
                        this.initPage()
                    }
                },
                chkMbrId() {
                    var param = {
                        mbrId: this.newBnMbrId
                    }
                    cf_call('/member/checkId', param, this.chkMbrIdCB);
                },
                chkMbrIdCB(rslt) {
                    var mbrIdChk = rslt.chkMbrId
                    if (mbrIdChk === '0') {
                        alert('사용 가능한 이메일입니다.')
                        this.newEmpInfo.idChk = true
                    } else {
                        alert('이미 가입한 이메일입니다.\n다른 이메일을 입력해주세요.')
                        this.newEmpInfo.idChk = false
                        this.newEmpInfo.emailId = ''
                        this.newEmpInfo.emailDomain = ''
                        $('#emailDomainSel')[0].value = ''
                    }
                },
                newEmpPwdChk($e) {
                    this.newEmpInfo.pwDirty = true
                    this.newEmpInfo.pwChk = this.newEmpInfo.pwdNo === $e.target.value
                }
            },
            computed: {
                newBnMbrId() {
                    return this.newEmpInfo.emailId + '@' + this.newEmpInfo.emailDomain
                },
                srchTermSwitch() {
                    if (this.srchCond.srchOptn === 'ALL') {
                        this.srchCond.srchTerm = ''
                        return true
                    }
                    return false
                }
            }
        })
    </script>
</div>
</html>