<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- shop-manage 고유 css -->
<th:block layout:fragment="css">
    <style>
        .tblList th,
        .tblList td {
            padding: 6px 8px;
            height: 34px;
        }

        table th,
        table td {
            padding: 6px 0;
            border: 1px solid #e1e3e8;
            border-width: 0 0 1px 1px;
        }

        input {
            height: 30px;
            width: auto;
            padding: 0;
            padding-bottom: 5px;
            padding: 0 6px;
        }

        .btnS {
            height: 28px;
            padding: 0 8px;
            font-size: 12px;
            font-family: dotum, '돋움', Sans-serif;
        }

        .btnS>span {
            padding: 4px 0;
            line-height: 1.6;
        }

        .desBr {
            font-size: initial;
            font-weight: bold;
        }

        #popLayerDaumPostcodeSrch {
            height: 340px;
        }

        .layerContainer {
            padding: 0;
            padding-left: 1px;
        }

        .guidanceWrapper {
            margin: 0;
        }

        .vue-daum-postcode-container {
            height: 300px !important;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-list" alt="아이콘">매장정보 관리
                    </h2>
                    <div class="pageLocation">
                        <span>매장 관리</span>&gt;<strong>매장정보관리</strong>
                    </div>
                </div>
                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            사업자 정보
                        </div>
                        <div class="cTitRight">
                            <a href="#" class="btnM colorSky" @click="modiShopInfo"><span>저장</span></a>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail" v-show="initDone">
                        <table class="tblDataRow mb15">
                            <caption>기본정보</caption>
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>회사명<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                        type="text"
                                        class="wPer"
                                        placeholder="회사명"
                                        :value="shopInfo.bnNm"
                                        @input="shopInfo.bnNm = $event.target.value"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>대표자명<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            type="text"
                                            class="wPer"
                                            placeholder="대표자명을 입력해주세요"
                                            :value="shopInfo.ownerNm"
                                            @input="shopInfo.ownerNm = $event.target.value"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>사업자등록번호<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            style="width: 100%;"
                                            type="text"
                                            placeholder="'-'없이 숫자 10자리 입력"
                                            v-mask="'###-##-#####'"
                                            v-model="shopInfo.bnRegNo"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>사업자등록증<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <p class="desBr">
                                        신청 정보를 증명할 수 있는 사업자등록증 사본을 제출해 주세요
                                    </p>
                                    <p class="br">
                                        일반과세자(개인사업자)의 경우, 사업자등록증에 주민등록번호가 포함되어 있으면 뒷자리 7자리를
                                        음영처리(masking)하여 제출 바랍니다.<br>첨부파일은 육안으로 식별 가능해야 하며, 서류 검토 후 문제가
                                        있을
                                        경우 서비스 이용에 제한을 받을 수 있습니다.
                                    </p>
                                    <br>
                                    <p class="br">
                                        <img :src="getImagePath(shopInfo.bnRegCard)" alt="사업자등록증 사본" style="width: 300px; height: auto;">
                                    </p>
                                    <input
                                        type="file"
                                        name="bnRegCard"
                                        id="bnRegCard"
                                        placeholder="사업자등록증 사본"
                                        style="padding-top: 4px;"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite"
                                        @click="uploadImage('bnRegCard')"
                                    >
                                        <span>파일첨부</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>주소<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                        type="text"
                                        class="wZipcode"
                                        placeholder="우편번호"
                                        v-model="daumPostcodeRslt.zonecode"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite popLayerDaumPostcodeSrch_open"
                                        onclick="layer_execDaumPostcode(); return false;"
                                    >
                                        <span>주소 검색</span>
                                    </a>
                                    <p class="br">
                                        <input
                                            type="text"
                                            class="wAddr"
                                            placeholder="주소 입력"
                                            :value="bnAddrStr"
                                            @input="bnAddrStr = $event.target.value"
                                        >
                                        <input
                                            type="text"
                                            class="wAddr"
                                            placeholder="상세주소 입력"
                                            :value="bnAddrBldg"
                                            @input="bnAddrBldg = $event.target.value"
                                        >
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>연락처<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            style="width: 100%;"
                                            type="text"
                                            placeholder="'-'없이 숫자 9-11자리 입력"
                                            v-mask="phoneMask"
                                            v-model="bnPnNo"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>대표사진</th>
                                <td colspan="3">
                                    <p class="br">
                                        <img :src="getImagePath(shopInfo.bnImg)" alt="매장 대표사진" style="width: 300px; height: auto;">
                                    </p>
                                    <br>
                                    <input
                                        type="file"
                                        name="bnImg"
                                        id="bnImg"
                                        placeholder="매장 대표사진"
                                        style="padding-top: 4px;"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite"
                                        @click="uploadImage('bnImg')"
                                    >
                                        <span>파일첨부</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 우편번호 찾기 -->
    <div class="layerWrapper layerSizeM" id="popLayerDaumPostcodeSrch" style="display:inherit !important;">
        <div class="layerHeader">
            <strong>우편번호 찾기</strong>
            <a href="#" class="btnClose popLayerDaumPostcodeSrch_close"><img src="../images/cmmn/btn-layer-close.png"
                                                                             alt="창닫기"></a>
        </div>
        <div class="layerContainer" style="display: inline-block;">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <vue-daum-postcode style="width: 559px; height: 300px;" @complete="daumPostcodeCB($event)" />
                </div>
                <!-- //컨텐츠 -->
            </div>

        </div>
    </div>
    <!-- //팝업: 우편번호 찾기 -->
</div>

<div layout:fragment="script">
    <script type="text/javascript">
        document.cookie = '_TI_NID=1; SameSite=None; Secure';
        document.cookie = '_kadu=2; SameSite=None; Secure';
        document.cookie = '_kdt=3; SameSite=None; Secure';
        document.cookie = 'TIARA=4; SameSite=None; Secure';
        document.cookie = 'kd_lang=5; SameSite=None; Secure';
        // document.cookie = 'safeCookie6="webid_ts"; SameSite=Lax;';
        // document.cookie = 'safeCookie7="webid"; SameSite=Lax;';
    </script>

    <script type="text/javascript" th:src="@{/js/lib/vue-daum-postcode/index.js}"></script>

    <script type="text/javascript">
        var g_cxt = '/'
        g_cxt = g_cxt.substring(0, g_cxt.length-1);

        $(function () {
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerDaumPostcodeSrch').popup();
            }
        });

        var app = new Vue({
            el:"#app",
            data:{
                initDone: false,
                bnMbrId: 'qwerasdfzxcvqwerasdfzxcvqwerasdfzxcvqwer@naver.com',
                shopInfo: {},
                oldImageList: [],
                daumPostcodeRslt: {},
                bnAddrStr: '',
                bnAddrBldg: '',
                bnPnNo: '',
                phoneMask: ['##'],
                phoneMaskSeoul: ['##-###-####', '##-####-####'],
                phoneMaskOther: ['###-###-####', '###-####-####'],
                uploadTgtNm: '',
            },
            mounted: function(){
                this.getShopInfo()
            },
            watch: {
                bnPnNo (newPhoneNo) {
                    if (newPhoneNo.length === 2) {
                        this.setPhoneMask(newPhoneNo)
                    }
                }
            },
            methods: {
                getShopInfo() {
                    this.initDone = false
                    var param = {
                        bnMbrId: this.bnMbrId
                    }
                    cf_call("/shop/getShopInfo", param, this.getShopInfoCB);
                },
                getShopInfoCB(rslt){
                    if (rslt.bnPnNo !== undefined) {
                        this.setPhoneMask(rslt.bnPnNo)
                        this.bnPnNo = rslt.bnPnNo
                    }
                    this.bnAddrStr = rslt.bnAddrDtl
                    this.shopInfo = rslt
                    this.initDone = true
                },
                uploadImage(tgtNm) {
                    this.uploadTgtNm = tgtNm
                    var fileList = []
                    var param = {}
                    if ($("#" + tgtNm)[0].files[0] !== undefined) {
                        fileList.push($("#" + tgtNm)[0].files[0])
                        param.bnMbrId = this.bnMbrId
                        cf_callWithFiles("/upload/image", fileList, param, this.uploadImageCB)
                    }
                },
                uploadImageCB(data) {
                    if (this.uploadTgtNm === 'bnRegCard') {
                        this.oldImageList.push(this.shopInfo.bnRegCard)
                        this.shopInfo.bnRegCard = data.filNm
                        this.shopInfo.cardChkYn = 'N'
                        $("#bnRegCard")[0].value = ''
                    }``
                    if (this.uploadTgtNm === 'bnImg') {
                        this.oldImageList.push(this.shopInfo.bnImg)
                        this.shopInfo.bnImg = data.filNm
                        $("#bnImg")[0].value = ''
                    }
                    alert('사진이 업로드 되었습니다.\n페이지 상단 \'저장\'을 누르시면 사진이 변경됩니다.')
                },
                modiShopInfo() {
                    var param = this.shopInfo
                    param.bnMbrId = this.bnMbrId
                    param.oldImageList = this.oldImageList
                    param.bnAddrDtl = this.bnAddrFull
                    param.bnRegNo = this.bnRegNoND
                    param.bnPnNo = this.bnPnNoND
                    cf_call("/shop/modiShopInfo", param, this.modiShopInfoCB)
                },
                modiShopInfoCB(rslt) {
                    if(rslt.rsltStat === "SUCC") {
                        alert("변경사항이 저장되었습니다.")
                        this.daumPostcodeRslt = {}
                        this.bnAddrBldg = ''
                        this.getShopInfo()
                    }
                },
                daumPostcodeCB(e) {
                    this.daumPostcodeRslt = e
                    this.shopInfo.bnAddrSido = this.daumPostcodeRslt.sido
                    this.shopInfo.bnAddrSigg = this.daumPostcodeRslt.sigungu
                    this.bnAddrStr = this.daumPostcodeRslt.address
                    $('#popLayerDaumPostcodeSrch').popup('hide')
                },
                setPhoneMask(phoneNo) {
                    var areaCode = phoneNo.substring(0, 2)
                    if (areaCode === '02') {
                        this.phoneMask = this.phoneMaskSeoul
                    } else {
                        this.phoneMask = this.phoneMaskOther
                    }
                },
                getImagePath(fileName) {
                    if (fileName !== undefined) {
                        return '/imageSrc?fileName=' + fileName
                    }
                }
            },
            computed: {
                bnAddrFull() {
                    return this.bnAddrStr + ' ' + this.bnAddrBldg
                },
                bnRegNoND() {
                    return this.shopInfo.bnRegNo.replaceAll('-', '')
                },
                bnPnNoND() {
                    return this.bnPnNo.replaceAll('-', '')
                }
            }
        })
    </script>
</div>
</html>