<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- shop-manage 고유 css -->
<th:block layout:fragment="css">
    <style>
        .tblList th,
        .tblList td {
            padding: 6px 8px;
            height: 34px;
        }

        table th,
        table td {
            padding: 6px 0;
            border: 1px solid #e1e3e8;
            border-width: 0 0 1px 1px;
        }

        input {
            height: 30px;
            width: auto;
            padding: 0;
            padding-bottom: 5px;
            padding: 0 6px;
        }

        .btnS {
            height: 28px;
            padding: 0 8px;
            font-size: 12px;
            font-family: dotum, '돋움', Sans-serif;
        }

        .btnS>span {
            padding: 4px 0;
            line-height: 1.6;
        }

        .desBr {
            font-size: initial;
            font-weight: bold;
        }

        #popLayerDaumPostcodeSrch {
            height: 340px;
        }

        .layerContainer {
            padding: 0;
            padding-left: 1px;
        }

        .guidanceWrapper {
            margin: 0;
        }

        .vue-daum-postcode-container {
            height: 300px !important;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img th:src="@{/images/cmmn/hidden.png}" class="ico-list" alt="아이콘">매장정보 관리
                    </h2>
                    <div class="pageLocation">
                        <span>매장 관리</span>&gt;<strong>매장정보관리</strong>
                    </div>
                </div>
                <!-- content group2 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            사업자 정보
                        </div>
                        <div class="cTitRight">
                            <a href="#" class="btnM colorSky" @click="modiShopInfo"><span>저장</span></a>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="contentDetail" v-show="initDone">
                        <table class="tblDataRow mb15">
                            <caption>기본정보</caption>
                            <colgroup>
                                <col style="width:140px">
                                <col style="width:*">
                                <col style="width:140px">
                                <col style="width:*">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>회사명<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                        type="text"
                                        class="wPer"
                                        placeholder="회사명"
                                        :value="shopInfo.bnNm"
                                        @input="shopInfo.bnNm = $event.target.value"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>대표자명<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            type="text"
                                            class="wPer"
                                            placeholder="대표자명을 입력해주세요"
                                            :value="shopInfo.ownerNm"
                                            @input="shopInfo.ownerNm = $event.target.value"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>사업자등록번호<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            style="width: 100%;"
                                            type="text"
                                            placeholder="'-'없이 숫자 10자리 입력"
                                            v-mask="'###-##-#####'"
                                            v-model="shopInfo.bnRegNo"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>사업자등록증<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <p class="desBr">
                                        신청 정보를 증명할 수 있는 사업자등록증 사본을 제출해 주세요.
                                    </p>
                                    <p class="br">
                                        일반과세자(개인사업자)의 경우, 사업자등록증에 주민등록번호가 포함되어 있으면 뒷자리 7자리를
                                        음영처리(masking)하여 제출 바랍니다.<br>첨부파일은 육안으로 식별 가능해야 하며, 서류 검토 후 문제가
                                        있을
                                        경우 서비스 이용에 제한을 받을 수 있습니다.
                                    </p>
                                    <br>
                                    <p class="br">
                                        <img :src="getImagePath('regcard', shopInfo.bnRegCard)" alt="사업자등록증 사본" style="width: 300px; height: auto;">
                                    </p>
                                    <input
                                        type="file"
                                        name="bnRegCard"
                                        id="bnRegCard"
                                        placeholder="사업자등록증 사본"
                                        style="padding-top: 4px;"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite"
                                        @click="uploadImage('bnRegCard')"
                                    >
                                        <span>파일첨부</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>주소<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                        id="bnZipcode"
                                        type="text"
                                        class="wZipcode"
                                        placeholder="우편번호"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite"
                                        onclick="execDaumPostcode()"
                                    >
                                        <span>주소 검색</span>
                                    </a>
                                    <p class="br">
                                        <input
                                            id="bnAddrStr"
                                            type="text"
                                            class="wAddr"
                                            placeholder="주소 입력"
                                            :value="bnAddrStr"
                                            @input="bnAddrStr = $event.target.value"
                                        >
                                        <input
                                            id="bnAddrBldg"
                                            type="text"
                                            class="wAddr"
                                            placeholder="상세주소 입력"
                                            :value="bnAddrBldg"
                                            @input="bnAddrBldg = $event.target.value"
                                        >
                                        <input type="hidden" id="bnAddrSido" :value="shopInfo.bnAddrSido">
                                        <input type="hidden" id="bnAddrSigg" :value="shopInfo.bnAddrSigg">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>연락처<span class="icoMust"><em>필수</em></span></th>
                                <td colspan="3">
                                    <input
                                            style="width: 100%;"
                                            type="text"
                                            placeholder="'-'없이 숫자 9-11자리 입력"
                                            v-mask="phoneMask"
                                            v-model="bnPnNo"
                                    >
                                </td>
                            </tr>
                            <tr>
                                <th>대표사진</th>
                                <td colspan="3">
                                    <p class="br">
                                        <img :src="getImagePath('shopimg', shopInfo.bnImg)" alt="매장 대표사진" style="width: 300px; height: auto;">
                                    </p>
                                    <br>
                                    <input
                                        type="file"
                                        name="bnImg"
                                        id="bnImg"
                                        placeholder="매장 대표사진"
                                        style="padding-top: 4px;"
                                    >
                                    <a
                                        href="#;"
                                        class="btnS colorWhite"
                                        @click="uploadImage('bnImg')"
                                    >
                                        <span>파일첨부</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>마케팅 동의여부</th>
                                <td colspan="3">
                                    <input type="checkbox" id="mktChk" v-model="mktChk" style="margin-left: 2px; margin-bottom: 4px;">
                                    <label for="mktChk" style="margin-top: 0 !important; margin-bottom: 4px;">마케팅 동의</label>
                                </td>
                            </tr>
                            <tr>
                                <th>방문개통</th>
                                <td colspan="3">
                                    <p class="br">
                                        고객들에게 방문개통 서비스를 제공하는지 알려줄 수 있습니다.
                                    </p>
                                    <br>
                                    <input type="checkbox" id="dropbyChk" v-model="dropbyChk" style="margin-left: 2px; margin-bottom: 4px;">
                                    <label for="dropbyChk" style="margin-top: 0 !important; margin-bottom: 4px;">방문개통 가능</label>
                                    <span style="margin-left: 28px; margin-right: 4px;">방문개통 서비스 요금</span>
                                    <select id="dropbyFree" v-model="dropbyFree" :disabled="!dropbyChk" style="height: 30px; width: 60px !important;">
                                        <option value="true">무료</option>
                                        <option value="false">유료</option>
                                    </select>
                                    <input type="text" class="inMoney" id="dropbyCost" v-model="shopInfo.dropbyCost" :disabled="disableDropbyCost" v-mask="'######'" style="width: 14% !important;"> 원
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //content -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="script">
    <script type="text/javascript">
        document.cookie = '_TI_NID=1; SameSite=None; Secure';
        document.cookie = '_kadu=2; SameSite=None; Secure';
        document.cookie = '_kdt=3; SameSite=None; Secure';
        document.cookie = 'TIARA=4; SameSite=None; Secure';
        document.cookie = 'kd_lang=5; SameSite=None; Secure';
        // document.cookie = 'safeCookie6="webid_ts"; SameSite=Lax;';
        // document.cookie = 'safeCookie7="webid"; SameSite=Lax;';
    </script>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script type="text/javascript">
        function execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var roadAddr = data.roadAddress;
                    var extraRoadAddr = '';

                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraRoadAddr += data.bname;
                    }

                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraRoadAddr !== ''){
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    document.getElementById('bnZipcode').value = data.zonecode;
                    document.getElementById('bnAddrSido').value = data.sido;
                    document.getElementById('bnAddrSigg').value = data.sigungu;

                    document.getElementById("bnAddrStr").value = roadAddr;
                    document.getElementById("bnAddrBldg").value = extraRoadAddr;
                    app.daumPostCodeCB(roadAddr, extraRoadAddr);
                }
            }).open();
        }

        var app = new Vue({
            el: "#app",
            data: {
                initDone: false,
                shopInfo: {},
                oldImageList: [],
                bnAddrStr: '',
                bnAddrBldg: '',
                bnPnNo: '',
                phoneMask: ['##'],
                phoneMaskSeoul: ['##-###-####', '##-####-####'],
                phoneMaskOther: ['###-###-####', '###-####-####'],
                uploadTgtNm: '',
                mktChk: false,
                dropbyChk: false,
                dropbyFree: 'true'
            },
            mounted: function(){
                this.getShopInfo()
            },
            watch: {
                bnPnNo: function (newPhoneNo) {
                    if (newPhoneNo.length === 2) {
                        this.setPhoneMask(newPhoneNo)
                    }
                }
            },
            methods: {
                daumPostCodeCB: function(str, bldg) {
                    this.bnAddrStr = str
                    this.bnAddrBldg = bldg
                },
                getShopInfo: function() {
                    this.initDone = false
                    var param = {}
                    cf_call("/shop/getShopInfo", param, this.getShopInfoCB);
                },
                getShopInfoCB: function(rslt){
                    if (rslt.bnPnNo !== undefined) {
                        this.setPhoneMask(rslt.bnPnNo)
                        this.bnPnNo = rslt.bnPnNo
                    }
                    this.bnAddrStr = rslt.bnAddrDtl
                    this.mktChk = this.ynToBool(rslt.mktYn)
                    this.dropbyChk = this.ynToBool(rslt.dropbyYn)
                    if (rslt.dropbyCost * 1 > 0) this.dropbyFree = 'false'
                    this.shopInfo = rslt
                    this.initDone = true
                },
                uploadImage: function(tgtNm) {
                    this.uploadTgtNm = tgtNm
                    var fileTgt = ''
                    if (tgtNm === 'bnRegCard') {
                        fileTgt = 'regcard'
                    } else if (tgtNm === 'bnImg') {
                        fileTgt = 'shopimg'
                    }

                    var fileList = []
                    var param = {
                        fileTgt : fileTgt
                    }
                    if ($("#" + tgtNm)[0].files[0] !== undefined) {
                        fileList.push($("#" + tgtNm)[0].files[0])
                        cf_callWithFiles("/upload/image", fileList, param, this.uploadImageCB)
                    }
                },
                uploadImageCB: function(data) {
                    if (this.uploadTgtNm === 'bnRegCard') {
                        this.oldImageList.push(this.shopInfo.bnRegCard)
                        this.shopInfo.bnRegCard = data.filNm
                        this.shopInfo.cardChkYn = 'N'
                        $("#bnRegCard")[0].value = ''
                    }
                    if (this.uploadTgtNm === 'bnImg') {
                        this.oldImageList.push(this.shopInfo.bnImg)
                        this.shopInfo.bnImg = data.filNm
                        $("#bnImg")[0].value = ''
                    }
                    alert('사진이 업로드 되었습니다.\n페이지 상단 \'저장\'을 누르시면 사진이 변경됩니다.')
                },
                modiShopInfo: function() {
                    var param = this.shopInfo
                    param.oldImageList = this.oldImageList
                    param.bnAddrSido = $('#bnAddrSido')[0].value
                    param.bnAddrSigg = $('#bnAddrSigg')[0].value
                    param.bnAddrDtl = this.bnAddrFull
                    param.bnRegNo = this.bnRegNoND
                    param.bnPnNo = this.bnPnNoND
                    param.mktYn = this.boolToYn(this.mktChk)
                    param.dropbyYn = this.boolToYn(this.dropbyChk)
                    if (this.dropbyFree === 'true') param.dropbyCost = 0
                    cf_call("/shop/modiShopInfo", param, this.modiShopInfoCB)
                },
                modiShopInfoCB: function(rslt) {
                    if(rslt.rsltStat === "SUCC") {
                        alert("변경사항이 저장되었습니다.")
                        this.bnAddrBldg = ''
                        this.getShopInfo()
                    }
                },
                setPhoneMask: function(phoneNo) {
                    var areaCode = phoneNo.substring(0, 2)
                    if (areaCode === '02') {
                        this.phoneMask = this.phoneMaskSeoul
                    } else {
                        this.phoneMask = this.phoneMaskOther
                    }
                },
                getImagePath: function(fileTgt, fileName) {
                    if (fileName !== undefined && fileName !== null && fileName !== '') {
                        return '/imageSrc?fileName=' + fileName
                    } else {
                        if (fileTgt === 'shopimg') {
                            return '/images/shop/bnimg/shop.png'
                        }
                    }
                },
                ynToBool: function (ynVal) {
                    return ynVal === 'Y'
                },
                boolToYn: function (boolVal) {
                    if (boolVal) return 'Y'
                    return 'N'
                }
            },
            computed: {
                bnAddrFull: function() {
                    return $('#bnAddrStr')[0].value + ' ' + $('#bnAddrBldg')[0].value
                },
                bnRegNoND: function() {
                    return this.shopInfo.bnRegNo.replaceAll('-', '')
                },
                bnPnNoND: function() {
                    return this.bnPnNo.replaceAll('-', '')
                },
                disableDropbyCost: function() {
                    if (this.dropbyChk) return (this.dropbyFree === 'true')
                    return true
                }
            }
        })
    </script>
</div>
</html>