<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- shop-employees 고유 css -->
<th:block layout:fragment="css">
    <style>
        .btnM.colorWhite {
            background-color: #fff;
            border: 1px solid #a3daff;
            color: #0093e4;
        }

        /* 탭메뉴(line) */
        .tbMenuSub {
            height: 24px;
            border-bottom: 1px solid #0099e8;
        }

        .tbMenuSub>li {
            float: left;
            height: 23px;
            border: solid #dddddd;
            border-width: 1px 1px 0 0;
            background: #f5f5f5;
            border-radius: 3px 3px 0 0
        }

        .tbMenuSub li:first-child {
            border-left: 1px solid #dddddd;
        }

        .tbMenuSub li:first-child.on {
            margin-left: 0
        }

        .tbMenuSub>li>a {
            display: block;
            padding: 3px 15px 0;
            color: #555;
            font-size: 11px;
            font-weight: bold;
            cursor: pointer;
        }

        .tbMenuSub li.on {
            height: 24px;
            background: #fff;
            border-color: #0099e8;
            border-left: 1px solid #0099e8;
            margin: 0 0 0 -1px;
        }

        .tbMenuSub li.on a {
            color: #0099e8;
            padding-bottom: 4px;
            background: #fff;
            border-radius: 3px 3px 0 0
        }

        .tbMenuSub li.on+li {
            border-width: 1px 1px 0 0;
        }

        .tab_content {
            height: 717px;
        }

        /* 탭내용 */
        .tbMenuSubContent {
            display: none;
        }

        .tbMenuSubContent .tblWrapper {
            height: 130px;
        }

        .tbMenuSubContent.on {
            display: block;
        }

        .addMemberInfo {
            padding-top: 10px;
        }

        .addMemberInfo .listDot>li {
            color: #777;
            list-style: none;
            background-image: none;
            padding-left: 0;
        }

        .addMemberInfo .listDot>li b {
            color: #333;
        }

        .addMemberInfo .listDot.colorRed>li {
            color: #e74b3e;
        }

        .colorRed a {
            color: #e74b3e !important;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- contents -->
    <div class="sectionRight" id="content">
        <div class="contentWrap">
            <div class="onlyWideView">

                <div class="subHeader">
                    <div id="foldUnfold"><a href="#" class="btnFold"><span>좌측메뉴 접기/펴기</span></a></div>
                    <h2 class="h2"><img src="../images/cmmn/hidden.png" class="ico-plus" alt="아이콘">직원관리</h2>
                    <div class="pageLocation">
                        <span>매장 관리</span>&gt;<strong>직원관리</strong>
                    </div>
                </div>

                <div class="searchArea">
                    <ul>
                        <li class="txtSize2">
                            <label for="purchaes01">조회조건</label>
                            <select id="purchaes01">
                                <option value="">직원명</option>
                                <option value="">아이디</option>
                            </select>
                        </li>
                        <li class="txtSize2">
                            <input type="text" id="purchaes02" placeholder="검색어 입력" value="">
                        </li>
                    </ul>
                    <div class="btnSearch">
                        <a href="#" class="btnM colorBlue"><span>검색</span></a>
                    </div>
                </div>

                <!-- content group1 -->
                <div class="contentBlock">
                    <div class="contentTitle">
                        <div class="cTit">
                            직원 현황
                        </div>
                        <div class="cTitRight">
                            <a href="#popLayerEmployeeAdd"
                               class="btnM colorGreen popLayerEmployeeAdd_open"><span>직원추가</span></a>
                            <a href="#" class="btnM colorOrg"><span>퇴사처리</span></a>
                        </div>
                    </div>
                    <!-- slide content -->
                    <div class="contentDetail slideTogglebox">
                        <div class="tHeadScrollBG">
                            <div class="tHeadScroll">
                                <table class="tblList tHead">
                                    <colgroup>
                                        <col style="width:56px">
                                        <col style="width:12%">
                                        <col style="width:*">
                                        <col style="width:*">
                                        <col style="width:12%">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td scope="col"><input type="checkbox" title="전체 선택"></td>
                                        <td scope="col">직원명</td>
                                        <td scope="col">아이디</td>
                                        <td scope="col">회원권한</td>
                                        <td scope="col">등록자</td>
                                        <td scope="col">최종변경일시</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tBodyScroll">
                            <table class="tblList tBody trClick">
                                <caption>납품 제품 사전 등록 현황</caption>
                                <colgroup>
                                    <col style="width:56px">
                                    <col style="width:12%">
                                    <col style="width:*">
                                    <col style="width:*">
                                    <col style="width:12%">
                                    <col style="width:*">
                                </colgroup>
                                <thead>
                                <tr>
                                    <td scope="col"><input type="checkbox" title="전체 선택"></td>
                                    <td scope="col">직원명</td>
                                    <td scope="col">아이디</td>
                                    <td scope="col">회원권한</td>
                                    <td scope="col">등록자</td>
                                    <td scope="col">최종변경일시</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="alignC"><input type="checkbox" title="행 선택"></td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">1111@company.com</td>
                                    <td class="alignC">대표</td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">2020-06-28 12:00</td>
                                </tr>
                                <tr class="checkedItem">
                                    <td class="alignC"><input type="checkbox" title="행 선택"></td>
                                    <td class="alignC">직원2</td>
                                    <td class="alignC">2222@company.com</td>
                                    <td class="alignC">권한1</td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">2020-06-28 12:30</td>
                                </tr>
                                <tr>
                                    <td class="alignC"><input type="checkbox" title="행 선택"></td>
                                    <td class="alignC">직원3</td>
                                    <td class="alignC">3333@company.com</td>
                                    <td class="alignC">권한2</td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">2020-06-28 12:10</td>
                                </tr>
                                <tr>
                                    <td class="alignC"><input type="checkbox" title="행 선택"></td>
                                    <td class="alignC">직원4</td>
                                    <td class="alignC">4444@company.com</td>
                                    <td class="alignC">권한1</td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">2020-06-28 12:50</td>
                                </tr>
                                <tr>
                                    <td class="alignC"><input type="checkbox" title="행 선택"></td>
                                    <td class="alignC">직원5</td>
                                    <td class="alignC">5555@company.com</td>
                                    <td class="alignC">권한1</td>
                                    <td class="alignC">직원1</td>
                                    <td class="alignC">2020-06-28 12:04</td>
                                </tr>
                                <!-- 결과없음 -->
                                <tr class="errorMessage">
                                    <td colspan="6">
                                        <div class="errorTxt">
                                            <span>항목이 없습니다.</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //slide content -->
                </div>
                <!-- //content group1 -->


                <!-- content group2 -->
                <!-- 2016-08-18 : tr 행 추가 : id="clickPick / href="#clickPick" / id="goodsAddRow" 추가   -->
                <div class="contentBlock" id="">
                    <div class="contentTitle">
                        <div class="cTit">
                            직원정보수정
                        </div>
                    </div>
                    <!-- TAB -->
                    <div class="tabToggleWrap">
                        <!-- Tab Menu -->
                        <ul class="tbMenuSub">
                            <li class="on" data-target="pass"><a><span>비밀번호 재발급</span></a></li>
                            <li data-target="perm"><a><span>레벨 권한 변경</span></a></li>
                        </ul>

                        <div style="height: 20px;"></div>

                        <!-- Tab1 -->
                        <div class="tbMenuSubContent on" id="tab_pass">
                            <h3 class="tts">비밀번호 재발급</h3>
                            <!-- content -->
                            <div class="contentDetail">
                                <table class="tblDataRow mb15">
                                    <colgroup>
                                        <col style="width:140px">
                                        <col style="width:*">
                                        <col style="width:140px">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>비밀번호 설정<span class="icoMust"><em>필수</em></span></th>
                                        <td><input class="wPer" type="text" id="" placeholder="숫자 6자리 기입" value=""></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호 확인<span class="icoMust"><em>필수</em></span></th>
                                        <td><input class="wPer" type="text" id="" placeholder="위와 동일하게 기입" value=""></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //content -->
                            <div class="btnWrapper">
                                <a href="#" class="btnM colorSky"><span>비밀번호 수정</span></a>
                            </div>
                        </div>

                        <!-- Tab2 -->
                        <div class="tbMenuSubContent" id="tab_perm">
                            <h3 class="tts">레벨 권한 변경</h3>

                            <!-- content -->
                            <div class="contentDetail">
                                <table class="tblDataRow mb15">
                                    <colgroup>
                                        <col style="width:140px">
                                        <col style="width:*">
                                        <col style="width:140px">
                                        <col style="width:*">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th>회원 권한<span class="icoMust"><em>필수</em></span></th>
                                        <td>
                                            <select id="">
                                                <option value="">권한1</option>
                                                <option value="">권한2</option>
                                                <option value="">권한3</option>
                                            </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //content -->
                            <div class="btnWrapper">
                                <a href="#" class="btnM colorSky"><span>직원권한 수정</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- //TAB -->
                </div>
                <!-- //content group2 -->

            </div>
        </div>
    </div>
    <!-- //contents -->
</div>

<div layout:fragment="layer">
    <!-- 팝업: 직원등록 -->
    <div class="layerWrapper layerSizeM" id="popLayerEmployeeAdd" style="display:inherit !important">
        <div class="layerHeader">
            <strong>직원등록</strong>
            <a href="#" class="btnClose popLayerEmployeeAdd_close"><img src="../images/cmmn/btn-layer-close.png"
                                                                        alt="창닫기"></a>
        </div>
        <div class="layerContainer">
            <div class="layerContent">

                <!-- 컨텐츠 -->
                <div class="guidanceWrapper">
                    <table class="tblDataRow">
                        <caption>직원등록</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col style="width:*">
                            <col style="width:90px">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <input class="wPer" type="text" id="" placeholder="직원 이메일 기입" value="">
                            </td>
                            <td><a href="#" class="btnS colorWhite"><span>중복체크</span></a></td>
                        </tr>
                        <tr>
                            <th>초기 비밀번호</th>
                            <td>
                                <input class="wPer" type="text" id="" placeholder="숫자 6자리 기입" value="">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>초기 비밀번호 확인</th>
                            <td>
                                <input class="wPer" type="text" id="" placeholder="위와 동일하게 기입" value="">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>레벨 권한</th>
                            <td>
                                <select class="wPer" id="">
                                    <option value="">레벨1</option>
                                    <option value="">레벨2</option>
                                    <option value="">레벨3</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>직원명</th>
                            <td><input class="wPer" type="text" id="" placeholder="직원명 기입" value=""></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //컨텐츠 -->
                <div class="btnWrapper">
                    <a href="#" class="btnL colorBlue popLayerEmployeeAdd_close"><span>등록</span></a>
                </div>
            </div>

        </div>
    </div>
    <!-- //팝업: 직원등록 -->

    <script type="text/javascript">
        $(function () {
            // layer
            if ($(".layerWrapper").length) {
                //개통결과등록
                $('#popLayerEmployeeAdd').popup();
            }

            // tab
            $(".tbMenuSub li").click(function () {
                $(".tbMenuSub li").removeClass("on");
                $(this).addClass("on");

                var tabName = $(this).attr("data-target");

                $(".tbMenuSubContent").removeClass("on");
                $("#tab_" + tabName).addClass("on");
            });
        });
    </script>
</div>
</html>